.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  z-index: 5001;
}

.optionsMenuBackdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.overlayBox {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlayPanelBg {
  filter: drop-shadow(0 0 0.5em rgba(0, 0, 0, 1));
  -webkit-user-drag: none;
}

.overlalPanelTitle {
  position: absolute;
  top: 5.5%;
  margin-left: -3%;
  font-size: 1.4em;

  text-align: center;
  color: white;
  font-family: "headerFont";
  background: -webkit-linear-gradient(#f5f2e6, #a8a075);
  -webkit-text-stroke: 2px #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-weight: bold;
}

.closeMenuButtonBox {
  position: absolute;
  top: 2.1%;
  right: 0.8%;
}

.closeMenuButton {
  -webkit-user-drag: none;
  position: relative;
  z-index: 1;
  transition: all 0.2s;
  --closeOpacity: 0;
}

.closeMenuButton:hover {
  --closeOpacity: 1;
}

.activeBtn {
  position: absolute;
  left: 0;
  opacity: var(--closeOpacity);
}

.absoluteLeftSide {
  position: absolute;
  top: 13%;
  left: 4.5%;
}

.absoluteRightSide {
  position: absolute;
  top: 13%;
  right: 5%;
}

.boxRelativeSide {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

// Ability cards
.playerBottomCard {
  width: 0%;
  -webkit-transform: translate(0, 0%);
  -ms-transform: translate(0, 0%);
  transform: translate(0, 0%);
  -webkit-animation: cardFadeUp 800ms;
  animation: cardFadeUp 800ms;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transition: filter 0.2s;
  -o-transition: filter 0.2s;
  transition: filter 0.2s;
}

.cardBorder {
  padding: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5%;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.295), rgba(0, 0, 0, 0.295));
  background-image: -o-linear-gradient(
    rgba(0, 0, 0, 0.295),
    rgba(0, 0, 0, 0.295)
  );
  z-index: 1;
}

.cardBorder::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.295), rgba(0, 0, 0, 0.295));
  background-image: -o-linear-gradient(
    rgba(0, 0, 0, 0.295),
    rgba(0, 0, 0, 0.295)
  );
  z-index: -1;
  border-radius: 5%;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}

.darkenCard {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-filter: brightness(0.5);
  filter: brightness(0.5);
}

.noClickCard {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cardBackgroundImage {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-user-drag: none;
  -webkit-user-drag: none;
  border-radius: 5%;
}

.wildCardSuites {
  width: 96%;
  height: 96%;
  position: absolute;
  top: 2%;
  right: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  border-radius: 3%;
}

.bottomWildCard {
  width: 94%;
  height: 96%;
  left: 3%;
  right: 3%;
  top: 2%;
}

.bottomAbilityStuff {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.abilitySuitsBox {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 2%;
  -moz-column-gap: 2%;
  column-gap: 2%;
  padding-right: 4%;
}

.abilitySuitsBoxHover {
  position: absolute;
  top: 0.5em;
  right: -1.2em;
  scale: 0.9;
}

.abilitySuit {
  width: 10%;
}

.paperBg {
  background: url(~src/assets/paper.png);
}

.paperBgRare {
  background: url(~src/assets/rarePaper.png);
}

.paperBgLegendary {
  background: url(~src/assets/goldPaper.png);
}

.paperBgEnemy {
  background: url(~src/assets/paper.png);
  z-index: 11 !important;
}

.abilityTitle {
  position: relative;
  width: 100%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-position: center;
  background-position: 50% 12%;
  font-size: 100%;
  z-index: 2;
}

.abilityDescription {
  width: 100%;
  height: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-position: bottom;
  background-position: 50% 90%;
  font-size: 100%;
  z-index: 2;
}

.abilityTitleText {
  position: absolute;
  top: -1%;
  padding-left: 4%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.abilityBorder1 {
  position: absolute;
  background-position: top;
  background-position: 50% -80%;
  width: 3%;
  top: 0;
  right: 0;
  height: 100%;
}

.abilityBorder2 {
  position: absolute;
  background-position: top;
  background-position: 50% -80%;
  width: 3%;
  top: 0;
  left: 0;
  height: 100%;
}

.abilityBorder3 {
  position: absolute;
  background-position: top;
  background-position: 50% 30%;
  height: 3%;
  left: 0;
  bottom: 0;
  width: 100%;
}

.abilityBorder4 {
  position: absolute;
  background-position: top;
  background-position: 50% 30%;
  height: 3%;
  left: 0;
  bottom: 0;
  width: 100%;
}

.abilityDescription {
  position: relative;
}

.abilityDescriptionLevel {
  position: absolute;
  top: -25%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.levelText {
  font-size: 100%;
  border-radius: 5%;
  background-position: center;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.377);
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.377);
  padding: 3%;
}

.abilityDescriptionText {
  width: 100%;
  text-align: start;
  padding-left: 4%;
  padding-right: 4%;
  font-size: 1.3em;
}

.abilityTitlePlayer {
  position: relative;
  z-index: 12 !important;
  background-position: 50% 5%;
  height: 3%;
  font-size: 90%;
}

.paperBgPlayer1 {
  background-position: 50% 25%;
  background-size: cover;
  z-index: 11 !important;
}

.paperBgPlayer2 {
  background-position: 50% 25%;
  background-size: cover;
  z-index: 11 !important;
}

.paperBgPlayer3 {
  background-position: 50% 9%;
  z-index: 11 !important;
}

// Cards container
.cardsListBox {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 98.5%;
}

.cardsList {
  width: 90%;
  height: 79%;
  padding-top: 11%;
  padding-bottom: 3%;
  padding-left: 1.5%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 2%;
  row-gap: 7%;
}

.bottomCard {
  position: relative;
  width: 30.5%;
  font-size: 0.8em;
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

.bottomCard:active {
  scale: 0.98;
}

.rightCard .cardBorder {
  background-image: none !important;
}

.rightCard .bottomAbilityStuff {
  box-shadow: 0 0 0.2em 0.2em rgba(0, 0, 0, 0.514);
}

.rightCard .abilityDescriptionText {
  font-size: 1em;
}

.rightCard .bottomCard:active {
  scale: 1;
}

.fancyScrollBar {
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.fancyScrollBar::-webkit-scrollbar {
  border-radius: 1em;
  width: 20px;
}

.fancyScrollBar::-webkit-scrollbar-track {
  border-radius: 1em;
}

.fancyScrollBar::-webkit-scrollbar-thumb {
  background-color: #e4e4e4;
  border-radius: 1em;
  // box-shadow: inset 2px 2px 0.6em 2px #000, 0 0 0.2em 2px #000;
  box-shadow: inset 2px 2px 0.6em 2px #000, inset 2px 2px 0.6em 2px #0000008c;
}

.absoluteCardsSortBtn {
  position: absolute;
  top: 3.5%;
  left: 5%;
  z-index: 5;
}

.btnText {
  position: absolute;
  text-align: center;
  color: white;
  font-family: "headerFont";
  background: -webkit-linear-gradient(#f5f2e6, #a8a075);
  -webkit-text-stroke: 1px #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-weight: bold;
  font-size: 0.8em;
}

.absoluteCardsSortText {
  position: absolute;
  top: 2.5%;
  left: 22%;
  z-index: 5;
  scale: 0.8;
}

.absoluteCardsCountText {
  position: absolute;
  top: 2.5%;
  right: -1%;
  z-index: 5;
  scale: 0.8;
}

.relativeBoxContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0 0.3em 0.3em black);
  transition: all 0.1s;
  -webkit-transform-style: preserve-3d;
}

.relativeBoxContainerHover:hover {
  scale: 1.1;
}
.relativeBoxContainerHover:active {
  transition: none;
  scale: 1;
}

.displayText {
  font-family: soho;
  font-style: italic;
  color: #e9e9b2;
  font-size: 1.7em;
  margin-bottom: 0.2em;
  position: absolute;
}

.displayCountText {
  font-family: soho;
  font-style: italic;
  color: #e9e9b2;
  font-size: 1.7em;
  margin-bottom: 0.2em;
  position: absolute;
}

.smallerSide {
  scale: 0.9;
}

.smallerSideBtn:hover {
  scale: 1 !important;
}

.smallerSideBtn:active {
  scale: 0.9 !important;
}

.cardsListBoxRight {
  position: absolute;
  top: 28%;
  left: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 98.5%;
}

.cardsListRight {
  width: 100%;
  height: 82%;
  padding-top: 9%;
  padding-bottom: 3%;
  display: flex;
  align-items: center;
  flex-direction: column;
  column-gap: 1%;
  row-gap: 1%;
}

.rightCard {
  width: 75.8%;
  position: relative;
  margin-top: -42%;
  display: flex;
  justify-content: center;
}

.cardRelative {
  display: flex;
  justify-content: center;
}

.absoluteRightCard {
  position: absolute;
  left: -75%;
}

.absoluteHoverBox {
  position: absolute;
  top: -65%;
  left: 15%;
  width: 70%;
  height: 164%;
  z-index: 9999;
  border-radius: 1%;
  transition: all 0.3s;
}

.absoluteHoverBox:hover {
  background: #00000025;
}

.absoluteHoverBox:active {
  background: #00000087;
}

.menuBtnBox {
  position: absolute;
  bottom: 0.7%;
  right: 8.5%;
  z-index: 3;
}
.menuBtnRelative {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.1s;
  -webkit-transform-style: preserve-3d;
}
.menuBtnRelative:hover {
  scale: 1.1;
}
.menuBtnRelative:active {
  scale: 0.9;
}
.doneText {
  position: absolute;
  margin-left: 4%;
  text-align: center;
  color: white;
  font-family: "headerFont";
  background: -webkit-linear-gradient(#f5f2e6, #a8a075);
  -webkit-text-stroke: 2px #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-weight: bold;
}

.floatingText {
  position: absolute;
  bottom: 12%;
  right: -4%;
  z-index: 99;
}

.floatingRelative {
  position: relative;
}

.floatingTextMessage {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  width: 15em;
  left: -12.3em;
  top: -1.5em;
  color: rgb(223, 0, 0);
  text-shadow: 0 0 0.1em black;
  -webkit-user-select: none;
  user-select: none;
  text-align: center;
}

.fade {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  pointer-events: none !important;

  opacity: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

// Check Save

.checkSurrenderOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkSurrenderBox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1005;
}

.surrenderMenuBackdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1001;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1001;
}

.checkSurrenderBg {
  width: 70%;
}

.surrenderText {
  color: whitesmoke !important;
}

.surrenderTitle {
  position: absolute;
  top: 0;
  text-align: center;
  color: white;
  font-family: "headerFont";
  background: -webkit-linear-gradient(#f5f2e6, #c1b98e);
  -webkit-text-stroke: 1px #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-weight: bold;
  font-size: 0.9em;
  margin-top: 3em;
  height: 5em;
  width: 60%;
}

.surrenderBtns {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 3em;
  bottom: 2em;
  z-index: 6;
}

.finishButtonGo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  scale: 0.9;
}

.finishButton {
  width: 10em;
  -webkit-user-drag: none;
}

.finishButtonGo:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.finishButtonGo:active {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

.finishButtonText {
  position: absolute;
  margin-bottom: 2px;
}

.finishedBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  color: white;
}

.biggerText {
  font-size: 1.1em;
}

.newImageBox {
  position: absolute;
  width: 100%;
  top: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.newImage {
  width: 50%;
  animation: newHoverAnimation 1.5s infinite forwards linear;
}

@keyframes newHoverAnimation {
  0% {
    scale: 0.9;
  }

  50% {
    scale: 1;
  }

  100% {
    scale: 0.9;
  }
}

.fadeInNew {
  opacity: 1;
}

.fadeOutNew {
  opacity: 0;
}

.cardCount {
  position: absolute;
  top: -10%;
  right: -10%;
  font-style: italic;
  font-size: 1.8em;
  color: #e9e9b2;
  font-family: soho;
  z-index: 10;
  color: white;
  font-family: "headerFont";
  background: -webkit-linear-gradient(#f5f2e6, #a8a075);
  -webkit-text-stroke: 2px #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-weight: bold;
}

.smaller {
  -webkit-text-stroke: 1px #000;
  font-size: 0.7em;
}

.upgradeBox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -0.5em;
  z-index: 99;
  transition: all 0.3s;
  -webkit-transform-style: preserve-3d;
}

.upgradeBoxFinished:hover {
  scale: 1.1;
}

.upgradeBoxFinished:active {
  scale: 1;
}

.upgradeBg {
  width: 96%;
  height: 3em;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0.3em;
  box-shadow: inset 0 0 0.3em 0.3em black;
}

.upgradeBgFill {
  background: linear-gradient(#33fbf8 35%, #2f95e7 55%);
  position: absolute;
  left: 4.5%;
  border-radius: 0.3em;
  height: 80%;
}

.upgradeBgFinishedFill {
  background: linear-gradient(#54ff56 35%, #4ec851 55%);
}

.upgradeBgMaxFill {
  background: linear-gradient(#ebd44f 35%, #ceaf00 55%);
}

.upgradeCancelFill {
  background: linear-gradient(rgb(235, 79, 79) 35%, #c84e4e 55%);
}

.upgradeText {
  position: absolute;
  color: whitesmoke;
  font-size: 1.6em;
  font-weight: bold;
  text-shadow: 2px 2px #000000;
  font-family: soho;
  margin-bottom: 0.3em;
}

.upgradeArrow {
  position: absolute;
  left: -5%;
  width: 19%;
  z-index: 2;
}

.goldText {
  margin-right: 0.5em;
}

.goldCostImg {
  position: absolute;
  width: 15%;
  right: 15%;
  margin-bottom: 0.1em;
  z-index: 2;
  margin-right: 0.3em;
}

.absoluteUpgradeContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5555;
}

.relativeUpgradeContainer {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  column-gap: 5%;
  align-items: center;
  height: 80%;
}

.relativeUpgradeContainer .bottomCard {
  width: 17%;
}

.relativeUpgradeContainer .upgradeBox,
.relativeUpgradeContainer .playerBottomCard {
  scale: 1;
}

.absoluteBtnBox {
  width: 14em;
}

.absoluteBtnBox:hover {
  scale: 1.1 !important;
}

.absoluteBtnBox:active {
  scale: 1 !important;
}

.arrowSplitter {
  width: 10%;
}

.backdrop2 {
  background-color: rgba(0, 0, 0, 0.8);
}

.absoluteButton {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5%;
}

.playerPulseBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10em;
  left: 0.8em;
}

.playerPulse {
  width: 40%;
  height: 40%;
  border-radius: 0.5em;
  background-color: rgba(255, 255, 255, 0);
  pointer-events: none;
}

@keyframes pulseEffect {
  0% {
    scale: 0;
    -webkit-box-shadow: 0 0 0.3em 1em rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 0.3em 1em rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.7);
  }

  70% {
    -webkit-box-shadow: 0 0 10px 30px rgba(38, 132, 219, 0);
    box-shadow: 0 0 10px 30px rgba(38, 132, 219, 0);
    background-color: rgba(38, 132, 219, 0);
  }

  100% {
    scale: 3;
    -webkit-box-shadow: 0 0 10px 30px rgba(38, 132, 219, 0);
    box-shadow: 0 0 10px 30px rgba(38, 132, 219, 0);
    background-color: rgba(38, 132, 219, 0);
  }
}

.playerPulseAnimation {
  -webkit-animation: pulseEffect infinite;
  animation: pulseEffect infinite;
  -webkit-animation-duration: 2000ms;
  animation-duration: 2000ms;
  -webkit-animation-delay: 800ms;
  animation-delay: 800ms;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes tada {
  0% {
    transform: scale(1);
  }
  10%,
  20% {
    transform: scale(0.9) rotate(-3deg);
  }
  30%,
  50%,
  70%,
  90% {
    transform: scale(1.1) rotate(3deg);
  }
  40%,
  60%,
  80% {
    transform: scale(1.1) rotate(-3deg);
  }
  100% {
    transform: scale(1) rotate(0);
  }
}

.tadaEffect {
  animation: tada 1s both;
  animation-delay: 1s;
}
