<div
  class="container"
  *ngIf="open"
  [@fadeEnter]="{
    value: '',
    params: { duration: 300, delay: 0 }
  }"
  [@fadeOutLeave]="{
    value: '',
    params: { duration: 300, delay: 0 }
  }"
>
  <div class="optionsMenuBackdrop"></div>
  <div
    class="absoluteUpgradeContainer"
    *ngIf="showingUpgradeAnimation"
    [@fadeEnter]="{
      value: '',
      params: { duration: 300, delay: 0 }
    }"
    [@fadeOutLeave]="{
      value: '',
      params: { duration: 300, delay: 0 }
    }"
    (click)="hideUpgrade()"
  >
    <div class="optionsMenuBackdrop backdrop2"></div>
    <div class="relativeUpgradeContainer">
      <img
        [src]="
          rightUpgradeCard?.level === 2
            ? './assets/epic.png'
            : './assets/legendary.png'
        "
        class="newLogoPopup"
        [@zoomInEnter]="{
          value: '',
          params: {
            duration: 500,
            delay: 800
          }
        }"
      />
      <div
        class="bottomCard playerBottomCard"
        [@zoomInEnter]="{
          value: '',
          params: { duration: 1000, delay: 300, translate: '30px' }
        }"
      >
        <div class="playerPulseBox">
          <div class="playerPulse playerPulseAnimation"></div>
        </div>
        <div class="cardBorder tadaEffect">
          <img
            [src]="'./assets/abilities/' + rightUpgradeCard?.image"
            class="cardBackgroundImage"
          />
          <div class="wildCardSuites bottomWildCard bottomAbilityStuff">
            <div
              class="newImageBox"
              [ngClass]="{
                      fadeInNew: rightUpgradeCard?.isNew,
                      fadeOutNew: !rightUpgradeCard?.isNew,
                    }"
            >
              <img src="./assets/new.png" class="newImage" />
            </div>
            <div
              class="abilityTitle"
              [ngClass]="{
                    paperBg: rightUpgradeCard?.level === 1,
                        paperBgRare: rightUpgradeCard?.level === 2,
                        paperBgLegendary: rightUpgradeCard?.level === 3,
                  }"
            >
              <div class="abilityTitleText">
                {{ rightUpgradeCard?.name }}
                {{
                  rightUpgradeCard?.level ?? 0 > 1
                    ? "+" + ((rightUpgradeCard?.level ?? 0) - 1)
                    : ""
                }}
              </div>
              <div class="abilitySuitsBox">
                <img
                  *ngFor="
                    let cost of (rightUpgradeCard?.cost ?? [])[
                      rightUpgradeCard?.level ?? 0
                    ]
                  "
                  [src]="'./assets/' + cost + '.png'"
                  class="abilitySuit"
                />
              </div>
            </div>
            <div
              class="abilityBorder1"
              [ngClass]="{
                        paperBg: rightUpgradeCard?.level === 1,
                        paperBgRare: rightUpgradeCard?.level === 2,
                        paperBgLegendary: rightUpgradeCard?.level === 3,
                  }"
            ></div>
            <div
              class="abilityBorder2"
              [ngClass]="{
                        paperBg: rightUpgradeCard?.level === 1,
                        paperBgRare: rightUpgradeCard?.level === 2,
                        paperBgLegendary: rightUpgradeCard?.level === 3,
                  }"
            ></div>
            <div
              class="abilityDescription"
              [ngClass]="{
                        paperBg: rightUpgradeCard?.level === 1,
                        paperBgRare: rightUpgradeCard?.level === 2,
                        paperBgLegendary: rightUpgradeCard?.level === 3,
                  }"
            >
              <div class="abilityDescriptionText">
                {{
                  (rightUpgradeCard?.description ?? [])[
                    (rightUpgradeCard?.level ?? 1) - 1
                  ]
                }}
              </div>
            </div>
          </div>
        </div>
        <div
          class="upgradeBox"
          [ngClass]="{
            upgradeBoxFinished:
              (rightUpgradeCard?.trueNumberOwned ?? 0 > 2) &&
              rightUpgradeCard?.level !== 3,
          }"
        >
          <div class="upgradeBg"></div>
          <div
            class="upgradeBgFill upgradeBgMaxFill"
            [ngStyle]="{
              width: '91.5%'
            }"
          ></div>
          <img class="upgradeArrow" src="./assets/goldArrow.png" />
          <div class="upgradeText">Level Up!</div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="absoluteUpgradeContainer"
    *ngIf="showingUpgradeCard"
    [@fadeEnter]="{
      value: '',
      params: { duration: 300, delay: 0 }
    }"
    [@fadeOutLeave]="{
      value: '',
      params: { duration: 300, delay: 0 }
    }"
  >
    <div class="optionsMenuBackdrop backdrop2"></div>
    <div class="relativeUpgradeContainer">
      <div class="absoluteButton">
        <div
          class="upgradeBox absoluteBtnBox"
          [ngClass]="{
            upgradeBoxFinished:
              (rightUpgradeCard?.trueNumberOwned ?? 0 > 2) &&
              rightUpgradeCard?.level !== 3,
          }"
          (click)="cancelUpgrade()"
        >
          <div class="upgradeBg"></div>
          <div
            class="upgradeBgFill upgradeCancelFill"
            [ngStyle]="{
              width: '91.5%'
            }"
          ></div>
          <div class="upgradeText">Cancel</div>
        </div>
        <div
          class="upgradeBox absoluteBtnBox"
          [ngClass]="{
            upgradeBoxFinished:
              (rightUpgradeCard?.trueNumberOwned ?? 0 > 2) &&
              rightUpgradeCard?.level !== 3,
          }"
          (click)="upgradeCard()"
        >
          <div class="upgradeBg"></div>
          <div
            class="upgradeBgFill upgradeBgFinishedFill"
            [ngStyle]="{
              width: '91.5%'
            }"
          ></div>
          <img [src]="goldImage" class="goldCostImg" />
          <div class="upgradeText goldText">
            {{
              (this.leftUpgradeCard?.goldCost ?? [])[
                (this.leftUpgradeCard?.level ?? 1) - 1
              ]
            }}
          </div>
        </div>
      </div>
      <div class="bottomCard playerBottomCard">
        <div class="cardBorder">
          <img
            [src]="'./assets/abilities/' + leftUpgradeCard?.image"
            class="cardBackgroundImage"
          />
          <div class="wildCardSuites bottomWildCard bottomAbilityStuff">
            <div
              class="newImageBox"
              [ngClass]="{
                      fadeInNew: leftUpgradeCard?.isNew,
                      fadeOutNew: !leftUpgradeCard?.isNew,
                    }"
            >
              <img src="./assets/new.png" class="newImage" />
            </div>
            <div
              class="abilityTitle"
              [ngClass]="{
                    paperBg: leftUpgradeCard?.level === 1,
                        paperBgRare: leftUpgradeCard?.level === 2,
                        paperBgLegendary: leftUpgradeCard?.level === 3,
                  }"
            >
              <div class="abilityTitleText">
                {{ leftUpgradeCard?.name }}
                {{
                  (leftUpgradeCard?.level ?? 0) > 1
                    ? "+" + ((leftUpgradeCard?.level ?? 0) - 1)
                    : ""
                }}
              </div>
              <div class="abilitySuitsBox">
                <img
                  *ngFor="
                    let cost of (leftUpgradeCard?.cost ?? [])[
                      leftUpgradeCard?.level ?? 0
                    ]
                  "
                  [src]="'./assets/' + cost + '.png'"
                  class="abilitySuit"
                />
              </div>
            </div>
            <div
              class="abilityBorder1"
              [ngClass]="{
                        paperBg: leftUpgradeCard?.level === 1,
                        paperBgRare: leftUpgradeCard?.level === 2,
                        paperBgLegendary: leftUpgradeCard?.level === 3,
                  }"
            ></div>
            <div
              class="abilityBorder2"
              [ngClass]="{
                        paperBg: leftUpgradeCard?.level === 1,
                        paperBgRare: leftUpgradeCard?.level === 2,
                        paperBgLegendary: leftUpgradeCard?.level === 3,
                  }"
            ></div>
            <div
              class="abilityDescription"
              [ngClass]="{
                        paperBg: leftUpgradeCard?.level === 1,
                        paperBgRare: leftUpgradeCard?.level === 2,
                        paperBgLegendary: leftUpgradeCard?.level === 3,
                  }"
            >
              <div class="abilityDescriptionText">
                {{
                  (leftUpgradeCard?.description ?? [])[
                    (leftUpgradeCard?.level ?? 1) - 1
                  ]
                }}
              </div>
            </div>
          </div>
        </div>
        <div
          class="upgradeBox"
          [ngClass]="{
            upgradeBoxFinished:
              (leftUpgradeCard?.trueNumberOwned ?? 0) > 2 &&
              leftUpgradeCard?.level !== 3,
          }"
        >
          <div class="upgradeBg"></div>
          <div
            class="upgradeBgFill"
            [ngClass]="{
              upgradeBgFinishedFill:
                (leftUpgradeCard?.trueNumberOwned ?? 0) > 2,
              upgradeBgMaxFill: leftUpgradeCard?.level === 3
            }"
            [ngStyle]="{
              width:
                leftUpgradeCard?.level === 3
                  ? '91.5%'
                  : determineWidth(leftUpgradeCard!)
            }"
          ></div>
          <img
            class="upgradeArrow"
            src="./assets/blueArrow.png"
            *ngIf="
              (leftUpgradeCard?.trueNumberOwned ?? 0) <= 2 &&
              leftUpgradeCard?.level !== 3
            "
          />
          <img
            class="upgradeArrow"
            src="./assets/greenArrow.png"
            *ngIf="
              (leftUpgradeCard?.trueNumberOwned ?? 0) > 2 &&
              leftUpgradeCard?.level !== 3
            "
          />
          <div
            class="upgradeText"
            *ngIf="
              leftUpgradeCard?.level !== 3 &&
              ((leftUpgradeCard?.trueNumberOwned ?? 0) <= 2 ||
                currentUpgradeHover?.id !== leftUpgradeCard?.id)
            "
          >
            {{ leftUpgradeCard?.trueNumberOwned }}/3
          </div>
          <div
            class="upgradeText goldText"
            *ngIf="
              leftUpgradeCard?.level !== 3 &&
              (leftUpgradeCard?.trueNumberOwned ?? 0) > 2 &&
              currentUpgradeHover?.id === leftUpgradeCard?.id
            "
          >
            Upgrade
          </div>
          <div class="upgradeText" *ngIf="leftUpgradeCard?.level === 3">
            Max Level
          </div>
        </div>
      </div>
      <img src="./assets/upgradeRightArrow.png" class="arrowSplitter" />
      <div class="bottomCard playerBottomCard">
        <div class="cardBorder">
          <img
            [src]="'./assets/abilities/' + rightUpgradeCard?.image"
            class="cardBackgroundImage"
          />
          <div class="wildCardSuites bottomWildCard bottomAbilityStuff">
            <div
              class="newImageBox"
              [ngClass]="{
                      fadeInNew: rightUpgradeCard?.isNew,
                      fadeOutNew: !rightUpgradeCard?.isNew,
                    }"
            >
              <img src="./assets/new.png" class="newImage" />
            </div>
            <div
              class="abilityTitle"
              [ngClass]="{
                    paperBg: rightUpgradeCard?.level === 1,
                        paperBgRare: rightUpgradeCard?.level === 2,
                        paperBgLegendary: rightUpgradeCard?.level === 3,
                  }"
            >
              <div class="abilityTitleText">
                {{ rightUpgradeCard?.name }}
                {{
                  rightUpgradeCard?.level ?? 0 > 1
                    ? "+" + ((rightUpgradeCard?.level ?? 0) - 1)
                    : ""
                }}
              </div>
              <div class="abilitySuitsBox">
                <img
                  *ngFor="
                    let cost of (rightUpgradeCard?.cost ?? [])[
                      rightUpgradeCard?.level ?? 0
                    ]
                  "
                  [src]="'./assets/' + cost + '.png'"
                  class="abilitySuit"
                />
              </div>
            </div>
            <div
              class="abilityBorder1"
              [ngClass]="{
                        paperBg: rightUpgradeCard?.level === 1,
                        paperBgRare: rightUpgradeCard?.level === 2,
                        paperBgLegendary: rightUpgradeCard?.level === 3,
                  }"
            ></div>
            <div
              class="abilityBorder2"
              [ngClass]="{
                        paperBg: rightUpgradeCard?.level === 1,
                        paperBgRare: rightUpgradeCard?.level === 2,
                        paperBgLegendary: rightUpgradeCard?.level === 3,
                  }"
            ></div>
            <div
              class="abilityDescription"
              [ngClass]="{
                        paperBg: rightUpgradeCard?.level === 1,
                        paperBgRare: rightUpgradeCard?.level === 2,
                        paperBgLegendary: rightUpgradeCard?.level === 3,
                  }"
            >
              <div class="abilityDescriptionText">
                {{
                  (rightUpgradeCard?.description ?? [])[
                    (rightUpgradeCard?.level ?? 1) - 1
                  ]
                }}
              </div>
            </div>
          </div>
        </div>
        <div
          class="upgradeBox"
          [ngClass]="{
            upgradeBoxFinished:
              (rightUpgradeCard?.trueNumberOwned ?? 0 > 2) &&
              rightUpgradeCard?.level !== 3,
          }"
        >
          <div class="upgradeBg"></div>
          <div
            class="upgradeBgFill upgradeBgMaxFill"
            [ngStyle]="{
              width: '91.5%'
            }"
          ></div>
          <img class="upgradeArrow" src="./assets/goldArrow.png" />
          <div class="upgradeText">Level Up!</div>
        </div>
      </div>
    </div>
  </div>
  <div class="overlayBox">
    <img class="overlayPanelBg" src="./assets/wideMenu.png" />
    <div class="overlalPanelTitle">Deck</div>
    <div class="menuBtnBox">
      <div class="menuBtnRelative" (click)="saveDeck()">
        <img src="./assets/menuBtn.png" class="menuBtn" />
        <div class="doneText">Save</div>
      </div>
    </div>
    <!-- Floating text -->
    <div class="floatingText">
      <div class="floatingRelative" *ngFor="let item of errorList">
        <div
          class="floatingTextMessage"
          [ngClass]="{
            fade: errorListInactive.includes(item.id)
          }"
          [@fadeEnter]="{
            value: '',
            params: { duration: 1000, delay: 0, translate: '30px' }
          }"
          [@fadeOutLeave]
        >
          {{ item.message }}
        </div>
      </div>
    </div>
    <div class="absoluteLeftSide">
      <div class="boxRelativeSide">
        <img src="./assets/leftBox.png" />
        <div class="absoluteCardsSortBtn">
          <div
            class="relativeBoxContainer relativeBoxContainerHover"
            (click)="nextSort()"
          >
            <img src="./assets/button.png" />
            <div class="btnText">Sort By</div>
          </div>
        </div>
        <div class="absoluteCardsSortText">
          <div class="relativeBoxContainer">
            <img src="./assets/shopBtnBg.png" />
            <div class="displayText">{{ currentSort }}</div>
          </div>
        </div>
        <div class="cardsListBox">
          <div class="cardsList fancyScrollBar" #container>
            <div
              class="bottomCard playerBottomCard"
              *ngFor="let card of abilityCards; index as i; trackBy: trackById"
              #activeAbilityCards
              (dblclick)="addCardToHand(card)"
              (mouseenter)="setIsNewFalseCard(card)"
              (mouseleave)="currentUpgradeHover = undefined"
            >
              <div
                class="cardBorder"
                [ngClass]="{
                  darkenCard: !card.owned || (card.inHand && card.owned)
                }"
              >
                <img
                  [src]="'./assets/abilities/' + card.image"
                  class="cardBackgroundImage"
                />
                <div class="wildCardSuites bottomWildCard bottomAbilityStuff">
                  <div
                    class="newImageBox"
                    [ngClass]="{
                      fadeInNew: card.isNew,
                      fadeOutNew: !card.isNew,
                    }"
                  >
                    <img src="./assets/new.png" class="newImage" />
                  </div>
                  <div
                    class="abilityTitle"
                    [ngClass]="{
                    paperBg: card.level === 1,
                        paperBgRare: card.level === 2,
                        paperBgLegendary: card.level === 3,
                  }"
                  >
                    <div class="abilityTitleText">
                      {{ card.name }}
                      {{ card.level > 1 ? "+" + (card.level - 1) : "" }}
                    </div>
                    <div class="abilitySuitsBox">
                      <img
                        *ngFor="let cost of card.cost[card.level - 1]"
                        [src]="'./assets/' + cost + '.png'"
                        class="abilitySuit"
                      />
                    </div>
                  </div>
                  <div
                    class="abilityBorder1"
                    [ngClass]="{
                        paperBg: card.level === 1,
                        paperBgRare: card.level === 2,
                        paperBgLegendary: card.level === 3,
                  }"
                  ></div>
                  <div
                    class="abilityBorder2"
                    [ngClass]="{
                        paperBg: card.level === 1,
                        paperBgRare: card.level === 2,
                        paperBgLegendary: card.level === 3,
                  }"
                  ></div>
                  <div class="cardCount" *ngIf="card.numberOwned > 0">
                    <b class="smaller">x</b>{{ card.numberOwned }}
                  </div>
                  <div
                    class="abilityDescription"
                    [ngClass]="{
                        paperBg: card.level === 1,
                        paperBgRare: card.level === 2,
                        paperBgLegendary: card.level === 3,
                  }"
                  >
                    <div class="abilityDescriptionText">
                      {{ card.description[card.level - 1] }}
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="upgradeBox"
                [ngClass]="{
                  upgradeBoxFinished:
                    card.trueNumberOwned > 2 && card.level !== 3,
                  darkenCard:
                    (!card.owned || (card.inHand && card.owned)) &&
                    card.trueNumberOwned <= 2
                }"
                (click)="startUpgradeCard(card)"
              >
                <div class="upgradeBg"></div>
                <div
                  class="upgradeBgFill"
                  [ngClass]="{
                    upgradeBgFinishedFill: card.trueNumberOwned > 2,
                    upgradeBgMaxFill: card.level === 3
                  }"
                  [ngStyle]="{
                    width: card.level === 3 ? '91.5%' : determineWidth(card)
                  }"
                ></div>
                <img
                  class="upgradeArrow"
                  src="./assets/blueArrow.png"
                  *ngIf="card.trueNumberOwned <= 2 && card.level !== 3"
                />
                <img
                  class="upgradeArrow"
                  src="./assets/greenArrow.png"
                  *ngIf="card.trueNumberOwned > 2 && card.level !== 3"
                />
                <div
                  class="upgradeText"
                  *ngIf="
                    card.level !== 3 &&
                    (card.trueNumberOwned <= 2 ||
                      currentUpgradeHover?.id !== card.id)
                  "
                >
                  {{ card.trueNumberOwned }}/3
                </div>
                <div
                  class="upgradeText goldText"
                  *ngIf="
                    card.level !== 3 &&
                    card.trueNumberOwned > 2 &&
                    currentUpgradeHover?.id === card.id
                  "
                >
                  Upgrade
                </div>
                <div class="upgradeText" *ngIf="card.level === 3">
                  Max Level
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="absoluteRightSide">
      <div class="boxRelativeSide">
        <img src="./assets/rightBox.png" />
        <div class="absoluteCardsSortBtn">
          <div
            class="relativeBoxContainer relativeBoxContainerHover smallerSide smallerSideBtn"
            (click)="resetDeck()"
          >
            <img src="./assets/button.png" />
            <div class="btnText">Reset</div>
          </div>
        </div>
        <div class="absoluteCardsCountText">
          <div class="relativeBoxContainer smallerSide">
            <img src="./assets/shopBtnBg.png" />
            <div class="displayCountText">{{ abilityHand.length }}/16</div>
          </div>
        </div>
        <div class="cardsListBoxRight">
          <div class="cardsListRight">
            <div
              class="rightCard"
              *ngFor="let card of abilityHand; index as i; trackBy: trackById"
            >
              <div
                class="cardRelative"
                [ngStyle]="{
                  'z-index':5 +i,
                }"
              >
                <div
                  class="bottomCard playerBottomCard rightCard absoluteRightCard"
                  [ngClass]="{
                    darkenCard: !card.owned || (card.inHand && card.owned)
                  }"
                  *ngIf="
                    currentHoveringCard?.id === card.id &&
                    currentIndex === i &&
                    abilityHand.length > 1
                  "
                >
                  <div class="cardBorder">
                    <img
                      [src]="'./assets/abilities/' + card.image"
                      class="cardBackgroundImage"
                    />
                    <div
                      class="wildCardSuites bottomWildCard bottomAbilityStuff"
                    >
                      <div
                        class="abilityTitle"
                        [ngClass]="{
                        paperBg: card.level === 1,
                        paperBgRare: card.level === 2,
                        paperBgLegendary: card.level === 3,
                      }"
                      >
                        <div class="abilityTitleText">
                          {{ card.name }}
                          {{ card.level > 1 ? "+" + (card.level - 1) : "" }}
                        </div>
                        <div class="abilitySuitsBox">
                          <img
                            *ngFor="let cost of card.cost[card.level - 1]"
                            [src]="'./assets/' + cost + '.png'"
                            class="abilitySuit"
                          />
                        </div>
                      </div>
                      <div
                        class="abilityBorder1"
                        [ngClass]="{
                        paperBg: card.level === 1,
                        paperBgRare: card.level === 2,
                        paperBgLegendary: card.level === 3,
                      }"
                      ></div>
                      <div
                        class="abilityBorder2"
                        [ngClass]="{
                        paperBg: card.level === 1,
                        paperBgRare: card.level === 2,
                        paperBgLegendary: card.level === 3,
                      }"
                      ></div>
                      <div
                        class="abilityDescription"
                        [ngClass]="{
                        paperBg: card.level === 1,
                        paperBgRare: card.level === 2,
                        paperBgLegendary: card.level === 3,
                      }"
                      >
                        <div class="abilityDescriptionText">
                          {{ card.description[card.level - 1] }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="absoluteHoverBox"
                  (mouseenter)="currentHoveringCard = card; currentIndex = i"
                  (mouseleave)="
                    currentHoveringCard = undefined; currentIndex = -10
                  "
                  (dblclick)="removeCardFromHand(card)"
                ></div>
                <div
                  class="bottomCard playerBottomCard rightCard"
                  [ngClass]="{
                    darkenCard: !card.owned || (card.inHand && card.owned)
                  }"
                >
                  <div class="cardBorder">
                    <img
                      [src]="'./assets/abilities/' + card.image"
                      class="cardBackgroundImage"
                    />
                    <div
                      class="wildCardSuites bottomWildCard bottomAbilityStuff"
                    >
                      <div
                        class="abilityTitle"
                        [ngClass]="{
                        paperBg: card.level === 1,
                        paperBgRare: card.level === 2,
                        paperBgLegendary: card.level === 3,
                      }"
                      >
                        <div class="abilityTitleText">
                          {{ card.name }}
                          {{ card.level > 1 ? "+" + (card.level - 1) : "" }}
                        </div>
                        <div class="abilitySuitsBox">
                          <img
                            *ngFor="let cost of card.cost[card.level - 1]"
                            [src]="'./assets/' + cost + '.png'"
                            class="abilitySuit"
                          />
                        </div>
                      </div>
                      <div
                        class="abilityBorder1"
                        [ngClass]="{
                        paperBg: card.level === 1,
                        paperBgRare: card.level === 2,
                        paperBgLegendary: card.level === 3,
                      }"
                      ></div>
                      <div
                        class="abilityBorder2"
                        [ngClass]="{
                        paperBg: card.level === 1,
                        paperBgRare: card.level === 2,
                        paperBgLegendary: card.level === 3,
                      }"
                      ></div>
                      <div
                        class="abilityDescription"
                        [ngClass]="{
                        paperBg: card.level === 1,
                        paperBgRare: card.level === 2,
                        paperBgLegendary: card.level === 3,
                      }"
                      >
                        <div class="abilityDescriptionText">
                          {{ card.description[card.level - 1] }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="closeMenuButtonBox" (click)="checkCloseMenu()">
      <img src="./assets/close.png" class="closeMenuButton" />
      <img src="./assets/closeActive.png" class="closeMenuButton activeBtn" />
    </div>
  </div>

  <div class="checkSurrenderOverlay">
    <div
      class="surrenderMenuBackdrop"
      *ngIf="areYouSurePopup"
      [@fadeEnter]="{
        value: '',
        params: { duration: 500, delay: 0 }
      }"
      [@fadeOutLeave]="{
        value: '',
        params: { duration: 500, delay: 0 }
      }"
    ></div>
    <div
      class="checkSurrenderBox"
      *ngIf="areYouSurePopup"
      [@fadeEnter]="{
        value: '',
        params: { duration: 500, delay: 0 }
      }"
      [@fadeOutLeave]="{
        value: '',
        params: { duration: 500, delay: 0 }
      }"
    >
      <img class="checkSurrenderBg" src="./assets/box.png" />
      <div class="surrenderTitle">
        Are you sure? All unsaved changes will be lost.
      </div>
      <div class="surrenderBtns">
        <div class="finishButtonGo" (click)="areYouSurePopup = false">
          <img class="finishButton" [src]="'./assets/button.png'" />
          <div class="finishButtonText btnText biggerText">Cancel</div>
        </div>
        <div class="finishButtonGo" (click)="closeMenu()">
          <img class="finishButton" [src]="'./assets/button.png'" />
          <div class="finishButtonText btnText biggerText">Continue</div>
        </div>
      </div>
    </div>
  </div>
</div>
