<div
  class="container"
  *ngIf="open"
  [@fadeEnter]="{
    value: '',
    params: { duration: 300, delay: 0 }
  }"
  [@fadeOutLeave]="{
    value: '',
    params: { duration: 300, delay: 0 }
  }"
>
  <div class="optionsMenuBackdrop"></div>
  <div class="overlayBox">
    <img class="overlayPanelBg" src="./assets/wideMenu.png" />
    <div class="overlalPanelTitle">Deck</div>
    <div class="menuBtnBox">
      <div class="menuBtnRelative" (click)="saveDeck()">
        <img src="./assets/menuBtn.png" class="menuBtn" />
        <div class="doneText">Save</div>
      </div>
    </div>
    <!-- Floating text -->
    <div class="floatingText">
      <div class="floatingRelative" *ngFor="let item of errorList">
        <div
          class="floatingTextMessage"
          [ngClass]="{
            fade: errorListInactive.includes(item.id)
          }"
          [@zoomInEnter]="{
            value: '',
            params: { duration: 1000, delay: 0, translate: '30px' }
          }"
          [@fadeOutLeave]
        >
          {{ item.message }}
        </div>
      </div>
    </div>
    <div class="absoluteLeftSide">
      <div class="boxRelativeSide">
        <img src="./assets/leftBox.png" />
        <div class="absoluteCardsSortBtn">
          <div
            class="relativeBoxContainer relativeBoxContainerHover"
            (click)="nextSort()"
          >
            <img src="./assets/button.png" />
            <div class="btnText">Sort By</div>
          </div>
        </div>
        <div class="absoluteCardsSortText">
          <div class="relativeBoxContainer">
            <img src="./assets/shopBtnBg.png" />
            <div class="displayText">{{ currentSort }}</div>
          </div>
        </div>
        <div class="cardsListBox">
          <div class="cardsList fancyScrollBar">
            <div
              class="bottomCard playerBottomCard"
              *ngFor="let card of abilityCards; index as i; trackBy: trackById"
              #activeAbilityCards
              (dblclick)="addCardToHand(card)"
              [ngClass]="{
                darkenCard: !card.owned || (card.inHand && card.owned)
              }"
            >
              <div class="cardBorder">
                <img
                  [src]="'./assets/abilities/' + card.image"
                  class="cardBackgroundImage"
                />
                <div class="wildCardSuites bottomWildCard bottomAbilityStuff">
                  <div class="abilityTitle paperBg">
                    <div class="abilityTitleText">{{ card.name }}</div>
                    <div class="abilitySuitsBox">
                      <img
                        *ngFor="let cost of card.cost"
                        [src]="'./assets/' + cost + '.png'"
                        class="abilitySuit"
                      />
                    </div>
                  </div>
                  <div class="abilityBorder1 paperBg"></div>
                  <div class="abilityBorder2 paperBg"></div>
                  <div class="abilityDescription paperBg">
                    <div class="abilityDescriptionLevel">
                      <div class="levelText paperBg">
                        Level {{ card.level }}
                      </div>
                    </div>
                    <div class="abilityDescriptionText">
                      {{ card.description }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="absoluteRightSide">
      <div class="boxRelativeSide">
        <img src="./assets/rightBox.png" />
        <div class="absoluteCardsSortBtn">
          <div
            class="relativeBoxContainer relativeBoxContainerHover smallerSide smallerSideBtn"
            (click)="resetDeck()"
          >
            <img src="./assets/button.png" />
            <div class="btnText">Reset</div>
          </div>
        </div>
        <div class="absoluteCardsCountText">
          <div class="relativeBoxContainer smallerSide">
            <img src="./assets/shopBtnBg.png" />
            <div class="displayCountText">{{ abilityHand.length }}/16</div>
          </div>
        </div>
        <div class="cardsListBoxRight">
          <div class="cardsListRight">
            <div
              class="rightCard"
              *ngFor="let card of abilityHand; index as i; trackBy: trackById"
            >
              <div
                class="cardRelative"
                [ngStyle]="{
                  'z-index':5 +i,
                }"
              >
                <div
                  class="bottomCard playerBottomCard rightCard absoluteRightCard"
                  [ngClass]="{
                    darkenCard: !card.owned || (card.inHand && card.owned)
                  }"
                  *ngIf="
                    currentHoveringCard?.id === card.id &&
                    abilityHand.length > 1
                  "
                >
                  <div class="cardBorder">
                    <img
                      [src]="'./assets/abilities/' + card.image"
                      class="cardBackgroundImage"
                    />
                    <div
                      class="wildCardSuites bottomWildCard bottomAbilityStuff"
                    >
                      <div class="abilityTitle paperBg">
                        <div class="abilityTitleText">{{ card.name }}</div>
                        <div class="abilitySuitsBox">
                          <img
                            *ngFor="let cost of card.cost"
                            [src]="'./assets/' + cost + '.png'"
                            class="abilitySuit"
                          />
                        </div>
                      </div>
                      <div class="abilityBorder1 paperBg"></div>
                      <div class="abilityBorder2 paperBg"></div>
                      <div class="abilityDescription paperBg">
                        <div class="abilityDescriptionLevel">
                          <div class="levelText paperBg">
                            Level {{ card.level }}
                          </div>
                        </div>
                        <div class="abilityDescriptionText">
                          {{ card.description }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="absoluteHoverBox"
                  (mouseenter)="currentHoveringCard = card"
                  (mouseleave)="currentHoveringCard = undefined"
                  (dblclick)="removeCardFromHand(card)"
                ></div>
                <div
                  class="bottomCard playerBottomCard rightCard"
                  [ngClass]="{
                    darkenCard: !card.owned || (card.inHand && card.owned)
                  }"
                >
                  <div class="cardBorder">
                    <img
                      [src]="'./assets/abilities/' + card.image"
                      class="cardBackgroundImage"
                    />
                    <div
                      class="wildCardSuites bottomWildCard bottomAbilityStuff"
                    >
                      <div class="abilityTitle paperBg">
                        <div class="abilityTitleText">{{ card.name }}</div>
                        <div class="abilitySuitsBox">
                          <img
                            *ngFor="let cost of card.cost"
                            [src]="'./assets/' + cost + '.png'"
                            class="abilitySuit"
                          />
                        </div>
                      </div>
                      <div class="abilityBorder1 paperBg"></div>
                      <div class="abilityBorder2 paperBg"></div>
                      <div class="abilityDescription paperBg">
                        <div class="abilityDescriptionLevel">
                          <div class="levelText paperBg">
                            Level {{ card.level }}
                          </div>
                        </div>
                        <div class="abilityDescriptionText">
                          {{ card.description }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="closeMenuButtonBox" (click)="checkCloseMenu()">
      <img src="./assets/close.png" class="closeMenuButton" />
      <img src="./assets/closeActive.png" class="closeMenuButton activeBtn" />
    </div>
  </div>

  <div class="checkSurrenderOverlay">
    <div
      class="surrenderMenuBackdrop"
      *ngIf="areYouSurePopup"
      [@fadeEnter]="{
        value: '',
        params: { duration: 500, delay: 0 }
      }"
      [@fadeOutLeave]="{
        value: '',
        params: { duration: 500, delay: 0 }
      }"
    ></div>
    <div
      class="checkSurrenderBox"
      *ngIf="areYouSurePopup"
      [@fadeEnter]="{
        value: '',
        params: { duration: 500, delay: 0 }
      }"
      [@fadeOutLeave]="{
        value: '',
        params: { duration: 500, delay: 0 }
      }"
    >
      <img class="checkSurrenderBg" src="./assets/box.png" />
      <div class="surrenderTitle">
        Are you sure you sure? All unsaved changes will be lost.
      </div>
      <div class="surrenderBtns">
        <div class="finishButtonGo" (click)="areYouSurePopup = false">
          <img class="finishButton" [src]="'./assets/button.png'" />
          <div class="finishButtonText btnText biggerText">Cancel</div>
        </div>
        <div class="finishButtonGo" (click)="closeMenu()">
          <img class="finishButton" [src]="'./assets/button.png'" />
          <div class="finishButtonText btnText biggerText">Continue</div>
        </div>
      </div>
    </div>
  </div>
</div>
