<div
  class="container"
  *ngIf="open"
  [@fadeEnter]="{
    value: '',
    params: { duration: 300, delay: 0 }
  }"
  [@fadeOutLeave]="{
    value: '',
    params: { duration: 300, delay: 0 }
  }"
>
  <div class="optionsMenuBackdrop"></div>
  <div class="overlayBox">
    <img class="overlayPanelBg" src="./assets/menuNoClose.png" />
    <div class="overlalPanelTitle">Difficulty</div>
    <div class="optionsBox">
      <img
        class="overlayImage"
        src="./assets/easy.png"
        (click)="chooseEasy()"
      />
      <img
        class="overlayImage"
        src="./assets/normal.png"
        (click)="chooseHard()"
      />
      <img
        src="./assets/difficultyText.png"
        *ngIf="showInformation"
        class="absoluteText"
      />
    </div>
  </div>
</div>
