:root {
  --currentSailingScaleX: 1,
  --currentFlyingScaleX: 1,
}

.container {
  background-color: black;
  height: 100vh;
  width: 100vw;
}

// Maps

.cardKingdomMap {
  width: 3840px !important;
  height: 2770px !important;
}

.prizeOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 8000;
}

.centerPrizeBox {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.optionsMenuBackdrop2 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.relativeBox {
  position: absolute;
}

.rayItem {
  position: absolute;
  scale: 1.2;
  z-index: 5;
}

.raysContainer {
  position: relative;
  width: 490px;
  height: 490px;
  margin: 100px 0 0 200px;
}

.rays {
  z-index: 1;
  /* with animation properties */
  background: url(~src/assets/rays.png) 0 0 no-repeat;
  -webkit-user-drag: none;
  position: absolute;
  top: -100px;
  left: -100px;
  width: 490px;
  height: 490px;

  /* microsoft ie */
  -webkit-animation-name: spin;
  animation-name: spin;
  -webkit-animation-duration: 40000ms;
  animation-duration: 40000ms; /* 40 seconds */
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

.raysMiddle {
  position: absolute;
  -webkit-user-drag: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 2;
  width: 50%;
  padding-left: 5%;
  padding-top: 5%;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  -webkit-animation: 2000ms hoveringReward infinite ease-in-out;
  animation: 2000ms hoveringReward infinite ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

@keyframes hoveringReward {
  0% {
    -webkit-transform: scale(1, 1) translate(0px, 0px);
    transform: scale(1, 1) translate(0px, 0px);
  }
  50% {
    -webkit-transform: scale(1.1, 1.1) translate(-3px, -3px);
    transform: scale(1.1, 1.1) translate(-3px, -3px);
  }
  100% {
    -webkit-transform: scale(1, 1) translate(0px, 0px);
    transform: scale(1, 1) translate(0px, 0px);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.raysTextTitle {
  position: absolute;
  top: -5%;
  left: 0;
  width: 50%;
  padding-left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  -webkit-text-stroke: 1px #000;
  color: whitesmoke;
}

.raysTextAmount {
  position: absolute;
  bottom: 40%;
  left: 0;
  width: 50%;
  padding-left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  -webkit-text-stroke: 1px #000;
  color: whitesmoke;
}

.raysContinueText {
  position: absolute;
  bottom: 10%;
  left: 0;
  width: 50%;
  padding-left: 5%;
  font-size: 0.7em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  -webkit-text-stroke: 1px #000;
  color: #939393;
  font-style: italic;
}

.pulseBox {
  width: 300px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  left: -5px;
  top: -10px;
}

.pulse {
  width: 5em;
  height: 5em;
  -webkit-animation: pulseEffect infinite;
  animation: pulseEffect infinite;
  -webkit-animation-duration: 2000ms;
  animation-duration: 2000ms;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  border-radius: 10em;
  background-color: rgba(255, 255, 255, 0);
  pointer-events: none;
}

// Maps end

.f-panzoom {
  width: 100%;
  height: 100%;
}

.overlayContainer {
  position: absolute;
  left: 1920px;
  top: 1385px;
  display: block;
}


.flagContainer,
.dotContainer {
  position: relative;
}

.flagBox,
.dotBox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 150;
}

.flagLevelBox,
.dotLevelBox {
  position: relative;
}

.flag {
  transition: all 0.3s;
  opacity: 1;
}

.hoverFlag,
.fadeFlag {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  filter: drop-shadow(0 0 0.5em rgb(255, 238, 0));
}

.zoomInFlag {
  animation: zoomInAnim forwards;
  animation-duration: 0.7s;
}

@keyframes zoomInAnim {
  0% {
    scale: 3;
    opacity: 0;
  }

  100% {
    scale: 1;
    opacity: 1;
  }
}

.currentLevelAnimation {
  animation: flagAnimation 2s infinite ease-in-out;
  animation-delay: 2s;
  transition: all 0.3s;
}

.showHoverIcon {
  animation: flagAnimation 2s infinite ease-in-out;
  transition: all 0.3s;
}

@keyframes flagAnimation {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}

.hoverFlag:hover {
  opacity: 1;
}

.devCurrentStepBox {
  position: absolute;
  z-index: 9999;
  scale: 0.8;
}

.flyingShipBox,
.sailingShipBox,
.birds1Box {
  position: absolute;
  top: 0;
  left: 0;
  animation: shipHover 2s forwards infinite ease-in-out;
}

.flyingShipBox {
  z-index: 152;
}

.birds1Box,
.birds2Box {
  z-index: 153;
}

.sailingShipContainer {
  position: relative;
  animation: shipSailing 60s forwards infinite linear;
}

.flipIconAnimationFlying {
  transform: scaleX(var(--currentFlyingScaleX));
}

.flipIconAnimationSailing {
  transform: scaleX(var(--currentSailingScaleX));
}

@keyframes shipSailing {
  // Go to right
  0% {
    transform: translate(1400px, 0px) scaleX(1);
    --currentSailingScaleX: 1;
  }

  // to right
  50% {
    transform: translate(1800px, 0px) scaleX(1);
    --currentSailingScaleX: 1;
  }
  51% {
    transform: translate(1800px, 0px) scaleX(-1);
    --currentSailingScaleX: -1;
  }

  // to left
  100% {
    transform: translate(1400px, 0px) scaleX(-1);
    --currentSailingScaleX: -1;
  }
}

.flyingShipContainer {
  position: relative;
  animation: shipFlying 90s forwards infinite linear;
}

@keyframes shipFlying {
  // Go to right
  0% {
    transform: translate(-400px, 400px) scaleX(-1);
    --currentFlyingScaleX: -1;
  }

  // to right
  50% {
    transform: translate(3200px, 400px) scaleX(-1);
    --currentFlyingScaleX: -1;
  }
  51% {
    transform: translate(3200px, 800px) scaleX(1);
    --currentFlyingScaleX: 1;
  }

  // to left
  100% {
    transform: translate(-400px, 800px) scaleX(1);
    --currentFlyingScaleX: 1;
  }
}

.flyingShipContainerShadow {
  position: relative;
  animation: shipFlyingShadow 90s forwards infinite linear;
}

@keyframes shipFlyingShadow {
  // Go to right
  0% {
    transform: translate(-400px, 600px) scaleX(-1);
  }

  // to right
  50% {
    transform: translate(3200px, 600px) scaleX(-1);
  }
  51% {
    transform: translate(3200px, 1000px) scaleX(1);
  }

  // to left
  100% {
    transform: translate(-400px, 1000px) scaleX(1);
  }
}

.flyingShipImage,
.sailingShipImage {
  width: 200px;
}

@keyframes shipHover {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, 10px);
  }

  100% {
    transform: translate(0, 0);
  }
}

.birds1Container {
  position: relative;
  animation: birdsFlying 45s forwards infinite linear;
}

@keyframes birdsFlying {
  // Go to right
  0% {
    transform: translate(-400px, 600px) scaleX(-1);
    opacity: 1;
  }

  // to right
  47% {
    opacity: 1;
    transform: translate(1900px, 2600px) scaleX(-1);
  }
  48% {
    opacity: 0;
    transform: translate(1900px, 2600px) scaleX(-1);
  }
  49% {
    opacity: 0;
    transform: translate(3200px, 1000px) scaleX(1);
  }
  50% {
    opacity: 1;
    transform: translate(3200px, 1000px) scaleX(1);
  }

  51% {
    opacity: 1;
    transform: translate(3200px, 1000px) scaleX(1);
  }

  // to left
  100% {
    opacity: 1;
    transform: translate(-400px, 1400px) scaleX(1);
  }
}

.birdsImage,
.cycloneImage,
.steamImage {
  width: 100px;
}

.birds2Container,
.cycloneContainer,
.tumbleweedContainer,
.steamContainer,
.birds3Container {
  position: relative;
}

.birds2Box {
  position: absolute;
  top: 930px;
  left: 2866px;
}

.birds3Box {
  position: absolute;
  top: 442px;
  left: 737px;
}

.cycloneBox {
  position: absolute;
  top: 1100px;
    left: 1360px;
  animation: cycloneMove 15s forwards infinite ease-in-out;
  z-index: 153;
}

@keyframes cycloneMove {
  0% {
    opacity: 0;
    transform: translate(-100px, 100px);
  }
  10% {
    transform: translate(-100px, 100px);
    opacity: 1;
  }

  30% {
    opacity: 1;
    transform: translate(0, 0);
  }
  60% {
    opacity: 1;
    transform: translate(100px, 0);
  }
  90% {
    opacity: 1;
    transform: translate(150px, 100px);
  }
  100% {
    opacity: 0;
    transform: translate(150px, 150px);
  }
}

.cycloneImage {
  filter: sepia(1) blur(1px);
  width: 60px;
}

.steamContainer {
  opacity: 0.3;
}

.steamBox1 {
  position: absolute;
  top: 250px;
  left: 2014px;
}

.steamBox2 {
  position: absolute;
  top: 1672px;
  left: 1775px;
}

.steamBox3 {
  position: absolute;
  top: 1724px;
  left: 1650px;
}

.steamBox4 {
  position: absolute;
  top: 1770px;
  left: 1907px;
}

.steamBox5 {
  position: absolute;
  top: 1738px;
  left: 2192px;
}

.steamBox6 {
  position: absolute;
  top: 1302px;
  left: 2554px;
}

.steamBox7 {
  position: absolute;
  top: 1272px;
  left: 2644px;
}

.steamBox8 {
  position: absolute;
  top: 1757px;
  left: 2084px;
}

.tumbleweedBox {
  position: absolute;
  top: 960px;
  left: 900px;
  animation: tumbleweedAnimation 10s forwards infinite linear;
  animation-delay: 5s;
  z-index: 153;
}

.tumbleweedBox2 {
  position: absolute;
  top: 1000px;
  left: 1000px;
  animation: tumbleweedAnimation 10s forwards infinite linear;
  z-index: 153;
}

.tumbleweedImage {
  width: 20px;
  animation: rotateTumbleweed 1s forwards infinite linear;
}

@keyframes rotateTumbleweed {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes tumbleweedAnimation {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  1% {
    opacity: 1;
  }

  10% {
    transform: translate(0, 0);
    opacity: 1;
  }

  60% {
    transform: translate(300px, 0);
    opacity: 1;
  }

  70% {
    opacity: 0;
  }

  80% {
    transform: translate(300px, 0);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}

.whirlpoolBox {
  position: absolute;
  top: 1221px;
    left: 2016px;
}

.whirlpoolContainer {
  position: relative;
}

.whirlpoolImage {
  width: 300px;
  animation: rotateTumbleweed 10s forwards infinite linear;
}

.overlayImageContainer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  pointer-events: none;
}

.overlayImageBox {
  position: relative;
}

.overlayBgGradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 3840px;
  height: 2770px;
  z-index: 1;
  background-color: #32005e73;
}

.overlayStars {
  position: absolute;
  top: 0;
  left: 0;
  width: 3840px;
  height: 2770px;
  z-index: 2;
}

.snowfallBox1 {
  position: absolute;
  top: 0px;
  left: 300px;
}

.snowfallBox2 {
  position: absolute;
  top: 0px;
  left: 800px;
}

.snowfallBox3 {
  position: absolute;
  top: 450px;
  left: 300px;
}

.snowfallBox4 {
  position: absolute;
  top: 450px;
  left: 800px;
}

.snowfallContainer {
  position: relative;
  opacity: 0.7;
}

.snowfallImage {
  width: 500px;
}

.fireworksBox {
  position: absolute;
  top: 1263px;
  left: 869px;
}

.fireworksContainer {
  position: relative;
}

.fireworksImage {
  width: 150px;
}

.castleflagBox {
  position: absolute;
  top: 951px;
  left: 578px;
}

.castleflagContainer {
  position: relative;
}

.castleflagImage {
  width: 43px;
  filter: invert(0.8);
}

.fireballBox1 {
  position: absolute;
  top: 0;
  left: 1850px;
}

.fireballBox2 {
  position: absolute;
  top: 0;
  left: 2000px;
}

.fireballBox3 {
  position: absolute;
  top: 0;
  left: 2175px;
}

.fireballContainer1 {
  position: relative;
  animation: fireballFalling 5s forwards infinite linear;
  opacity: 0;
}

.fireballContainer2 {
  position: relative;
  animation: fireballFalling 5s forwards infinite linear;
  animation-delay: 4s;
  opacity: 0;
}

.fireballContainer3 {
  position: relative;
  animation: fireballFalling 5s forwards infinite linear;
  animation-delay: 2s;
  opacity: 0;
}

@keyframes fireballFalling {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  20% {
    opacity: 0.5;
  }

  80% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
    transform: translate(200px, 500px);
  }
}

.fireballImage {
  transform: rotate(30deg);
  width: 100px;
}

.heroiconBox {
  position: absolute;
  top: 310px;
  left: 2897px;
  z-index: 99;
}

.heroiconContainer {
  position: relative;
  transition: all 0.3s;
}

.heroiconBorderImage {
  width: 70px;
  position: relative;
  z-index: 2;
  filter: drop-shadow(0 0 0.3em rgba(0, 0, 0, 0.527));
}

.checkmarkImage {
  position: absolute;
  top: 0;
  left: 1%;
  width: 98%;
  border-radius: 100%;
  z-index: 3;
  scale: 0.7;
}

.checkmarkImageFull {
  position: absolute;
  top: 0;
  left: 1%;
  width: 98%;
  border-radius: 100%;
  z-index: 3;
}

.heroiconImage {
  position: absolute;
  top: 0;
  left: 1%;
  width: 98%;
  border-radius: 100%;
  z-index: 1;
}

.heroiconBorderImageFinished {
  position: absolute;
  left: 0;
  top: 0;
}

.shownIcon {
  opacity: 1;
  transition: all 0.3s;
}

.disabledBox {
  pointer-events: none;
  user-select: none;
  opacity: 0;
}

.heroIconImageDisabled {
  filter: brightness(0.6);
}

.wheelspinBox {
  position: absolute;
  top: 1398px;
  left: 915px;
  scale: 0.8;
  z-index: 99;
}

.castleIconBox {
  position: absolute;
  top: 1113px;
  left: 462px;
  scale: 0.8;
  z-index: 99;
}

.castleIconBox2 {
  position: absolute;
  top: 1090px;
  left: 689px;
  scale: 0.8;
  z-index: 99;
}

.snowheroBox1 {
  position: absolute;
  top: 481px;
  left: 983px;
  z-index: 99;
}

.snowtownIconBox {
  position: absolute;
  top: 517px;
  left: 669px;
  z-index: 99;
  scale: 0.8;
}

.snowtownIconBox2 {
  position: absolute;
  top: 450px;
  left: 943px;
  z-index: 99;
  scale: 0.8;
}

.desertheroBox1 {
  position: absolute;
  top: 1079px;
  left: 655px;
  z-index: 99;
}

.deserttownIconBox {
  position: absolute;
  top: 597px;
  left: 2411px;
  z-index: 99;
  scale: 0.8;
}

.deserttownIconBox2 {
  position: absolute;
  top: 576px;
  left: 2613px;
  z-index: 99;
  scale: 0.8;
}

.firelandheroBox1 {
  position: absolute;
  top: 19px;
  left: 2139px;
  z-index: 99;
}

.firelandtownIconBox {
  position: absolute;
  top: 1743px;
  left: 1736px;
  z-index: 99;
  scale: 0.8;
}

.firelandtownIconBox2 {
  position: absolute;
  top: 1650px;
  left: 2050px;
  z-index: 99;
  scale: 0.8;
}

.absoluteHeroIcon {
  position: absolute;
  top: 28px;
  left: 40px;
  justify-content: center;
  display: flex;
  z-index: 151;
}

.sailingShipHeroIcon {
  position: absolute;
  top: 55px;
  left: 50px;
  justify-content: center;
  display: flex;
  z-index: 151;
}

.absoluteHeroIcon,
.sailingShipHeroIcon {
  transition: all 0.3s;
}

.heroiconContainer:hover {
  scale: 1.1;
}

.hoverShip:hover {
  scale: 1.1;
}