<div
  class="container"
  *ngIf="open"
  [@fadeEnter]="{
    value: '',
    params: { duration: 300, delay: 0 }
  }"
  [@fadeOutLeave]="{
    value: '',
    params: { duration: 300, delay: 0 }
  }"
>
  <div class="optionsMenuBackdrop"></div>
  <div class="overlayBox">
    <img class="overlayPanelBg" src="./assets/wideNoClose.png" />
    <div class="overlalPanelTitle">Campaign</div>
    <div class="optionsBox">
      <img
        class="overlayImage"
        src="./assets/normalCampaign.png"
        (click)="closeMenu()"
      />
      <img
        class="overlayImage"
        src="./assets/marioCampaign.png"
        (click)="closeMenu()"
      />
      <img
        class="overlayImage"
        src="./assets/linkCampaign.png"
        (click)="closeMenu()"
      />
    </div>
  </div>
</div>
