<div
  class="container"
  *ngIf="open"
  [@fadeEnter]="{
    value: '',
    params: { duration: 300, delay: 0 }
  }"
  [@fadeOutLeave]="{
    value: '',
    params: { duration: 300, delay: 0 }
  }"
>
  <div class="optionsMenuBackdrop"></div>
  <div class="overlayBox">
    <div class="wheel-container"></div>
    <img src="./assets/wheelImages/wheelCenter.png" class="centerWheelImage" />
    <div class="centerShadow"></div>
    <div class="centerShadowBorder"></div>
    <div class="centerShadowBorder2"></div>
    <div
      class="overlayText"
      *ngIf="!spinning"
      [@fadeEnter]="{
        value: '',
        params: { duration: 300, delay: 0 }
      }"
      [@fadeOutLeave]="{
        value: '',
        params: { duration: 300, delay: 0 }
      }"
    >
      Spin the wheel to win a prize!
    </div>
    <img
      src="./assets/wheelImages/wheelArrow.png"
      class="wheelArrow"
      *ngIf="spinning"
      [@fadeEnter]="{
        value: '',
        params: { duration: 300, delay: 0 }
      }"
      [@fadeOutLeave]="{
        value: '',
        params: { duration: 300, delay: 0 }
      }"
    />
  </div>
  <div class="buttons">
    <div class="buttonsBox">
      <div
        class="button"
        *ngIf="!spinning"
        [@fadeEnter]="{
          value: '',
          params: { duration: 300, delay: 0 }
        }"
        [@fadeOutLeave]="{
          value: '',
          params: { duration: 300, delay: 0 }
        }"
        (click)="closeMenu()"
      >
        <img src="./assets/cancel.png" class="btnImage" />
        <div class="btnText text">Cancel</div>
      </div>
      <div
        class="button"
        *ngIf="!spinning"
        [@fadeEnter]="{
          value: '',
          params: { duration: 300, delay: 0 }
        }"
        [@fadeOutLeave]="{
          value: '',
          params: { duration: 300, delay: 0 }
        }"
        (click)="spinWheel()"
      >
        <img src="./assets/continue.png" class="btnImage" />
        <div class="spinText text">200</div>
        <img src="./assets/gold.png" class="spinGold" />
      </div>
    </div>
  </div>
</div>
