<div
  class="container"
  *ngIf="open"
  [@fadeEnter]="{
    value: '',
    params: { duration: 300, delay: 0 }
  }"
  [@fadeOutLeave]="{
    value: '',
    params: { duration: 300, delay: 0 }
  }"
>
  <div class="optionsMenuBackdrop"></div>
  <div class="overlayBox">
    <div class="wheel-container"></div>
    <img src="./assets/wheelImages/wheelCenter.png" class="centerWheelImage" />
    <div class="centerShadow"></div>
    <div class="centerShadowBorder"></div>
    <div class="centerShadowBorder2"></div>
    <div class="overlayText">Spin the wheel to win a prize!</div>
    <div class="overlayText">Battle spin!</div>
  </div>
  <div class="buttons">
    <div class="buttonsBox">
      <div class="button">
        <img src="./assets/cancel.png" />
        <div class="btnText">Spin</div>
      </div>
      <div class="button">
        <img src="./assets/continue.png" />
        <div class="btnText">Cancel</div>
      </div>
    </div>
  </div>
</div>
