<div
  class="container"
  [ngClass]="{
    activeContainer: showDialog
  }"
  (click)="skipReadingCurrentDialog()"
>
  <div
    class="dialogBackdrop"
    *ngIf="showDialog"
    [@fadeEnter]="{
      value: '',
      params: { duration: 1000, delay: 0 }
    }"
    [@fadeOutLeave]="{
      value: '',
      params: { duration: 500, delay: 0 }
    }"
  ></div>
  <div
    [@fadeEnter]="{
      value: '',
      params: { duration: 500, delay: 500 }
    }"
    [@fadeOutLeave]="{
      value: '',
      params: { duration: 500, delay: 0 }
    }"
    *ngIf="
      activeDialog &&
      activeDialog.text &&
      activeDialog.text.length > 0 &&
      showDialog
    "
    class="relativeDialogBox"
    [ngClass]="{
      leftSide: !activeDialog?.player,
      rightSide: activeDialog?.player
    }"
  >
    <img src="./assets/dialogBox.png" class="dialogBoxImage" />
    <img src="./assets/dialogPlayers/avatar.png" class="dialogBoxPlayer" />
    <div class="dialogText">{{ activeDialog?.shownText }}</div>
  </div>
</div>
