<div
  class="container"
  *ngIf="open"
  [@fadeEnter]="{
    value: '',
    params: { duration: 300, delay: 0 }
  }"
  [@fadeOutLeave]="{
    value: '',
    params: { duration: 300, delay: 0 }
  }"
>
  <div class="optionsMenuBackdrop"></div>
  <div class="overlayBox">
    <img
      [ngStyle]="{
        'background-image':
          'url(./assets/backgrounds/' + missionDetails.image + ')'
      }"
      class="missionImage"
    />
    <img class="overlayPanelBg" src="./assets/mission.png" />
    <div class="overlalPanelTitle overlalPanelTitleLeft">
      {{ missionDetails.title }}
    </div>
    <div class="overlalPanelTitle overlalPanelTitleRight">Objective</div>
    <!-- Left side -->
    <div class="leftBox">
      <div class="relativeBox">
        <div class="rewardBox">
          <div class="rewardRelativeBox">
            <img src="./assets/battleBox.png" />
            <div class="battleBoxImages">
              <img
                src="./assets/battleStar.png"
                [ngClass]="{
                  dimStar: true
                }"
              />
              <img
                src="./assets/battleStar.png"
                [ngClass]="{
                  dimStar: true
                }"
              />
              <img
                src="./assets/battleStar.png"
                [ngClass]="{
                  dimStar: true
                }"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Right side -->
    <div class="rightBox">
      <div class="relativeBoxRight">
        <div class="textContainer">
          <div class="textRelativeBox">
            <img src="./assets/castle.png" class="castleImage" />
            <div class="firstLetter">G</div>
            <p class="battleText">
              eneral, a band of gnolls approaches! They are beasts who only
              think about looting and burning everything their wake, but they
              will be sorry they ever left their arid hills... For the queen!
            </p>
          </div>
        </div>

        <img src="./assets/startBattle.png" class="startBattleImage" />
      </div>
    </div>
    <div class="closeMenuButtonBox" (click)="closeMenu()">
      <img src="./assets/close.png" class="closeMenuButton" />
      <img src="./assets/closeActive.png" class="closeMenuButton activeBtn" />
    </div>
  </div>
</div>
