.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  z-index: 5001;
}

.optionsMenuBackdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.overlayBox {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlayPanelBg {
  filter: drop-shadow(0 0 0.5em rgba(0, 0, 0, 1));
  -webkit-user-drag: none;
}

.overlalPanelTitle {
  position: absolute;
  top: 5.5%;
  margin-left: -3%;
  font-size: 2em;
  text-align: center;
  color: #655836;
  font-style: italic;
}

.overlalPanelTitleLeft {
  left: 30.9%;
  top: 16%;
}

.overlalPanelTitleRight {
  right: 21.9%;
  top: 15.5%;
}

.closeMenuButtonBox {
  position: absolute;
  top: 2.8%;
  right: 0.6%;
}

.closeMenuButton {
  -webkit-user-drag: none;
  position: relative;
  z-index: 1;
  transition: all 0.2s;
  --closeOpacity: 0;
}

.closeMenuButton:hover {
  --closeOpacity: 1;
}

.activeBtn {
  position: absolute;
  left: 0;
  opacity: var(--closeOpacity);
}

.leftBox {
  position: absolute;
}

.relativeBox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

// left side
.leftBox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 30%;
  top: 20%;
  height: 62%;
  left: 17.5%;
  z-index: 2;
}

// right side
.rightBox {
  position: absolute;
  width: 30%;
  top: 18%;
  height: 63%;
  right: 11.4%;
}

.relativeBoxRight {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90%;
  top: 10%;
}

.missionImage {
  position: absolute;
  left: 20%;
  width: 25%;
  margin-top: -6%;
  height: 29%;
  background-position: center;
  background-size: cover;
}

.startBattleImage {
  position: relative;
  margin-right: 10.3%;
  top: 2%;
  transition: all 0.3s;
  z-index: 1;
}

.startBattleImage:hover {
  scale: 1.1;
}

.startBattleImage:active {
  scale: 1;
}

.textContainer {
  height: 100%;
}

.textRelativeBox {
  position: relative;
}

.firstLetter {
  position: absolute;
  top: 0.65em;
  left: 0.37em;
  font-size: 3em;
  color: #f6eaba;
  font-style: italic;
}

.battleText {
  font-style: italic;
  padding-top: 2em;
  padding-left: 0.7em;
}

.castleImage {
  float: left;
}

.relativeBoxRewards {
  position: relative;
  height: 78%;
}

.rewardBox {
  position: absolute;
  bottom: 0;
  left: -2em;
}

.rewardBoxOther {
  position: absolute;
  bottom: 0;
  right: -1.5em;
}

.rewardRelativeBox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  scale: 0.7;
}

.battleBoxImages {
  position: absolute;
  margin-bottom: 3%;
  width: 100%;
}

.goldImg {
  position: absolute;
  left: 1.5em;
  width: 2em;
}

.goldEstimateText {
  font-family: soho;
  color: #655836;
  font-size: 1.3em;
  position: relative;
  left: 3.5em;
}

.starExtra {
  margin-left: 3.8em;
}

.starBattle {
  width: 1.8em;
  margin-top: 0.2em;
  margin-left: 1em;
}

.darkImage {
  filter: grayscale(1) brightness(0.5);
}

.specialExtraStyles {
  position: absolute;
  bottom: 0;
  scale: 1.3;
  left: -6.65em;
}
