<div
  class="container"
  *ngIf="open"
  [@fadeEnter]="{
    value: '',
    params: { duration: 300, delay: 0 }
  }"
  [@fadeOutLeave]="{
    value: '',
    params: { duration: 300, delay: 0 }
  }"
>
  <div class="optionsMenuBackdrop"></div>
  <div class="overlayBox">
    <img
      [ngStyle]="{
        'background-image':
          'url(./assets/backgrounds/' + missionDetails?.image + ')'
      }"
      class="missionImage"
    />
    <img class="overlayPanelBg" src="./assets/mission.png" />
    <div class="overlalPanelTitle overlalPanelTitleLeft">
      {{ missionDetails?.title }}
    </div>
    <div class="overlalPanelTitle overlalPanelTitleRight">Objective</div>
    <!-- Left side -->
    <div class="leftBox">
      <div class="relativeBoxRewards">
        <div
          class="rewardBox"
          [ngClass]="{
            specialExtraStyles: isSpecialBattle
          }"
        >
          <div class="rewardRelativeBox">
            <img src="./assets/battleBox.png" />
            <div class="battleBoxImages">
              <img [src]="goldImage" class="goldImg" />
              <div class="goldEstimateText">
                {{ missionDetails?.rewardMin }} -
                {{ missionDetails?.rewardMax }}
              </div>
            </div>
          </div>
        </div>
        <div class="rewardBoxOther" *ngIf="!isSpecialBattle">
          <div class="rewardRelativeBox">
            <img src="./assets/battleBox.png" />
            <div class="battleBoxImages starExtra">
              <img
                src="./assets/battleStar.png"
                class="starBattle"
                [ngClass]="{
                  darkImage: !finished
                }"
              />
              <img
                src="./assets/battleStar.png"
                class="starBattle"
                [ngClass]="{
                  darkImage: !finished
                }"
              />
              <img
                src="./assets/battleStar.png"
                class="starBattle"
                [ngClass]="{
                  darkImage: !finished
                }"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Right side -->
    <div class="rightBox">
      <div class="relativeBoxRight">
        <div class="textContainer">
          <div class="textRelativeBox">
            <img src="./assets/castle.png" class="castleImage" />
            <div class="firstLetter">
              {{ missionDetails?.description?.substring(0, 1) }}
            </div>
            <div class="battleText">
              {{ missionDetails?.description?.substring(1) }}
            </div>
          </div>
        </div>

        <img
          src="./assets/startBattle.png"
          (click)="startBattle()"
          class="startBattleImage"
        />
      </div>
    </div>
    <div class="closeMenuButtonBox" (click)="closeMenu()">
      <img src="./assets/close.png" class="closeMenuButton" />
      <img src="./assets/closeActive.png" class="closeMenuButton activeBtn" />
    </div>
  </div>
</div>
