<div
  class="container"
  *ngIf="open"
  [@fadeEnter]="{
    value: '',
    params: { duration: 300, delay: 0 }
  }"
  [@fadeOutLeave]="{
    value: '',
    params: { duration: 300, delay: 0 }
  }"
>
  <div class="optionsMenuBackdrop"></div>
  <div class="overlayBox">
    <img class="overlayPanelBg" src="./assets/wideMenu.png" />
    <div class="overlalPanelTitle">Hero Room</div>
    <div class="closeMenuButtonBox" (click)="closeMenu()">
      <img src="./assets/close.png" class="closeMenuButton" />
      <img src="./assets/closeActive.png" class="closeMenuButton activeBtn" />
    </div>
    <!-- Hero Room -->
    <img src="./assets/heroList.png" class="heroList" />
    <img src="./assets/upgradeDetails.png" class="upgradeDetails" />
    <img
      src="./assets/heroBorder.png"
      class="heroBorder"
      [ngStyle]="{
      'background-image': 'url(./assets/players/link.png)',
    }"
    />
    <img src="./assets/upgradeMenu.png" class="upgradeMenu" />
    <div class="menuBtnbOX">
      <div class="menuBtnRelative" (click)="closeMenu()">
        <img src="./assets/menuBtn.png" class="menuBtn" />
        <div class="doneText">Done</div>
      </div>
    </div>
    <div class="levelsList">
      <div
        class="levelsColumn"
        *ngFor="let item of currentHero?.upgrades; trackBy: trackById"
      >
        <img
          src="./assets/upgradeBox.png"
          class="levelBox"
          [ngClass]="{
            displayLevelBox: item.level > 2
          }"
        />
        <img
          src="./assets/upgradeBox.png"
          class="levelBox"
          [ngClass]="{
            displayLevelBox: item.level > 1
          }"
        />
        <img
          src="./assets/upgradeBox.png"
          class="levelBox"
          [ngClass]="{
            displayLevelBox: item.level > 0 || true
          }"
        />
      </div>
    </div>
  </div>
</div>
