<div
  class="container"
  *ngIf="open"
  [@fadeEnter]="{
    value: '',
    params: { duration: 300, delay: 0 }
  }"
  [@fadeOutLeave]="{
    value: '',
    params: { duration: 300, delay: 0 }
  }"
>
  <div class="optionsMenuBackdrop"></div>
  <div class="overlayBox">
    <img class="overlayPanelBg" src="./assets/wideMenu.png" />
    <div class="overlalPanelTitle">Hero Room</div>
    <div class="closeMenuButtonBox" (click)="closeMenu()">
      <img src="./assets/close.png" class="closeMenuButton" />
      <img src="./assets/closeActive.png" class="closeMenuButton activeBtn" />
    </div>
    <!-- Hero Room -->

    <div class="heroListBox">
      <div class="heroListBoxRelative">
        <img src="./assets/heroList.png" class="heroList" />
        <div class="heroListRow">
          <div
            *ngFor="let hero of heroes; index as i"
            class="heroItemBox"
            [ngClass]="{
              disabledBox: hero.disabled
            }"
            (click)="currentHero = hero"
          >
            <img
              [src]="'./assets/hero' + (i + 1) + '.png'"
              class="heroListItem"
            />
            <img
              src="./assets/selectedHero.png"
              class="heroSelectedBox"
              *ngIf="hero.selected"
            />
          </div>
        </div>
      </div>
    </div>
    <img src="./assets/upgradeDetails.png" class="upgradeDetails" />
    <div class="upgradeDetailsLevel">{{ currentHero?.level }}</div>
    <div class="upgradeDetailsHealth">{{ currentHero?.health }}</div>
    <div class="upgradeDetailsDefense">{{ currentHero?.attack }}</div>
    <img
      src="./assets/heroBorder.png"
      class="heroBorder"
      [ngStyle]="{
      'background-image': 'url(./assets/heroImages/' + currentHero?.image + ')',
    }"
    />
    <div class="heroTitleBox">
      <div
        class="heroTitleText"
        [ngClass]="{
        redText: currentHero?.color === 'red',
        orangeText: currentHero?.color === 'orange',
        yellowText: currentHero?.color === 'yellow',
        greenText: currentHero?.color === 'green',
        blueText: currentHero?.color === 'blue',
        purpleText: currentHero?.color === 'purple',
      }"
      >
        {{ currentHero?.name }}
      </div>
    </div>
    <div class="heroBtnBox">
      <div class="heroBtnRelative" (click)="selectHero()">
        <img
          src="./assets/selected.png"
          *ngIf="currentHero?.unlocked && currentHero?.selected"
        />
        <img
          src="./assets/select.png"
          *ngIf="currentHero?.unlocked && !currentHero?.selected"
        />
        <img src="./assets/locked.png" *ngIf="!currentHero?.unlocked" />
        <div
          class="doneText smallerTxt"
          [ngClass]="{
            lockedTxt: !currentHero?.unlocked
          }"
        >
          {{
            currentHero?.unlocked && currentHero?.selected
              ? "Selected"
              : currentHero?.unlocked && !currentHero?.selected
              ? "Select"
              : "Locked"
          }}
        </div>
      </div>
    </div>
    <div class="upgradeMenuBox">
      <div class="upgradeMenuRelative">
        <img src="./assets/upgradeMenu.png" class="upgradeMenu" />
        <div class="resetBtnBox">
          <div class="resetBtnRelative" (click)="resetUpgrades()">
            <img src="./assets/button.png" />
            <div class="doneText">Reset</div>
          </div>
        </div>
        <img src="./assets/orb.png" class="upgradeOrb" />
        <div class="upgradeAmountText">{{ currentHero?.points }}</div>
        <div class="levelsList">
          <div
            class="levelsColumn"
            *ngFor="let item of currentHero?.upgrades; trackBy: trackById"
          >
            <img
              src="./assets/upgradeBox.png"
              class="levelBox"
              [ngClass]="{
                displayLevelBox: item.level > 2
              }"
            />
            <img
              src="./assets/upgradeBox.png"
              class="levelBox"
              [ngClass]="{
                displayLevelBox: item.level > 1
              }"
            />
            <img
              src="./assets/upgradeBox.png"
              class="levelBox"
              [ngClass]="{
                displayLevelBox: item.level > 0
              }"
            />
            <div class="upgradeIconBox">
              <div class="relativeIconBox" (click)="upgradeHero(item)">
                <img
                  (mouseenter)="currentHoveringUpgrade = item"
                  (mouseleave)="currentHoveringUpgrade = undefined"
                  [src]="'./assets/upgrades/' + item.image"
                  [ngClass]="{
                    greyBox:
                      (currentHero &&
                        currentHero.points! < item.cost[item.level]) ||
                      !currentHero?.unlocked,
                    relativeIconBoxHover:
                      isCurrentlyHovering(item) &&
                      currentHero?.points! >= item.cost[item.level]
                  }"
                />
                <div
                  class="hoveringDescriptionBox"
                  [ngClass]="{
                    showHoveringBox: isCurrentlyHovering(item)
                  }"
                >
                  <div class="hoveringTitle">{{ item.title[item.level] }}</div>
                  <div class="hoveringDescription">
                    {{ item.description[item.level] }}
                  </div>
                  <img src="./assets/orb.png" class="hoveringOrb" />
                  <div class="hoveringCost">{{ item.cost[item.level] }}</div>
                </div>
                <div
                  (mouseenter)="currentHoveringUpgrade = item"
                  (mouseleave)="currentHoveringUpgrade = undefined"
                  class="miniBox"
                  *ngIf="item.level !== 3"
                  [ngClass]="{
                    greyBox:
                      (currentHero &&
                        currentHero.points! < item.cost[item.level]) ||
                      !currentHero?.unlocked
                  }"
                >
                  <div class="miniRelative">
                    <img src="./assets/upgradePointsMini.png" />
                    <div class="miniTextPoints">
                      {{ item.cost[item.level] }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="menuBtnBox">
      <div class="menuBtnRelative" (click)="closeMenu()">
        <img src="./assets/menuBtn.png" class="menuBtn" />
        <div class="doneText">Done</div>
      </div>
    </div>
  </div>
</div>
