.container {
  background-color: black;
  height: 100vh;
  width: 100vw;
}

.mapImage {
  width: 3840px !important;
  height: 2770px !important;
}

.f-panzoom {
  width: 100%;
  height: 100%;
}

.overlayContainer {
  position: absolute;
  left: 1920px;
  top: 1385px;
  display: block;
}

.flagContainer,
.dotContainer {
  position: relative;
}

.flagBox,
.dotBox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
}

.flagLevelBox,
.dotLevelBox {
  position: relative;
}

.flag {
  transition: all 0.3s;
  opacity: 1;
}

.hoverFlag {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  filter: drop-shadow(0 0 0.5em rgb(255, 238, 0));
}

.currentLevelAnimation {
  animation: flagAnimation 2s infinite ease-in-out;
  animation-delay: 2s;
  transition: all 0.3s;
}

@keyframes flagAnimation {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

.hoverFlag:hover {
  opacity: 1;
}

.devCurrentStepBox {
  position: absolute;
  z-index: 9999;
  scale: 0.8;
}
