.container {
  background-color: black;
  height: 100vh;
  width: 100vw;
}

.mapImage {
  width: 3840px !important;
  height: 2770px !important;
}

.f-panzoom {
  width: 100%;
  height: 100%;
}

.overlayContainer {
  position: absolute;
  left: 1920px;
  top: 1385px;
  display: block;
}

.flagContainer {
  position: relative;
}

.flagBox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
}

.flagLevelBox {
  position: relative;
}

.flag {
  transition: all 0.3s;
  opacity: 1;
}

.hoverFlag {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.hoverFlag:hover {
  opacity: 1;
}
