<div class="container">
  <div
    class="devCurrentStepBox"
    [ngStyle]="{
    'left': mouseX + 'px',
    'top': mouseY + 'px',
    }"
    *ngIf="devMode"
  >
    <img src="./assets/flag.png" *ngIf="placingFlag" />
    <img src="./assets/dot.png" *ngIf="!placingFlag" />
  </div>
  <div class="f-panzoom" id="myPanzoom">
    <img
      class="f-panzoom__content"
      (contextmenu)="addLevel($event)"
      src="./assets/map.png"
      class="mapImage"
    />
    <div data-panzoom-pin data-x="0%" data-y="0%" class="overlayContainer">
      <!-- <div class="overlayImageContainer">
        <div class="overlayImageBox">
          <div class="overlayBgGradient"></div>
          <img src="./assets/stars.png" class="overlayStars" />
        </div>
      </div> -->
      <div class="whirlpoolBox">
        <div class="whirlpoolContainer">
          <img src="./assets/whirlpool.png" class="whirlpoolImage" />
        </div>
      </div>
      <div class="tumbleweedBox2">
        <div class="tumbleweedContainer">
          <img src="./assets/tumbleweed.png" class="tumbleweedImage" />
        </div>
      </div>
      <div class="tumbleweedBox">
        <div class="tumbleweedContainer">
          <img src="./assets/tumbleweed.png" class="tumbleweedImage" />
        </div>
      </div>
      <div class="steamBox1">
        <div class="steamContainer">
          <img src="./assets/steam.gif" class="steamImage" />
        </div>
      </div>
      <div class="steamBox2">
        <div class="steamContainer">
          <img src="./assets/steam.gif" class="steamImage" />
        </div>
      </div>
      <div class="steamBox3">
        <div class="steamContainer">
          <img src="./assets/steam.gif" class="steamImage" />
        </div>
      </div>
      <div class="steamBox4">
        <div class="steamContainer">
          <img src="./assets/steam.gif" class="steamImage" />
        </div>
      </div>
      <div class="steamBox5">
        <div class="steamContainer">
          <img src="./assets/steam.gif" class="steamImage" />
        </div>
      </div>
      <div class="steamBox6">
        <div class="steamContainer">
          <img src="./assets/steam.gif" class="steamImage" />
        </div>
      </div>
      <div class="steamBox7">
        <div class="steamContainer">
          <img src="./assets/steam.gif" class="steamImage" />
        </div>
      </div>
      <div class="steamBox8">
        <div class="steamContainer">
          <img src="./assets/steam.gif" class="steamImage" />
        </div>
      </div>
      <div class="cycloneBox">
        <div class="cycloneContainer">
          <img src="./assets/cyclone.gif" class="cycloneImage" />
        </div>
      </div>
      <div class="birds2Box">
        <div class="birds2Container">
          <img src="./assets/birds2.gif" class="birdsImage" />
        </div>
      </div>
      <div class="birds3Box">
        <div class="birds3Container">
          <img src="./assets/birds2.gif" class="birdsImage" />
        </div>
      </div>
      <div class="birds1Box">
        <div class="birds1Container">
          <img src="./assets/birds1.gif" class="birdsImage" />
        </div>
      </div>
      <div class="flyingShipBox">
        <div class="flyingShipContainer">
          <img src="./assets/flyingShip.gif" class="flyingShipImage" />
        </div>
      </div>
      <div class="flyingShipBox">
        <div class="flyingShipContainerShadow">
          <img src="./assets/flyingShipShadow.png" class="flyingShipImage" />
        </div>
      </div>
      <div class="sailingShipBox">
        <div class="sailingShipContainer">
          <img src="./assets/ship.gif" class="sailingShipImage" />
        </div>
      </div>
      <ng-container *ngFor="let item of flagsList; trackBy: trackById">
        <div
          class="dotContainer"
          *ngFor="let dot of item.dots; index as i; trackBy: trackById"
          [ngStyle]="{
          'left': dot.x + 'px',
          'top': dot.y + 'px',
        }"
        >
          <div
            *ngIf="
              item.levelStatus === 'finished' ||
              item.levelStatus === 'justFinished'
            "
            [@.disabled]="currentLevel?.id !== item.id"
            [@zoomInEnter]="{
              value: '',
              params: {
                duration: 400,
                delay: determineDelayDot(i) + 2000,
                translate: '100px'
              }
            }"
          >
            <div class="dotBox">
              <div class="dotLevelBox">
                <img src="./assets/dot.png" class="dot" />
              </div>
            </div>
          </div>
        </div>
        <div
          class="flagContainer"
          class="flagContainer"
          [ngStyle]="{
        'left': item.x + 'px',
        'top': item.y + 'px',
      }"
        >
          <div class="flagBox" (click)="finishLevel(item)">
            <!-- Next Level -->
            <div
              class="flagLevelBox currentLevelAnimation"
              *ngIf="
                item.levelType === 'normal' && item.levelStatus === 'nextLevel'
              "
              [@.disabled]="currentLevel?.id === item.id"
              [@zoomInEnter]="{
                value: '',
                params: {
                  duration: 400,
                  delay: determineDelayFlag() + 2000,
                  translate: '100px'
                }
              }"
            >
              <img src="./assets/flag.png" class="flag" />
              <img src="./assets/flagActive.png" class="flag hoverFlag" />
            </div>
            <!-- Finished Level -->
            <div
              class="flagLevelBox"
              *ngIf="
                item.levelType === 'normal' &&
                (item.levelStatus === 'finished' ||
                  item.levelStatus === 'justFinished')
              "
            >
              <img
                src="./assets/flag.png"
                class="flag"
                *ngIf="item.levelStatus === 'justFinished'"
              />
              <img
                src="./assets/finishedFlag.png"
                class="flag"
                *ngIf="item.levelStatus === 'finished'"
                [ngClass]="{
                  zoomInFlag:
                    currentLevel?.id === item.id &&
                    item.levelStatus === 'finished'
                }"
              />
              <img
                src="./assets/finishedFlagActive.png"
                class="flag hoverFlag"
              />
            </div>
            <!-- Boss level -->
            <div
              class="flagLevelBox"
              *ngIf="
                item.levelType === 'boss' && item.levelStatus === 'nextLevel'
              "
            >
              <img src="./assets/finishedFlagActive.png" class="flag" />
              <img src="./assets/finishedFlag.png" class="flag hoverFlag" />
            </div>
            <!-- Finished Boss level -->
            <div
              class="flagLevelBox"
              *ngIf="
                item.levelType === 'boss' && item.levelStatus === 'finished'
              "
            >
              <img src="./assets/finishedFlagActive.png" class="flag" />
              <img src="./assets/finishedFlag.png" class="flag hoverFlag" />
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
