<div class="container">
  <div class="f-panzoom" id="myPanzoom">
    <img
      class="f-panzoom__content"
      (contextmenu)="test($event)"
      src="./assets/map.png"
      class="mapImage"
    />
    <!-- <div data-panzoom-pin data-x="0%" data-y="0%" class="testBox">
      <div
        class="extratest"
        [ngStyle]="{
        'margin-left': '563px',
        'margin-top': '1863px',
        }"
      >
        <div class="test" (click)="test($event)">test</div>
      </div>
    </div> -->
  </div>
</div>
