.container {
  background-color: black;
  height: 100vh;
  width: 100vw;
}

.mapImage {
  width: 3840px !important;
  height: 2770px !important;
}

.f-panzoom {
  width: 100%;
  height: 100%;
}

.overlayContainer {
  position: absolute;
  left: 1920px;
  top: 1385px;
  display: block;
}

.flagContainer,
.dotContainer {
  position: relative;
}

.flagBox,
.dotBox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
}

.flagLevelBox,
.dotLevelBox {
  position: relative;
}

.flag {
  transition: all 0.3s;
  opacity: 1;
}

.hoverFlag,
.fadeFlag {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  filter: drop-shadow(0 0 0.5em rgb(255, 238, 0));
}

.zoomInFlag {
  animation: zoomInAnim forwards;
  animation-duration: 0.7s;
}

@keyframes zoomInAnim {
  0% {
    transform: scale(3);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.currentLevelAnimation {
  animation: flagAnimation 2s infinite ease-in-out;
  animation-delay: 2s;
  transition: all 0.3s;
}

@keyframes flagAnimation {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

.hoverFlag:hover {
  opacity: 1;
}

.devCurrentStepBox {
  position: absolute;
  z-index: 9999;
  scale: 0.8;
}

.flyingShipBox,
.sailingShipBox,
.birds1Box {
  position: absolute;
  top: 0;
  left: 0;
}

.sailingShipContainer {
  position: relative;
  animation: shipSailing 60s forwards infinite linear;
}

@keyframes shipSailing {
  // Go to right
  0% {
    transform: translate(1400px, 0px) scaleX(1);
  }

  // to right
  50% {
    transform: translate(1800px, 0px) scaleX(1);
  }
  51% {
    transform: translate(1800px, 0px) scaleX(-1);
  }

  // to left
  100% {
    transform: translate(1400px, 0px) scaleX(-1);
  }
}

.flyingShipContainer {
  position: relative;
  animation: shipFlying 90s forwards infinite linear;
}

@keyframes shipFlying {
  // Go to right
  0% {
    transform: translate(-400px, 400px) scaleX(-1);
  }

  // to right
  50% {
    transform: translate(3200px, 400px) scaleX(-1);
  }
  51% {
    transform: translate(3200px, 800px) scaleX(1);
  }

  // to left
  100% {
    transform: translate(-400px, 800px) scaleX(1);
  }
}

.flyingShipContainerShadow {
  position: relative;
  animation: shipFlyingShadow 90s forwards infinite linear;
}

@keyframes shipFlyingShadow {
  // Go to right
  0% {
    transform: translate(-400px, 600px) scaleX(-1);
  }

  // to right
  50% {
    transform: translate(3200px, 600px) scaleX(-1);
  }
  51% {
    transform: translate(3200px, 1000px) scaleX(1);
  }

  // to left
  100% {
    transform: translate(-400px, 1000px) scaleX(1);
  }
}

.flyingShipImage,
.sailingShipImage {
  width: 200px;
}

.flyingShipImage {
  animation: shipHover 2s forwards infinite ease-in-out;
}

@keyframes shipHover {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, 10px);
  }

  100% {
    transform: translate(0, 0);
  }
}

.birds1Container {
  position: relative;
  animation: birdsFlying 45s forwards infinite linear;
}

@keyframes birdsFlying {
  // Go to right
  0% {
    transform: translate(-400px, 600px) scaleX(-1);
    opacity: 1;
  }

  // to right
  47% {
    opacity: 1;
    transform: translate(1900px, 2600px) scaleX(-1);
  }
  48% {
    opacity: 0;
    transform: translate(1900px, 2600px) scaleX(-1);
  }
  49% {
    opacity: 0;
    transform: translate(3200px, 1000px) scaleX(1);
  }
  50% {
    opacity: 1;
    transform: translate(3200px, 1000px) scaleX(1);
  }

  51% {
    opacity: 1;
    transform: translate(3200px, 1000px) scaleX(1);
  }

  // to left
  100% {
    opacity: 1;
    transform: translate(-400px, 1400px) scaleX(1);
  }
}

.birdsImage,
.cycloneImage,
.steamImage {
  width: 100px;
}

.birds2Container,
.cycloneContainer,
.tumbleweedContainer,
.steamContainer,
.birds3Container {
  position: relative;
}

.birds2Box {
  position: absolute;
  top: 1350px;
  left: 1260px;
}

.birds3Box {
  position: absolute;
  top: 481px;
  left: 776px;
}

.cycloneBox {
  position: absolute;
  top: 350px;
  left: 1860px;
  animation: cycloneMove 15s forwards infinite ease-in-out;
}

@keyframes cycloneMove {
  0% {
    opacity: 0;
    transform: translate(-100px, 100px);
  }
  10% {
    transform: translate(-100px, 100px);
    opacity: 1;
  }

  30% {
    opacity: 1;
    transform: translate(0, 0);
  }
  60% {
    opacity: 1;
    transform: translate(100px, 0);
  }
  90% {
    opacity: 1;
    transform: translate(150px, 100px);
  }
  100% {
    opacity: 0;
    transform: translate(150px, 150px);
  }
}

.cycloneImage {
  filter: sepia(1) blur(1px);
  width: 60px;
}

.steamContainer {
  opacity: 0.3;
}

.steamBox1 {
  position: absolute;
  top: 1607px;
  left: 1643px;
}

.steamBox2 {
  position: absolute;
  top: 1672px;
  left: 1775px;
}

.steamBox3 {
  position: absolute;
  top: 1724px;
  left: 1650px;
}

.steamBox4 {
  position: absolute;
  top: 1770px;
  left: 1907px;
}

.steamBox5 {
  position: absolute;
  top: 1738px;
  left: 2192px;
}

.steamBox6 {
  position: absolute;
  top: 1302px;
  left: 2554px;
}

.steamBox7 {
  position: absolute;
  top: 1272px;
  left: 2644px;
}

.steamBox8 {
  position: absolute;
  top: 1757px;
  left: 2084px;
}

.tumbleweedBox {
  position: absolute;
  top: 463px;
  left: 2205px;
  animation: tumbleweedAnimation 10s forwards infinite linear;
  animation-delay: 5s;
}

.tumbleweedBox2 {
  position: absolute;
  top: 863px;
  left: 2200px;
  animation: tumbleweedAnimation 10s forwards infinite linear;
}

.tumbleweedImage {
  width: 20px;
  animation: rotateTumbleweed 1s forwards infinite linear;
}

@keyframes rotateTumbleweed {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes tumbleweedAnimation {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  1% {
    opacity: 1;
  }

  10% {
    transform: translate(0, 0);
    opacity: 1;
  }

  60% {
    transform: translate(300px, 0);
    opacity: 1;
  }

  70% {
    opacity: 0;
  }

  80% {
    transform: translate(300px, 0);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}

.whirlpoolBox {
  position: absolute;
  top: 676px;
  left: 1404px;
}

.whirlpoolContainer {
  position: relative;
}

.whirlpoolImage {
  width: 300px;
  animation: rotateTumbleweed 10s forwards infinite linear;
}

.overlayImageContainer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
  pointer-events: none;
}

.overlayImageBox {
  position: relative;
}

.overlayBgGradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 3840px;
  height: 2770px;
  z-index: 1;
  background-color: #32005e73;
}

.overlayStars {
  position: absolute;
  top: 0;
  left: 0;
  width: 3840px;
  height: 2770px;
  z-index: 2;
}

.snowfallBox1 {
  position: absolute;
  top: 0px;
  left: 300px;
}

.snowfallBox2 {
  position: absolute;
  top: 0px;
  left: 800px;
}

.snowfallBox3 {
  position: absolute;
  top: 450px;
  left: 300px;
}

.snowfallBox4 {
  position: absolute;
  top: 450px;
  left: 800px;
}

.snowfallContainer {
  position: relative;
  opacity: 0.7;
}

.snowfallImage {
  width: 500px;
}

.fireworksBox {
  position: absolute;
  top: 1376px;
  left: 665px;
}

.fireworksContainer {
  position: relative;
}

.fireworksImage {
  width: 150px;
}

.castleflagBox {
  position: absolute;
  top: 951px;
  left: 578px;
}

.castleflagContainer {
  position: relative;
}

.castleflagImage {
  width: 43px;
  filter: invert(0.8);
}

.fireballBox1 {
  position: absolute;
  top: 1100px;
  left: 2150px;
}

.fireballBox2 {
  position: absolute;
  top: 1100px;
  left: 2300px;
}

.fireballBox3 {
  position: absolute;
  top: 1100px;
  left: 2475px;
}

.fireballContainer1 {
  position: relative;
  animation: fireballFalling 5s forwards infinite linear;
  opacity: 0;
}

.fireballContainer2 {
  position: relative;
  animation: fireballFalling 5s forwards infinite linear;
  animation-delay: 4s;
  opacity: 0;
}

.fireballContainer3 {
  position: relative;
  animation: fireballFalling 5s forwards infinite linear;
  animation-delay: 2s;
  opacity: 0;
}

@keyframes fireballFalling {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  20% {
    opacity: 0.5;
  }

  80% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
    transform: translate(200px, 500px);
  }
}

.fireballImage {
  transform: rotate(30deg);
  width: 100px;
}

.heroiconBox {
  position: absolute;
  top: 1060px;
  left: 1318px;
  z-index: 99;
}

.heroiconContainer {
  position: relative;
  transition: all 0.3s;
}

.heroiconContainer:hover {
  transform: scale(1.2);
}

.heroiconBorderImage {
  width: 70px;
  position: relative;
  z-index: 2;
  filter: drop-shadow(0 0 0.3em rgba(0, 0, 0, 0.527));
}

.checkmarkImage {
  position: absolute;
  top: 0;
  left: 1%;
  width: 98%;
  border-radius: 100%;
  z-index: 3;
  scale: 0.7;
}

.heroiconImage {
  position: absolute;
  top: 0;
  left: 1%;
  width: 98%;
  border-radius: 100%;
  z-index: 1;
}

.disabledBox {
  pointer-events: none;
  user-select: none;
}

.heroIconImageDisabled {
  filter: brightness(0.6);
}

.wheelspinBox {
  position: absolute;
  top: 1450px;
  left: 625px;
  scale: 0.8;
}

.castleIconBox {
  position: absolute;
  top: 1090px;
  left: 382px;
  scale: 0.8;
}
