<div class="container" (click)="clickAnimation($event)">
  <div *ngFor="let item of clickAnimationsList">
    <div
      class="clickAnimation"
      [ngStyle]="{
        top: 'calc(' + item.y + 'px - 2.5em)',
        left: 'calc(' + item.x + 'px - 2.5em)'
      }"
      [@fadeEnter]="{
        value: '',
        params: { duration: 500, delay: 0, translate: '300px' }
      }"
      [@fadeOutLeave]
    ></div>
  </div>
  <div class="achievementList">
    <div
      class="achievementItem"
      *ngFor="let item of achievementPopupsList"
      [@fadeDownEnter]="{
        value: '',
        params: {
          duration: 500,
          delay: 1000,
          translate: '100px'
        }
      }"
      [@fadeUpLeave]
    >
      <div class="achievementItemBox">
        <img
          class="achievementBackground"
          src="./assets/default/achievementBg.png"
        />
        <img
          class="achievementImage"
          src="./assets/default/gold.png"
          [src]="'./assets/default/' + item.image"
        />
        <img 
        *ngIf="showGif"
        [@fadeEnter]="{
          value: '',
          params: {
            duration: 500,
            delay: 1200,
          }
        }"
        [@fadeOutLeave] class="confettiGif" src="./assets/default/confettiAchievements.gif" />
        <div
          class="achievementTitle"
          [ngStyle]="{
            'font-family': 'default-HeaderFont'
          }"
        >
          {{ item.title }}
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="consoleShouldShow">
    <div
      class="consoleBg"
      [ngClass]="{
        fadeEnter: consoleOpen,
        fadeLeave: !consoleOpen && consoleHasBeenOpened
      }"
    ></div>
    <div
      class="consoleContainer"
      [ngClass]="{
        fadeEnter: consoleOpen,
        fadeLeave: !consoleOpen && consoleHasBeenOpened
      }"
    >
      <div class="consoleHeader">
        <div class="consoleTitle">Console</div>
        <div class="consoleClose" (click)="closeConsole()">✖</div>
      </div>
      <div class="consoleBody">
        <div class="consoleItem" *ngFor="let item of consoleItems">
          <div [innerHTML]="'] ' + item"></div>
        </div>
      </div>
      <div class="consoleInputRow">
        <input
          type="text"
          #consoleInput
          (keydown.enter)="runCommand()"
          [formControl]="consoleControl"
          placeholder="Enter a command"
          class="consoleTextInput"
        />
        <div class="consoleSubmitButton" (click)="runCommand()">Submit</div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
