<div class="container" (click)="clickAnimation($event)">
  <div
    class="optionsButtonBox"
    [@fadeEnter]="{
      value: '',
      params: { duration: 500, delay: 0 }
    }"
    [@fadeOutLeave]="{
      value: '',
      params: { duration: 500, delay: 0 }
    }"
    (click)="optionsMenuOpened = !optionsMenuOpened"
  >
    <img src="./assets/options.png" class="optionsButton hoverButton" />
  </div>
  <div class="optionsMenuOverlay">
    <div
      class="optionsMenuBox"
      *ngIf="optionsMenuOpened"
      [@fadeEnter]="{
        value: '',
        params: { duration: 500, delay: 0 }
      }"
      [@fadeOutLeave]="{
        value: '',
        params: { duration: 500, delay: 0 }
      }"
    >
      <div class="optionsMenuBackdrop"></div>
      <div class="optionsMenu">
        <img src="./assets/menu.png" class="optionsMenuBg" />
        <div class="menuHeader optionsText">Options</div>
        <div class="closeMenuButtonBox" (click)="optionsMenuOpened = false">
          <img src="./assets/close.png" class="closeMenuButton" />
          <img
            src="./assets/closeActive.png"
            class="closeMenuButton activeBtn"
          />
        </div>
        <div class="optionsRow">
          <div class="optionsButtonsRow">
            <div class="optionsItem">
              <div class="optionsItemTitle optionsText">Retry</div>
              <img
                src="./assets/reset.png"
                (click)="refreshCombat()"
                class="optionsItemButton hoverButton"
              />
            </div>
            <div class="optionsItem">
              <div class="optionsItemTitle optionsText">Surrender</div>
              <img
                src="./assets/surrender.png"
                (click)="surrenderCombat()"
                class="optionsItemButton hoverButton"
              />
            </div>
            <div class="optionsItem">
              <div class="optionsItemTitle optionsText">Fullscreen</div>
              <img
                src="./assets/fullscreen.png"
                (click)="toggleFullScreen()"
                class="optionsItemButton hoverButton"
              />
            </div>
          </div>
          <div class="musicBox">
            <div class="optionsItem volumeItem">
              <div class="optionsItemTitle optionsText">Sound Volume</div>
              <div class="rangeBox">
                <input
                  [ngClass]="{
                    muteRange: muteIconSound() === 0
                  }"
                  type="range"
                  min="0"
                  max="100"
                  [formControl]="soundControl"
                />
                <div
                  class="rangeWidth"
                  [ngStyle]="{
                    width: muteIconSound() > 4 ? muteIconSound() + '%' : '0%'
                  }"
                ></div>
              </div>
            </div>
            <div class="optionsItem volumeItem">
              <div class="optionsItemTitle optionsText">Music Volume</div>
              <div class="rangeBox">
                <input
                  [ngClass]="{
                    muteRange: muteIconMusic() === 0
                  }"
                  type="range"
                  min="0"
                  max="100"
                  [formControl]="musicControl"
                />
                <div
                  class="rangeWidth"
                  [ngStyle]="{
                    width: muteIconMusic() > 4 ? muteIconMusic() + '%' : '0%'
                  }"
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="loadingContainer"
    *ngIf="isLoading"
    [@fadeEnter]="{
      value: '',
      params: { duration: initFinished ? 500 : 0, delay: 0 }
    }"
    [@fadeOutLeave]="{
      value: '',
      params: { duration: 500, delay: 0 }
    }"
  >
    <div
      class="loadingBg"
      [ngStyle]="{
        'background-image': 'url(./assets/backgrounds/' + loadingBg + ')'
      }"
    >
      <div class="loadingDropShadow"></div>
      <div class="loadingBarBox">
        <div class="loadingText">Amazing, right?</div>
        <img class="loadingBar" src="./assets/loadingBar.png" />
        <img class="loadingBarFill" />
        <img class="loadingBarFill loadingBarFillFull" />
      </div>
    </div>
  </div>
  <div *ngFor="let item of clickAnimationsList">
    <div
      class="clickAnimation"
      [ngStyle]="{
        top: 'calc(' + item.y + 'px - 2.5em)',
        left: 'calc(' + item.x + 'px - 2.5em)'
      }"
      [@fadeEnter]="{
        value: '',
        params: { duration: 500, delay: 0, translate: '300px' }
      }"
      [@fadeOutLeave]
    ></div>
  </div>
  <div class="achievementList">
    <div
      class="achievementItem"
      *ngFor="let item of achievementPopupsList"
      [@fadeDownEnter]="{
        value: '',
        params: {
          duration: 500,
          delay: 1000,
          translate: '100px'
        }
      }"
      [@fadeUpLeave]
    >
      <div class="achievementItemBox">
        <img class="achievementBackground" src="./assets/achievementBg.png" />
        <img
          class="achievementImage"
          [src]="'./assets/achievements/' + item.image"
        />
        <img
          *ngIf="showGif"
          [@fadeEnter]="{
          value: '',
          params: {
            duration: 500,
            delay: 1200,
          }
        }"
          [@fadeOutLeave]
          class="confettiGif"
          src="./assets/confettiAchievements.gif"
        />
        <div
          class="achievementTitle"
          [ngStyle]="{
            'font-family': 'headerFont'
          }"
        >
          {{ item.title }}
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="consoleShouldShow">
    <div
      class="consoleBg"
      [ngClass]="{
        fadeEnter: consoleOpen,
        fadeLeave: !consoleOpen && consoleHasBeenOpened
      }"
    ></div>
    <div
      class="consoleContainer"
      [ngClass]="{
        fadeEnter: consoleOpen,
        fadeLeave: !consoleOpen && consoleHasBeenOpened
      }"
    >
      <div class="consoleHeader">
        <div class="consoleTitle">Console</div>
        <div class="consoleClose" (click)="closeConsole()">✖</div>
      </div>
      <div class="consoleBody">
        <div class="consoleItem" *ngFor="let item of consoleItems">
          <div [innerHTML]="'] ' + item"></div>
        </div>
      </div>
      <div class="consoleInputRow">
        <input
          type="text"
          #consoleInput
          (keydown.enter)="runCommand()"
          [formControl]="consoleControl"
          placeholder="Enter a command"
          class="consoleTextInput"
        />
        <div class="consoleSubmitButton" (click)="runCommand()">Submit</div>
      </div>
    </div>
  </div>
  <div
    [ngClass]="{
      fadeIn: !isLoading,
      fadeLeave: isLoading
    }"
  >
    <router-outlet></router-outlet>
  </div>
</div>
