<div
  class="container"
  *ngIf="open"
  [@fadeEnter]="{
    value: '',
    params: { duration: 300, delay: 0 }
  }"
  [@fadeOutLeave]="{
    value: '',
    params: { duration: 300, delay: 0 }
  }"
>
  <div class="optionsMenuBackdrop"></div>
  <div class="overlayBox">
    <img class="overlayPanelBg" src="./assets/menu.png" />
    <div class="overlalPanelTitle">
      {{ currentStep === "opening" ? "Open Packs" : "Shop" }}
    </div>
    <div class="closeMenuButtonBox" (click)="closeMenu()">
      <img src="./assets/close.png" class="closeMenuButton" />
      <img src="./assets/closeActive.png" class="closeMenuButton activeBtn" />
    </div>
    <div
      class="innerOptionsBox"
      *ngIf="currentStep === 'picking'"
      [@fadeEnter]="{
        value: '',
        params: { duration: 300, delay: 300 }
      }"
      [@fadeOutLeave]="{
        value: '',
        params: { duration: 300, delay: 0 }
      }"
    >
      <div class="innerOptionsRelative">
        <div class="relativeBox" (click)="currentStep = 'shopping'">
          <img src="./assets/shopBox.png" class="box" />
          <div class="iconTextBox">
            <img src="./assets/bag.png" class="boxImage shopBoxImage" />
            <div class="boxText">Shop</div>
          </div>
        </div>
        <div class="relativeBox" (click)="currentStep = 'opening'">
          <img src="./assets/shopBox.png" class="box" />
          <div class="iconTextBox">
            <img src="./assets/bookIcon.png" class="boxImage" />
            <div class="boxText">Open Packs</div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="innerOptionsBoxShopping"
      *ngIf="currentStep === 'shopping'"
      [@fadeEnter]="{
        value: '',
        params: { duration: 300, delay: 300 }
      }"
      [@fadeOutLeave]="{
        value: '',
        params: { duration: 300, delay: 0 }
      }"
    >
      <swiper-container
        class="swiperBox"
        effect="coverflow"
        [grab-cursor]="true"
        centered-slides="true"
        slides-per-view="3"
        [coverflow-effect-rotate]="50"
        [coverflow-effect-stretch]="10"
        [coverflow-effect-depth]="100"
        [coverflow-effect-modifier]="0"
        coverflow-effect-slide-shadows="true"
      >
        <swiper-slide *ngFor="let item of boosterPacks">
          <div class="boosterContainer">
            <div class="swipeTitle">
              1<b class="extraSmall">x</b> Mario Booster Pack
            </div>
            <img src="./assets/rewards/boosterPack.png" class="boosterImg" />
            <div class="swipeCost" (click)="buyBoosterPack(item)">
              <img src="./assets/button.png" class="swipeBtn" />
              <img src="./assets/gold.png" class="swipeBtnInnerImage" />
              <div class="swipeBtnText">125</div>
            </div>
          </div>
        </swiper-slide>
      </swiper-container>
      <div class="absoluteBottomRow">
        <div class="currentGoldBox">
          <img src="./assets/shopBtnBg.png" class="currentGoldBgImg" />
          <img src="./assets/gold.png" class="currentGoldImg" />
          <div class="currentGoldTxt swipeBtnText">532</div>
        </div>
        <div class="backBtnBox" (click)="currentStep = 'picking'">
          <img src="./assets/backButton.png" class="backBtn" />
        </div>
      </div>
    </div>
    <div
      class="innerOptionsBoxShopping"
      *ngIf="currentStep === 'opening'"
      [@fadeEnter]="{
        value: '',
        params: { duration: 300, delay: 300 }
      }"
      [@fadeOutLeave]="{
        value: '',
        params: { duration: 300, delay: 0 }
      }"
    >
      <swiper-container
        class="swiperBox"
        effect="coverflow"
        [grab-cursor]="true"
        centered-slides="true"
        slides-per-view="3"
        [coverflow-effect-rotate]="50"
        [coverflow-effect-stretch]="10"
        [coverflow-effect-depth]="100"
        [coverflow-effect-modifier]="0"
        coverflow-effect-slide-shadows="true"
      >
        <swiper-slide *ngFor="let item of boosterPacks">
          <div class="boosterContainer">
            <div class="swipeTitle">
              1<b class="extraSmall">x</b> Mario Booster Pack
            </div>
            <img src="./assets/rewards/boosterPack.png" class="boosterImg" />
            <div class="swipeCost" (click)="buyBoosterPack(item)">
              <img src="./assets/button.png" class="swipeBtn" />
              <img src="./assets/gold.png" class="swipeBtnInnerImage" />
              <div class="swipeBtnText">125</div>
            </div>
          </div>
        </swiper-slide>
      </swiper-container>
      <div class="absoluteBottomRow">
        <div class="currentGoldBox">
          <img src="./assets/shopBtnBg.png" class="currentGoldBgImg" />
          <img src="./assets/gold.png" class="currentGoldImg" />
          <div class="currentGoldTxt swipeBtnText">532</div>
        </div>
        <div class="backBtnBox" (click)="currentStep = 'picking'">
          <img src="./assets/backButton.png" class="backBtn" />
        </div>
      </div>
    </div>
  </div>
</div>
