.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  z-index: 5001;
}

.fadeBox {
  transition: all 0.2s;
}

.fadeInBox {
  opacity: 1;
  z-index: 1;
}

.fadeOutBox {
  opacity: 0;
  z-index: 0;
}

.optionsMenuBackdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.overlayBox {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlayPanelBg {
  filter: drop-shadow(0 0 0.5em rgba(0, 0, 0, 1));
  -webkit-user-drag: none;
}

.overlalPanelTitle {
  position: absolute;
  top: 5.5%;
  margin-left: -3%;
  font-size: 1.4em;

  text-align: center;
  color: white;
  font-family: "headerFont";
  background: -webkit-linear-gradient(#f5f2e6, #a8a075);
  -webkit-text-stroke: 2px #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-weight: bold;
}

.closeMenuButtonBox {
  position: absolute;
  top: 2.1%;
  right: 1.3%;
}

.closeMenuButton {
  -webkit-user-drag: none;
  position: relative;
  z-index: 1;
  transition: all 0.2s;
  --closeOpacity: 0;
}

.closeMenuButton:hover {
  --closeOpacity: 1;
}

.activeBtn {
  position: absolute;
  left: 0;
  opacity: var(--closeOpacity);
}

.innerOptionsBox {
  position: absolute;
  width: 75%;
  top: 13%;
}

.innerBoxStart {
  top: 17%;
}

.innerOptionsRelative {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5%;
}

.box {
  width: 83%;
  filter: drop-shadow(0 0 0.5em black);
  box-shadow: 0 0 0.2em 0.2em black;
  border-radius: 1em;
}

.relativeBox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.relativeBox:hover {
  filter: brightness(0.8);
  scale: 1.05;
}

.iconTextBox {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 1em;
}

.boxImage {
  width: 75%;
  filter: drop-shadow(0 0 0.3em black);
}

.shopBoxImage {
  width: 150%;
  filter: drop-shadow(0 0 0.3em black);
}

.boxText {
  text-align: center;
  color: white;
  font-family: "headerFont";
  background: -webkit-linear-gradient(#f5f2e6, #a8a075);
  -webkit-text-stroke: 2px #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-weight: bold;
  font-size: 1.6em;
}

// Shopping

.innerOptionsBoxShopping {
  position: absolute;
  top: 13%;
  width: 100%;
}

.extraSmall {
  font-size: 0.7em;
}

.innerOptionsRelativeShopping {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
}

.swipeTitle {
  text-align: center;
  color: white;
  font-family: "headerFont";
  background: -webkit-linear-gradient(#f5f2e6, #a8a075);
  -webkit-text-stroke: 2px #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-weight: bold;
  font-size: 1.4em;
  padding-top: 1em;
  transition: all 0.3s;
  opacity: 1;
}

.swipeCost {
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: 1em;
  transition: all 0.3s;
  opacity: 1;
}

.isInactiveTextBtn {
  opacity: 0;
}

.swipeBtn {
  width: 100%;
  position: relative;
  z-index: 1;
}

.swipeCost:hover {
  filter: drop-shadow(0 0 0.5em rgb(0, 255, 0));
}

.swipeCost:active {
  scale: 0.9;
}

.swipeBtnInnerImage {
  position: absolute;
  left: 14%;
  z-index: 2;
  width: 22%;
}

.swipeBtnText {
  position: absolute;
  left: 43%;
  margin-top: 2%;
  z-index: 2;
  text-align: center;
  color: white;
  font-family: "headerFont";
  background: -webkit-linear-gradient(#f5f2e6, #a8a075);
  -webkit-text-stroke: 2px #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-weight: bold;
  font-size: 1.1em;
}

.btnTextCenter {
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centerCard {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiperBox {
  position: relative;
  top: -10%;
  width: 90%;
}

.boosterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

.disabledBooster {
  filter: brightness(0.5);
}

.scaleDownBooster {
  scale: 0.8 !important;
}

.boosterImg {
  width: 150%;
  transition: all 0.3s;
  filter: drop-shadow(0 0 0.5em black);
}

.hoverBoosterImg:hover {
  filter: drop-shadow(0 0 0.5em yellow);
}

.currentGoldBox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.currentGoldBgImg {
  position: relative;
  z-index: 1;
}

.backBoxAbsolute {
  position: absolute;
  bottom: -5%;
  right: 10%;
  z-index: 50;
}

.goldBoxAbsolute {
  position: absolute;
  bottom: -4%;
  left: 10%;
  z-index: 50;
}

.currentGoldImg {
  position: absolute;
  width: 20%;
  z-index: 2;
  left: 10%;
}
.currentGoldTxt {
  position: absolute;
  font-size: 1.1em;
  left: 38%;
  z-index: 2;
}

.backBtn {
  filter: drop-shadow(0 0 0.5em black);
  transition: all 0.3s;
}

.backBtn:hover {
  scale: 1.1;
  filter: drop-shadow(0 0 1em black);
}

.disabledText {
  filter: brightness(0.5);
  pointer-events: none;
}

.disabledBtn {
  filter: brightness(0.5);
  filter: drop-shadow(0) !important;
  pointer-events: none;
}

.absoluteCountBox {
  position: absolute;
  z-index: 2;
  bottom: 16%;
  font-size: 1.3em;
}

.absoluteCountText {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  color: white;
  font-family: "headerFont";
  background: -webkit-linear-gradient(#f5f2e6, #a8a075);
  -webkit-text-stroke: 1px #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-weight: bold;
  font-size: 0.6em;
  transition: all 0.3s;
}

.alertIcon {
  position: absolute;
  top: 0;
  right: 5%;
  z-index: 3;
  pointer-events: none;
  scale: 0.8;
  animation: zoomInOut 1.5s linear infinite;
}

.newIcon {
  position: absolute;
  top: 0%;
  right: -35%;
  width: 80%;
  z-index: 3;
  pointer-events: none;
  scale: 0.7;
  animation: zoomInOutSmaller 1.5s linear infinite;
}

@keyframes zoomInOut {
  0% {
    scale: 0.7;
  }

  50% {
    scale: 0.85;
  }

  100% {
    scale: 0.7;
  }
}

@keyframes zoomInOutSmaller {
  0% {
    scale: 0.6;
  }

  50% {
    scale: 0.75;
  }

  100% {
    scale: 0.6;
  }
}

.newIconCenter {
  position: absolute;
  top: 41%;
  right: 33%;
  width: 30%;
  z-index: 4;
  pointer-events: none;
  scale: 0.7;
  animation: zoomInOut 1.5s linear infinite;
}

.flexDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
}

.notificationCenter {
  position: absolute;
  top: 20%;
  right: 3%;
  z-index: 4;
  pointer-events: none;
  scale: 0.8;
  animation: zoomInOut 1.5s linear infinite;
}

.openCardsContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
}

.openCardsBox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.boosterPackImgOpen {
  width: 90%;
}

.showBooster {
  animation: hoverEffect ease-in-out 2s infinite forwards;
  transition: all 0.3s;
}

.showBooster:hover {
  scale: 1.1;
}

.hideBooster {
  animation: hideEffect linear 800ms forwards;
  transform-origin: 50% 50%;
}

@keyframes hideEffect {
  0% {
    opacity: 1;
    scale: 1;
    rotate: 0deg;
  }

  100% {
    opacity: 0.5;
    scale: 0;
    rotate: 720deg;
  }
}

@keyframes hoverEffect {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0px);
  }
}

.hoverImage {
  animation: hoverEffect2 ease-in-out 4s infinite forwards;
}

@keyframes hoverEffect2 {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(30px);
  }

  100% {
    transform: translateY(0px);
  }
}

.cardsListRow {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
}

.relativeImage {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newLogoPopup {
  position: absolute;
  z-index: 5;
  top: 18%;
}

.tadaAnimation {
  animation: tada 1s both;
}

@keyframes tada {
  0% {
    transform: scale(1);
  }
  10%,
  20% {
    transform: scale(0.9) rotate(-3deg);
  }
  30%,
  50%,
  70%,
  90% {
    transform: scale(1.1) rotate(3deg);
  }
  40%,
  60%,
  80% {
    transform: scale(1.1) rotate(-3deg);
  }
  100% {
    transform: scale(1) rotate(0);
  }
}

.leftArrow {
  position: absolute;
  z-index: 50;
  left: 15%;
  color: wheat;
}

.rightArrow {
  position: absolute;
  z-index: 50;
  right: 15%;
  color: wheat;
}

.leftRightarrow {
  filter: brightness(0.8);
  opacity: 0.8;
  scale: 0.7;
  -webkit-transform-style: preserve-3d;
  transition: all 0.1s;
}

.leftRightarrow:hover {
  opacity: 1;
  scale: 0.8;
  filter: drop-shadow(0 0 0.2em black) brightness(1);
}

.leftRightarrow:active {
  scale: 0.7;
}

// Ability cards

.playerBottomCard {
  width: 100%;
  scale: 1.2;
  -webkit-transform: translate(0, 0%);
  -ms-transform: translate(0, 0%);
  transform: translate(0, 0%);
  -webkit-animation: cardFadeUp 800ms;
  animation: cardFadeUp 800ms;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transition: filter 0.2s;
  -o-transition: filter 0.2s;
  transition: filter 0.2s;
}

.cardBorder {
  padding: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5%;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.295), rgba(0, 0, 0, 0.295));
  background-image: -o-linear-gradient(
    rgba(0, 0, 0, 0.295),
    rgba(0, 0, 0, 0.295)
  );
  z-index: 1;
}

.cardBorder::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.295), rgba(0, 0, 0, 0.295));
  background-image: -o-linear-gradient(
    rgba(0, 0, 0, 0.295),
    rgba(0, 0, 0, 0.295)
  );
  z-index: -1;
  border-radius: 5%;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}

.darkenCard {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-filter: brightness(0.5);
  filter: brightness(0.5);
}

.noClickCard {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cardBackgroundImage {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-user-drag: none;
  -webkit-user-drag: none;
  border-radius: 5%;
}

.wildCardSuites {
  width: 96%;
  height: 96%;
  position: absolute;
  top: 2%;
  right: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  border-radius: 3%;
}

.bottomWildCard {
  width: 94%;
  height: 96%;
  left: 3%;
  right: 3%;
  top: 2%;
}

.bottomAbilityStuff {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.abilitySuitsBox {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 2%;
  -moz-column-gap: 2%;
  column-gap: 2%;
  padding-right: 4%;
}

.abilitySuitsBoxHover {
  position: absolute;
  top: 0.5em;
  right: -1.2em;
  scale: 0.9;
}

.abilitySuit {
  width: 10%;
}

.paperBg {
  background: url(~src/assets/paper.png);
}

.paperBgRare {
  background: url(~src/assets/rarePaper.png);
}

.paperBgLegendary {
  background: url(~src/assets/goldPaper.png);
}

.paperBgEnemy {
  background: url(~src/assets/paper.png);
  z-index: 11 !important;
}

.abilityTitle {
  position: relative;
  width: 100%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-position: center;
  background-position: 50% 12%;
  font-size: 100%;
  z-index: 2;
}

.abilityDescription {
  width: 100%;
  height: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-position: bottom;
  background-position: 50% 90%;
  font-size: 100%;
  z-index: 2;
}

.abilityTitleText {
  position: absolute;
  top: -1%;
  padding-left: 4%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.abilityBorder1 {
  position: absolute;
  background-position: top;
  background-position: 50% -80%;
  width: 3%;
  top: 0;
  right: 0;
  height: 100%;
}

.abilityBorder2 {
  position: absolute;
  background-position: top;
  background-position: 50% -80%;
  width: 3%;
  top: 0;
  left: 0;
  height: 100%;
}

.abilityBorder3 {
  position: absolute;
  background-position: top;
  background-position: 50% 30%;
  height: 3%;
  left: 0;
  bottom: 0;
  width: 100%;
}

.abilityBorder4 {
  position: absolute;
  background-position: top;
  background-position: 50% 30%;
  height: 3%;
  left: 0;
  bottom: 0;
  width: 100%;
}

.abilityDescription {
  position: relative;
}

.abilityDescriptionLevel {
  position: absolute;
  top: -25%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.levelText {
  font-size: 100%;
  border-radius: 5%;
  background-position: center;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.377);
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.377);
  padding: 3%;
}

.abilityDescriptionText {
  width: 100%;
  text-align: start;
  padding-left: 4%;
  padding-right: 4%;
  font-size: 1.1em;
}

.abilityTitlePlayer {
  position: relative;
  z-index: 12 !important;
  background-position: 50% 5%;
  height: 3%;
  font-size: 90%;
}

.paperBgPlayer1 {
  background-position: 50% 25%;
  background-size: cover;
  z-index: 11 !important;
}

.paperBgPlayer2 {
  background-position: 50% 25%;
  background-size: cover;
  z-index: 11 !important;
}

.paperBgPlayer3 {
  background-position: 50% 9%;
  z-index: 11 !important;
}

// other
