<div
  class="container"
  *ngIf="open"
  [@fadeEnter]="{
    value: '',
    params: { duration: 300, delay: 0 }
  }"
  [@fadeOutLeave]="{
    value: '',
    params: { duration: 300, delay: 0 }
  }"
>
  <div class="optionsMenuBackdrop"></div>
  <div class="overlayBox">
    <div class="closeMenuButtonBox" (click)="closeMenu()">
      <img src="./assets/close.png" class="closeMenuButton" />
      <img src="./assets/closeActive.png" class="closeMenuButton activeBtn" />
    </div>
    <img class="overlayPanelBg" src="./assets/wideMenu.png" />
    <div class="overlalPanelTitle">Premium</div>
    <img
      src="./assets/leftArrow.png"
      class="leftArrow leftRightarrow"
      (click)="changeIndexLeft()"
      *ngIf="currentIndex > 0"
      [@fadeEnter]="{
        value: '',
        params: { duration: 300, delay: 0 }
      }"
      [@fadeOutLeave]="{
        value: '',
        params: { duration: 300, delay: 0 }
      }"
    />
    <img
      src="./assets/rightArrow.png"
      class="rightArrow leftRightarrow"
      (click)="changeIndexRight()"
      *ngIf="currentIndex < premiumItems.length - 1"
      [@fadeEnter]="{
        value: '',
        params: { duration: 300, delay: 0 }
      }"
      [@fadeOutLeave]="{
        value: '',
        params: { duration: 300, delay: 0 }
      }"
    />
    <div class="innerOptionsBoxShopping">
      <div class="goldBoxAbsolute">
        <div class="currentGoldBox">
          <img src="./assets/shopBtnBg.png" class="currentGoldBgImg" />
          <img [src]="goldImage" class="currentGoldImg" />
          <div class="currentGoldTxt">{{ gold }}</div>
        </div>
      </div>
      <swiper-container
        #swiper
        class="swiperBox"
        effect="coverflow"
        [grab-cursor]="true"
        centered-slides="true"
        slides-per-view="3"
        coverflow-effect-rotate="10"
        coverflow-effect-stretch="0"
        coverflow-effect-depth="20"
        coverflow-effect-modifier=".2"
        coverflow-effect-slide-shadows="false"
        (swiperactiveindexchange)="onActiveIndexChange()"
      >
        <swiper-slide
          *ngFor="let item of premiumItems; index as i; trackBy: trackById"
        >
          <div
            class="boosterContainer"
            [ngClass]="{
              disabledBooster: currentIndex !== i,
              scaleDownBooster: currentIndex !== i
            }"
            (mouseenter)="currentHoveringItem = item"
            (mouseleave)="currentHoveringItem = undefined"
          >
            <div class="relativeBox">
              <img class="overlayImage" [src]="'./assets/' + item.image" />
              <div
                class="hoveringDescriptionBox"
                [ngClass]="{
                  showHoveringBox: currentHoveringItem?.id === item.id
                }"
              >
                <div class="hoveringTitle">{{ item.title }}</div>
                <div class="hoveringDescription">
                  {{ item.description }}
                </div>
                <img
                  [src]="goldImage"
                  class="hoveringOrb"
                  *ngIf="!item.bought"
                />
                <div class="hoveringCost" *ngIf="!item.bought">
                  {{ item.cost }}
                </div>
              </div>
            </div>
          </div>
          <div class="swipeBtnBox">
            <div
              class="swipeCost"
              [ngClass]="{
                isInactiveTextBtn: currentIndex !== i,
              }"
              (click)="buyItem(item)"
            >
              <img src="./assets/wideButton.png" class="swipeBtn" />
              <img
                [src]="goldImage"
                class="swipeBtnInnerImage"
                *ngIf="!item.bought"
              />
              <img
                src="./assets/activeCircle.png"
                class="swipeBtnInnerImage2"
                *ngIf="item.bought"
                [ngClass]="{
                  inactive: item.bought && !item.active,
                  extra: item.bought && item.active,
                  inactiveImage: item.bought && !item.active,
                }"
              />
              <div
                class="swipeBtnText"
                [ngClass]="{
                  activeText: item.bought,
                  inactive: item.bought && !item.active,
                  extraText: item.bought && item.active
                }"
              >
                {{
                  !item.bought
                    ? item.cost
                    : item.bought && item.active
                    ? "Active"
                    : "Inactive"
                }}
              </div>
            </div>
          </div>
        </swiper-slide>
      </swiper-container>
    </div>
  </div>
</div>
