.container {
  width: 100vw;
  height: 100vh;
  background-image: url(~src/assets/home.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  user-select: all !important;
}

.container * {
  user-select: auto !important;
}
