<div
  class="container"
  *ngIf="open"
  [@fadeEnter]="{
    value: '',
    params: { duration: 300, delay: 0 }
  }"
  [@fadeOutLeave]="{
    value: '',
    params: { duration: 300, delay: 0 }
  }"
>
  <div class="optionsMenuBackdrop"></div>
  <div class="overlayBox">
    <img class="overlayPanelBg" src="./assets/menu.png" />
    <div class="overlalPanelTitle">Achievements</div>
    <div class="closeMenuButtonBox" (click)="closeMenu()">
      <img src="./assets/close.png" class="closeMenuButton" />
      <img src="./assets/closeActive.png" class="closeMenuButton activeBtn" />
    </div>
    <div class="achievementsList">
      <div
        class="achievement"
        *ngFor="let item of achievementsList"
        [ngClass]="{
          disabled: !item.unlocked
        }"
      >
        <img src="./assets/achievementBox.png" class="achievementBackground" />
        <img src="./assets/achievements/gold.png" class="achievementIcon" />
        <div class="achievementTitle">First Blood</div>
        <div class="achievementText">Beat your first enemy in the game!</div>
      </div>
    </div>
    <div class="achievementNumbersList">
      <div
        *ngFor="let item of pageNumbers"
        class="achievementNumberItem"
        [ngClass]="{
          activePageBtn: currentpage === item
        }"
        (click)="pageAchievements(item)"
      >
        {{ item }}
      </div>
    </div>
  </div>
</div>
