.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  z-index: 5001;
}

.optionsMenuBackdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.overlayBox {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlayPanelBg {
  filter: drop-shadow(0 0 0.5em rgba(0, 0, 0, 1));
  -webkit-user-drag: none;
}

.overlalPanelTitle {
  position: absolute;
  top: 5.5%;
  margin-left: -3%;
  font-size: 1.4em;

  text-align: center;
  color: white;
  font-family: "headerFont";
  background: -webkit-linear-gradient(#f5f2e6, #a8a075);
  -webkit-text-stroke: 2px #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-weight: bold;
}

.closeMenuButtonBox {
  position: absolute;
  top: 2.1%;
  right: 1.3%;
}

.closeMenuButton {
  -webkit-user-drag: none;
  position: relative;
  z-index: 1;
  transition: all 0.2s;
  --closeOpacity: 0;
}

.closeMenuButton:hover {
  --closeOpacity: 1;
}

.activeBtn {
  position: absolute;
  left: 0;
  opacity: var(--closeOpacity);
}

.achievementNumbersList {
  position: absolute;
  bottom: 10%;
  display: flex;
  column-gap: 1em;
  font-size: 1.1em;
}

.achievementNumberItem {
  width: 2em;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: headerFont;
  color: #e9e9b2;
  -webkit-text-stroke: 2px #000;
  border-radius: 0.3em;
  box-shadow: 0 0 0.5em black;
  background: url(~src/assets/square.png);
  background-position: center;
  background-size: cover;
}

.achievementNumberItem:hover {
  scale: 1.1;
}

.achievementNumberItem:active {
  scale: 0.9;
}

.activePageBtn {
  filter: brightness(0.7);
}

.achievementsList {
  position: absolute;
  top: 16%;
  width: 80%;
  height: 65%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  row-gap: 1%;
  column-gap: 2%;
}

.achievement {
  width: 49%;
  height: 19%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.achievementBackground {
  width: 100%;
  position: relative;
  z-index: 1;
}

.achievementIcon {
  position: absolute;
  z-index: 2;
  left: 5%;
  width: 15%;
}

.achievementTitle {
  position: absolute;
  z-index: 2;
  top: 24%;
  left: 29%;
  color: #e3d9b6;
  font-size: 0.75em;
  font-family: headerFont;
  letter-spacing: 0.01em;
  -webkit-text-stroke: 0.8px rgba(0, 0, 0, 0.8);
}

.achievementText {
  position: absolute;
  z-index: 2;
  top: 44%;
  left: 29%;
  font-size: 0.7em;
  width: 65%;
  height: 30%;
  font-weight: 100;
  color: #dbd1ace3;
  font-family: soho;
  font-style: italic;
}

.disabled {
  filter: grayscale(1) brightness(0.5);
}

.overlayAchievementContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.relativeAchievement {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  transition: all 0.3s;
  transform-origin: center center;
}

.relativeAchievement:hover {
  transform: scale(1.1, 1.1) translateX(3.3%);
}

.relativeAchievement:active {
  transform: scale(1, 1);
}

.overlayAchievementBg {
  position: absolute;
  top: 7%;
  left: 1%;
  width: 24%;
  height: 90%;
  background-color: rgba(0, 128, 0, 0.6);
  border-radius: 10em;
  z-index: 1;
}

.goldImg {
  width: 10%;
  position: absolute;
  top: 45%;
  left: 7.8%;
  z-index: 2;
}

.goldText {
  width: 18%;
  position: absolute;
  top: 17%;
  left: 3.7%;
  font-family: soho;
  color: #e9e9b2;
  font-size: 1.3em;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px black;
  z-index: 2;
}
