<div
  class="container"
  *ngIf="open"
  [@fadeEnter]="{
    value: '',
    params: { duration: 300, delay: 0 }
  }"
  [@fadeOutLeave]="{
    value: '',
    params: { duration: 300, delay: 0 }
  }"
>
  <div class="optionsMenuBackdrop"></div>
  <div class="overlayBox">
    <img class="overlayPanelBg" src="./assets/menu.png" />
    <div class="overlalPanelTitle">Achievements</div>
    <div class="closeMenuButtonBox" (click)="closeMenu()">
      <img src="./assets/close.png" class="closeMenuButton" />
      <img src="./assets/closeActive.png" class="closeMenuButton activeBtn" />
    </div>
    <div class="achievementsList">
      <div
        class="achievement"
        *ngFor="let item of achievementsList; trackBy: trackById"
      >
        <div
          class="overlayAchievementContainer"
          *ngIf="item.unlocked && !item.gemsUnlocked"
          [ngClass]="{
            disabledHover: item.worldId !== currentWorld
          }"
          [@fadeOutLeave]="{
            value: '',
            params: { duration: 300, delay: 0 }
          }"
          (click)="getReward(item)"
        >
          <div class="relativeAchievement">
            <div class="overlayAchievementBg"></div>
            <img [src]="goldImage" class="goldImg" />
            <div class="goldText">150</div>
          </div>
        </div>
        <img
          src="./assets/achievementBox.png"
          [ngClass]="{
            disabled: !item.unlocked || !item.gemsUnlocked
          }"
          class="achievementBackground"
        />
        <img
          src="./assets/achievements/gold.png"
          [ngClass]="{
            disabled: !item.unlocked || !item.gemsUnlocked
          }"
          class="achievementIcon"
        />
        <div
          class="achievementTitle"
          [ngClass]="{
            disabled: !item.unlocked || !item.gemsUnlocked
          }"
        >
          {{ item.title }}
        </div>
        <div
          class="achievementText"
          [ngClass]="{
            disabled: !item.unlocked || !item.gemsUnlocked
          }"
        >
          {{ item.description }}
        </div>
      </div>
    </div>
    <div class="achievementNumbersList">
      <div
        *ngFor="let item of pageNumbers"
        class="achievementNumberItem"
        [ngClass]="{
          activePageBtn: currentpage === item
        }"
        (click)="pageAchievements(item)"
      >
        {{ item }}
      </div>
    </div>
  </div>
</div>
