<div class="container">
  <app-hero-overlay
    [open]="heroRoomOpen"
    (onCloseMenu)="heroRoomOpen = false"
  ></app-hero-overlay>
  <app-deck-overlay
    [open]="deckOpen"
    (onCloseMenu)="deckOpen = false"
  ></app-deck-overlay>
  <app-gallery-overlay
    [open]="galleryOpen"
    (onCloseMenu)="galleryOpen = false"
  ></app-gallery-overlay>
  <app-achievements-overlay
    [open]="achievementsOpen"
    (onCloseMenu)="achievementsOpen = false"
  ></app-achievements-overlay>
  <app-shop-overlay
    [open]="shopOpen"
    (onCloseMenu)="shopOpen = false"
  ></app-shop-overlay>
  <app-choose-difficulty-overlay
    [open]="chooseDifficultyOpen"
    (onCloseMenu)="chooseDifficultyOpen = false"
    [showInformation]="showInformation"
  ></app-choose-difficulty-overlay>
  <!-- <app-campaign-overlay
    [open]="chooseCampaignOpen"
    (onCloseMenu)="chooseCampaignOpen = false"
  ></app-campaign-overlay> -->
  <app-premium-overlay
    [open]="premiumOpen"
    (onCloseMenu)="premiumOpen = false"
  ></app-premium-overlay>
  <app-wheel-overlay
    [open]="wheelOpen"
    (onCloseMenu)="wheelOpen = false"
  ></app-wheel-overlay>
  <div
    class="overlayHintBox"
    *ngIf="showWildHintOverlay"
    [@fadeEnter]="{
      value: '',
      params: { duration: 300, delay: 200, translate: '300px' }
    }"
    [@fadeOutLeave]="{ value: '', params: { duration: 300 } }"
  >
    <div class="relativeHintBoxBackdrop"></div>
    <div class="relativeHintBox">
      <img src="./assets/tip.png" class="tipBg" />
      <img src="./assets/wildImg.png" class="tipImage" />
      <img
        src="./assets/tipButton.png"
        class="tipButton"
        (click)="showWildHintOverlay = false"
      />
      <div class="tipTitle">{{ currentTip.title }}</div>
      <div class="tipHeader">{{ currentTip.header }}</div>
      <div class="tipText">
        {{ currentTip.text }}
      </div>
      <div class="tipRows">
        <div class="tipRowItem" *ngFor="let item of currentTip.tipRows">
          {{ item }}
        </div>
      </div>
    </div>
  </div>

  <!-- Top -->
  <div
    class="progressBarBox"
    [ngClass]="{
      bigIndex: wheelOpen
    }"
    *ngIf="display"
    [@fadeUpEnter]="{ value: '', params: { duration: 500, delay: 0 } }"
  >
    <div class="progressBarContainer">
      <img src="./assets/progressBar.png" class="progressBarImage" />
      <img src="./assets/battleStar.png" class="progressStarImage" />
      <div class="progressText">0/80</div>
    </div>
  </div>
  <div
    class="premiumBox"
    *ngIf="display"
    [@fadeUpEnter]="{ value: '', params: { duration: 500, delay: 0 } }"
  >
    <img
      src="./assets/premium.png"
      class="premiumImg"
      (click)="premiumOpen = true"
    />
  </div>
  <div
    class="progressBarGold"
    *ngIf="display"
    [ngClass]="{
      bigIndex: wheelOpen
    }"
    [@fadeUpEnter]="{ value: '', params: { duration: 500, delay: 0 } }"
  >
    <div class="progressBarContainer">
      <img src="./assets/progressBar.png" class="progressBarImage" />
      <img src="./assets/gold.png" class="progressGoldImage" />
      <!-- <img
        src="./assets/plus.png"
        class="progressPlusImage"
        (click)="premiumOpen = true"
      /> -->
      <div class="progresssTextGold">{{ gold }}</div>
    </div>
  </div>
  <!-- Bottom right -->
  <div
    class="bottomRightBox"
    *ngIf="display"
    [@fadeUpEnter]="{ value: '', params: { duration: 500, delay: 0 } }"
  >
    <div class="bottomRightContainer">
      <div class="relativeIcon">
        <img
          src="./assets/worlds.png"
          class="overlayIcon"
          (click)="chooseCampaignOpen = true"
        />
      </div>
      <div class="relativeIcon shopHover">
        <img
          src="./assets/shopPoints.png"
          class="alertIcon shopIcon"
          *ngIf="true"
        />
        <img src="./assets/notification.png" class="alertIcon" *ngIf="false" />
        <img
          src="./assets/shop.png"
          class="overlayIcon"
          (click)="shopOpen = true"
        />
      </div>
      <div class="overlayHeroBox" (click)="heroRoomOpen = true">
        <div class="iconContainer" *ngIf="true">
          <div class="iconBox">
            <img src="./assets/heroPoints.png" class="smallerIcon" />
            <div class="iconText">3</div>
          </div>
        </div>
        <img src="./assets/playerIcons/link.png" class="heroIcon" />
        <img src="./assets/hero.png" class="overlayIcon" />
      </div>
      <div class="relativeIcon">
        <img
          src="./assets/deck.png"
          class="overlayIcon"
          (click)="deckOpen = true"
        />
      </div>
      <div class="relativeIcon">
        <img
          src="./assets/gallery.png"
          class="overlayIcon"
          (click)="galleryOpen = true"
        />
      </div>
    </div>
  </div>

  <!-- achievemenets -->
  <div
    class="bottomLeft"
    *ngIf="display"
    [@fadeUpEnter]="{ value: '', params: { duration: 500, delay: 0 } }"
  >
    <img
      src="./assets/achievements.png"
      class="overlayIcon achievementButton"
      (click)="achievementsOpen = true"
    />
  </div>
</div>
