<div class="container">
  <app-hero-overlay-overlay
    [open]="heroRoomOpen"
    (onCloseMenu)="heroRoomOpen = false"
  ></app-hero-overlay-overlay>
  <app-deck-overlay-overlay
    [open]="deckOpen"
    (onCloseMenu)="deckOpen = false"
  ></app-deck-overlay-overlay>
  <app-gallery-overlay-overlay
    [open]="galleryOpen"
    (onCloseMenu)="galleryOpen = false"
  ></app-gallery-overlay-overlay>
  <app-achievements-overlay-overlay
    [open]="achievementsOpen"
    (onCloseMenu)="achievementsOpen = false"
  ></app-achievements-overlay-overlay>
  <app-shop-overlay-overlay
    [open]="shopOpen"
    (onCloseMenu)="shopOpen = false"
  ></app-shop-overlay-overlay>

  <!-- Top -->
  <div
    class="progressBarBox"
    *ngIf="display"
    [@fadeUpEnter]="{ value: '', params: { duration: 500, delay: 0 } }"
  >
    <div class="progressBarContainer">
      <img src="./assets/progressBar.png" class="progressBarImage" />
      <img src="./assets/progressStar.png" class="progressStarImage" />
      <div class="progressText">0/80</div>
    </div>
  </div>
  <div
    class="progressBarGold"
    *ngIf="display"
    [@fadeUpEnter]="{ value: '', params: { duration: 500, delay: 0 } }"
  >
    <div class="progressBarContainer">
      <img src="./assets/progressBar.png" class="progressBarImage" />
      <img src="./assets/gold.png" class="progressGoldImage" />
      <img src="./assets/plus.png" class="progressPlusImage" />
      <div class="progresssTextGold">512</div>
    </div>
  </div>
  <!-- Bottom right -->
  <div
    class="bottomRightBox"
    *ngIf="display"
    [@fadeUpEnter]="{ value: '', params: { duration: 500, delay: 0 } }"
  >
    <div class="bottomRightContainer">
      <div class="relativeIcon">
        <img src="./assets/notification.png" class="alertIcon" *ngIf="false" />
        <img
          src="./assets/shop.png"
          class="overlayIcon"
          (click)="shopOpen = true"
        />
      </div>
      <div class="overlayHeroBox" (click)="heroRoomOpen = true">
        <img src="./assets/playerIcons/link.png" class="heroIcon" />
        <img src="./assets/hero.png" class="overlayIcon" />
      </div>
      <div class="relativeIcon">
        <img src="./assets/notification.png" class="alertIcon" *ngIf="false" />
        <img
          src="./assets/deck.png"
          class="overlayIcon"
          (click)="deckOpen = true"
        />
      </div>
      <div class="relativeIcon">
        <img src="./assets/notification.png" class="alertIcon" *ngIf="false" />
        <img
          src="./assets/gallery.png"
          class="overlayIcon"
          (click)="galleryOpen = true"
        />
      </div>
    </div>
  </div>

  <!-- achievemenets -->
  <div
    class="bottomLeft"
    *ngIf="display"
    [@fadeUpEnter]="{ value: '', params: { duration: 500, delay: 0 } }"
  >
    <img
      src="./assets/achievements.png"
      class="overlayIcon achievementButton"
      (click)="achievementsOpen = true"
    />
  </div>
</div>
