.container {
  height: 100vh;
  width: 100vw;
  position: relative;
  user-select: none;
}

.bgContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bgContainerImage {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: -1;
}

.bgFilter {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  position: absolute;
  z-index: 0;
}

.bottom,
.top,
.middle {
  width: 100%;
  height: 33.33%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.middle {
  row-gap: 3%;
}

.bottomMiddle,
.topMiddle {
  scale: 0.9;
}

* {
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
}

.middleLeft,
.middleRight {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  top: -35%;
  scale: 0.9;
}

.middleRight {
  left: -10%;
  position: relative;
}

.middleLeft {
  position: relative;
}

.attackButton {
  border-radius: 10em;
  width: 75%;

  user-select: none;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  animation: boxShadow 1500ms infinite;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  -webkit-user-drag: none;
  transition: all 0.3s;
}

.attackButton:hover {
  filter: brightness(130%);
  scale: 1.1;
}

.attackButton:active {
  scale: 0.9;
  filter: brightness(60%);
}

@keyframes boxShadow {
  // 0% {
  //   box-shadow: 0 0 10px 1px rgba(44, 219, 38, 0.8);
  // }
  // 70% {
  //   box-shadow: 0 0 10px 50px rgba(44, 219, 38, 0);
  // }
  // 100% {
  //   box-shadow: 0 0 10px 50px rgba(44, 219, 38, 0);
  // }
  0% {
    box-shadow: 0 0 10px 1px rgba(38, 132, 219, 0.8);
  }
  70% {
    box-shadow: 0 0 10px 50px rgba(38, 132, 219, 0);
  }
  100% {
    box-shadow: 0 0 10px 50px rgba(38, 132, 219, 0);
  }
}

.disabledButton {
  box-shadow: none !important;
  pointer-events: none !important;
  filter: brightness(60%);
}

.disabledButtonAnimation {
  animation: none !important;
}

.deck {
  width: 75%;
  height: 75%;
  // background-image: url(~src/assets/cardBack.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 5%;
  filter: drop-shadow(0 0 2px black);
}

.bottomRight,
.bottomLeft {
  position: relative;
}

.topLeft,
.topRight {
  position: relative;
}

.deckCard {
  position: absolute;
  left: 11%;
  top: 0%;
}

.deck1 {
  position: absolute;
  left: 12%;
  top: -1%;
}

.deck2 {
  position: absolute;
  left: 14%;
  top: -2%;
  scale: 0.99;
}

.topdeck1 {
  left: 12%;
  top: -1%;
}
.topdeck2 {
  left: 13.5%;
  top: -2%;
  scale: 0.99;
}
.topdeck3 {
  left: 14.5%;
  top: -3.5%;
  scale: 0.98;
}

.deck3 {
  position: absolute;
  left: 15.5%;
  top: -3.5%;
  scale: 0.98;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.deckTopImage {
  position: absolute;
  left: 15.5%;
  top: -3.5%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  scale: 0.98;
}

.bottomLeft,
.topLeft,
.bottomRight,
.topRight {
  height: 90%;
  width: 12%;
  scale: 0.9;
}

.bottomRight,
.bottomLeft {
  bottom: -20%;
}

.topLeft,
.topRight {
  top: 4%;
}

.bottomMiddle {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 100%;
  width: 70%;
  column-gap: 0.1%;
}

.bottomCard {
  position: relative;
  bottom: -50%;
  width: 12%;
  height: 100%;
  padding: 0.5%;
  transition: all 0.3s;

  user-select: none;
  -webkit-user-drag: none;
}

.cardBackgroundImage {
  width: 100%;
  // background-image: url(~src/assets/cards/10_of_clubs.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-user-drag: none;
  border-radius: 5%;
}

.bottomCard:hover {
  bottom: -30%;
}

.abilityDeckCardBox {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -16% !important;
  left: 3%;
  position: relative;
  scale: 0.78;
}

.activeCard {
  bottom: -15% !important;
  transform: perspective(900px) translateY(0) rotateX(25deg) translateZ(0);
}

.cardBorder {
  padding: 3%;
  margin: 1%;
  display: flex;
  border-radius: 5%;
  transition: all 0.3s;
  position: relative;
  background-color: rgba(0, 0, 0, 0.295);
}

.activeCardBorder {
  background-color: rgba(234, 255, 47, 1);
  box-shadow: 0 0 3px 3px rgba(234, 255, 47, 0.5);
}

.hoveringAbilityCard {
  background-color: rgba(234, 255, 47, 1);
  box-shadow: 0 0 3px 3px rgba(234, 255, 47, 0.5);
}

.validCardBorder {
  background-color: rgba(44, 219, 38, 1);
  box-shadow: 0 0 10px 1px rgba(44, 219, 38, 0.5);
}

.errorCardBorder {
  background-color: rgba(235, 0, 0, 1);
  box-shadow: 0 0 3px 3px rgba(235, 0, 0, 0.5);
}

.abilityActiveCardBorder {
  background-color: rgba(44, 219, 38, 1);
  box-shadow: 0 0 10px 1px rgba(44, 219, 38, 0.5);
}

.floatingText {
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
  width: 50%;
  z-index: 999;
}

.floatingTextAbility {
  top: 15%;
  transform: translate(-50%, 0%);
  font-size: 70%;
}

.floatingRelative {
  position: relative;
  z-index: 999;
}

.floatingTextMessage {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 3em;
  color: rgba(235, 0, 0, 1);
  text-shadow: 0 0 0.3em black;
  user-select: none;
  text-align: center;
  z-index: 999;
}

.redrawPanel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: 99;
}

.attackPanel {
  z-index: 99;
}

.fade {
  user-select: none !important;
  pointer-events: none !important;

  opacity: 0;
  transition: all 0.5s;
}

.fadeHide {
  display: none;
}

.relativeRedrawPanel {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
}

.panelBackground {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  height: calc(100% + 1px);
  width: calc(100% + 1px);
  backdrop-filter: blur(30px);
  top: -1px;
  left: -1px;
}

.redrawCardsContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 70%;
  column-gap: 1%;
  margin-left: 10%;
  margin-right: 10%;
}

.redrawBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  row-gap: 10%;
  height: 30%;
}

.goBtnContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 8%;
}

.discardButtonBox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  top: -5%;
  right: -5%;
}

.defendBtnContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 2%;
  width: 100%;
  height: 100%;
  right: -38%;
  bottom: -35%;
}

.goButton {
  border-radius: 20%;
  width: 6%;

  user-select: none;
  -webkit-user-drag: none;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.3s;
  animation: boxShadow 1500ms infinite;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

.goButton:hover {
  filter: brightness(130%);
  scale: 1.1;
}

.goButton:active {
  scale: 0.9;
  filter: brightness(60%);
}

.redrawText {
  font-size: 4em;
  color: white;
  position: relative;
}

.redrawDetailText {
  font-size: 2em;
  color: white;
  position: relative;
}

.redrawDetailTextInvisible {
  font-size: 2em;
  opacity: 0;
  position: relative;
}

.redrawCard {
  position: relative;
  bottom: -10%;
  width: 100%;
  padding: 0.5%;
  transition: all 0.3s;

  user-select: none;
  -webkit-user-drag: none;
}

.redrawCardBox {
  height: 32%;
  width: 12%;
}

.activeRedrawCard {
  bottom: 7% !important;
}

.activeDiscardCard {
  bottom: -15% !important;
}

.discardCard {
  position: relative;
  bottom: 0%;
  width: 100%;
  padding: 0.5%;
  transition: all 0.3s;

  user-select: none;
  -webkit-user-drag: none;
}

.redrawCard:hover {
  bottom: -5%;
}

.discardCard:hover {
  bottom: -9%;
}

.redrawBorder {
  // padding: 2%;
  // margin: 4%;
}

.middleCard {
  width: 50%;
  height: 100%;
  transition: all 0.3s;

  pointer-events: none;
  user-select: none;
  -webkit-user-drag: none;
}

.middleRightCard {
  width: 90%;
  height: 35%;

  pointer-events: all;
}

.middleLeftCard {
  pointer-events: none;
}

.middleRightBox {
  height: 50%;
  width: 17%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.enemyCardsBox {
  display: flex;
  width: 100%;
  column-gap: 3%;
  justify-content: space-evenly;
}

.middleCardBorder {
  padding: 3%;
  margin: 2%;
  transition: all 0s;
}

.middleCardBorder:hover {
  box-shadow: 0 0 10px 3px rgba(255, 0, 0, 0.9);
}

.errorEnemyBorder {
  animation: boxShadowRed 1500ms infinite;
  animation-fill-mode: forwards;
}

@keyframes boxShadowRed {
  0% {
    box-shadow: 0 0 10px 1px rgba(255, 0, 0, 0.9);
  }
  90% {
    box-shadow: 0 0 10px 50px rgba(255, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 10px 50px rgba(255, 0, 0, 0);
  }
}

.topMiddle {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 70%;
  column-gap: 0.1%;
  top: -50%;
  position: relative;
}

.topCard {
  bottom: -50% !important;

  user-select: none !important;
  pointer-events: none !important;
}

.attackContainer {
  height: 100%;
}

.topAttackContainer {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.bottomAttackContainer {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.attackCardBox {
  width: 10%;
}

.attackCardFlexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.attackCard {
  position: relative;
  width: 100%;
  padding: 0.5%;

  user-select: none;
  -webkit-user-drag: none;
}

.successText {
  color: rgb(0, 196, 0);
}

.failText {
  color: rgba(206, 0, 0, 1);
}

.tieText {
  color: grey;
}

.attackingBottomMiddle {
  z-index: 99;
}

.cardDetailsContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.playerBackground {
  width: 105%;
  left: -2%;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 6;
}

.playerCardBorder {
  position: relative;
  width: 100%;
  transition: all 0.1s;
}

.cardFooterIconBox {
  position: absolute;
  bottom: 0;
  width: 45%;
}

.cardPlayerBorder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 4%;
}

.swordBox {
  width: 55%;
  left: -15%;
  bottom: -8%;
}

.swordText {
  position: relative;
  top: 5%;
}

.heartBox {
  right: -10%;
  bottom: -7%;
}

.attackDefenseText {
  background: -webkit-linear-gradient(#fcf9f0, #cfcfcb);
  -webkit-text-stroke: 2px #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  // font-family: HeaderFont;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-weight: bold;
  font-size: 100%;
}

.redHealthText {
  background: -webkit-linear-gradient(#ff0000, #ffffff);
  -webkit-text-stroke: 2px #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  // font-family: HeaderFont;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-weight: bold;
  font-size: 100%;
}

.cardIconValue {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 12;
  font-size: 150%;
}

.wildCard {
  width: 94%;
  height: 96%;
  border-radius: 5%;
  position: absolute;
  opacity: 0.5;
  top: 2%;
  left: 3%;
  background: linear-gradient(
    124deg,
    #ff2400,
    #e81d1d,
    #e8b71d,
    #e3e81d,
    #1de840,
    #1ddde8,
    #2b1de8,
    #dd00f3,
    #dd00f3
  );
  background-size: 350% 350%;
  background-repeat: no-repeat;

  -webkit-animation: rainbow 5s ease infinite;
  -z-animation: rainbow 5s ease infinite;
  -o-animation: rainbow 5s ease infinite;
  animation: rainbow 5s ease infinite;
}

@-webkit-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-moz-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-o-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}

.specialAttacKBoxPlayer {
  position: absolute;
  top: 0;
  left: 3%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.specialAttacKBoxPlayerCard {
  width: 60%;
}

.specialAttacKBoxPlayer2 {
  position: absolute;
  top: 0;
  right: 3%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.specialAttacKBoxPlayerCard2 {
  width: 60%;
}

.playerResultText {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  top: -5%;
}

.confetti {
  position: absolute !important;
  top: 0;
  left: 0;
}

.claws {
  top: 10%;
  animation: zoomOutClaws;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

@keyframes zoomOutClaws {
  0% {
    scale: 2;
  }
  70% {
    scale: 1;
  }
  100% {
    scale: 1;
  }
}

.healing {
  animation: zoomOutHeal !important;
  animation-duration: 1s !important;
  animation-fill-mode: forwards !important;
}

@keyframes zoomOutHeal {
  0% {
    opacity: 0;
    scale: 1;
  }
  70% {
    opacity: 1;
    scale: 2;
  }
  100% {
    opacity: 0;
  }
}

.greenHealthText {
  background: -webkit-linear-gradient(#15ff00, #ffffff);
  -webkit-text-stroke: 2px #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  // font-family: HeaderFont;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-weight: bold;
  font-size: 100%;
}

.deadEnemy {
  filter: brightness(0.3);
  transition: all 1s;
}

.zoomOutDarken {
  animation: darkenZoomOut;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes darkenZoomOut {
  0% {
    scale: 1;
  }
  100% {
    scale: 0.9;
  }
}

.zoomIn {
  animation: zoomIn;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes zoomIn {
  0% {
    scale: 1;
  }
  50% {
    scale: 1;
  }
  100% {
    scale: 1.1;
  }
}

.wildCardSuites {
  width: 96%;
  height: 96%;
  position: absolute;
  top: 2%;
  right: 2%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-radius: 3%;
  overflow: hidden;
}

.suit {
  width: 13%;
  padding: 2%;
  background-color: rgba(0, 0, 0, 0.521);
  opacity: 0.2;
  :hover > & {
    opacity: 0.6;
  }
  -webkit-user-drag: none;
}

.suit:hover {
  opacity: 1 !important;
}

.suitLast {
  border-bottom-left-radius: 20%;
}

.bottomWildCard {
  width: 94%;
  height: 96%;
  left: 3%;
  right: 3%;
  top: 2%;
}

.leavingFieldCard {
  animation: flickerAway 2500ms;
  animation-fill-mode: forwards;
  user-select: none !important;
  pointer-events: none !important;

  animation-delay: 1s;
}

@keyframes flickerAway {
  0% {
    filter: brightness(1);
    scale: 1;
  }
  70% {
    filter: brightness(0.3);
    scale: 1;
  }
  100% {
    scale: 0;
    filter: brightness(0);
  }
}

.deathSkullBox {
  position: absolute;
  height: 100%;
  width: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.deathSkull {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deathSkullAnimation {
  animation: animateSkull;
  animation-duration: 1s;
  animation-delay: 3500ms;
  animation-fill-mode: forwards;
}

@keyframes animateSkull {
  0% {
    scale: 0;
    opacity: 1;
  }

  100% {
    scale: 1;
    opacity: 0;
  }
}

.centerNumberValue {
  position: absolute;
  top: 0%;
  left: 70%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 1.2em;
  z-index: 8;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  opacity: 0;

  background: -webkit-linear-gradient(#ff0000, #ffffff);
  -webkit-text-stroke: 2px #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  // font-family: HeaderFont;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-weight: bold;
  font-size: 100%;
  transition: all 0.3s;
  :hover > & {
    opacity: 1;
  }
}

.attackText {
  background: -webkit-linear-gradient(#fcf9f0, #cfcfcb);
  -webkit-text-stroke: 2px #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  // font-family: HeaderFont;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-weight: bold;
}

.specialNameText {
  background: linear-gradient(
    124deg,
    #ff2400,
    #e81d1d,
    #e8b71d,
    #e3e81d,
    #1de840,
    #1ddde8,
    #2b1de8,
    #dd00f3,
    #dd00f3
  );
  background-size: 350% 350%;
  background-repeat: no-repeat;

  -webkit-animation: rainbow 5s ease infinite;
  -z-animation: rainbow 5s ease infinite;
  -o-animation: rainbow 5s ease infinite;
  animation: rainbow 5s ease infinite;

  -webkit-text-stroke: 1px #000000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  // font-family: HeaderFont;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-weight: bold;
  // font-size: 230%;
  // font-family: bolder;
}

.showHitText {
  opacity: 1;
}

.wildCardIcon {
  position: absolute;
  top: -7%;
  right: -4%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.wildIcon {
  width: 15%;
}

.wildText {
  background: white;
  -webkit-text-stroke: 2px #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  // font-family: HeaderFont;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-weight: bold;
}

.specialWildRangeIcon {
  position: absolute;
  top: -10%;
  right: -7%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.specialWildRangeIconText {
  background: white;
  -webkit-text-stroke: 1px #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  // font-family: HeaderFont;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-weight: bold;
  font-size: 150%;
}

.heartHealthBox {
  position: relative;
  overflow: hidden;
}

.cardIcon {
  width: 100%;
  position: relative;
  z-index: 11;
  overflow: hidden;
}

.cardIconBorder {
  width: 100%;
  position: relative;
  z-index: 9;
}

.defendAttackTxt {
  position: absolute;
  margin-top: -110%;
  width: 100%;
  text-align: center;
}

.attackButtonBox {
  position: absolute;
  left: 28%;
  top: -50%;
  transition: all 0.3s;
}

.attackTxt {
  margin-left: -12%;
  margin-top: -100%;
}

.disabledAbilityBtn {
  user-select: none;
  pointer-events: none;
  animation: disableBurst 1500ms;
  animation-fill-mode: forwards;
}

@keyframes disableBurst {
  0% {
    filter: drop-shadow(0 0 0.3em yellow);
  }

  100% {
    filter: drop-shadow(0 0 5em rgba(38, 132, 219, 0)) brightness(60%);
  }
}

.disabledCards {
  user-select: none;
  pointer-events: none;
  cursor: default;
  filter: brightness(0.7);
}

.veryBottomMiddle {
  transition: all 0.3s;
  transition: width 1s linear;
}

// ::ng-deep .leader-line,
// .leader-line {
//   z-index: 999;
// }

.turnIsOverCard {
  transition: all 1s;
  rotate: 10deg;
  filter: brightness(0.7);
}

.enemyTargetActive {
  background-color: rgba(234, 255, 47, 1) !important;
  box-shadow: 0 0 10px 5px rgba(234, 255, 47, 1) !important;
}

.enemyTopCard {
  width: 0%;
  transform: translate(0, 0%);
  animation: cardFadeDown 800ms;
  animation-fill-mode: forwards;
  transition: all 0.3s;
  position: relative;
  bottom: 0 !important;
}

.playerBottomCard {
  width: 0%;
  transform: translate(0, 0%);
  animation: cardFadeUp 800ms;
  animation-fill-mode: forwards;
}

.bottomAbilityStuff {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.paperBg {
  background: url(~src/assets/default/paper.png);
}

.paperBgEnemy {
  background: url(~src/assets/default/paperEnemy.png);
  z-index: 11 !important;
}

.abilityTitle {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-position: center;
  background-position: 50% 12%;
  font-size: 100%;
  z-index: 2;
}

.abilityDescription {
  width: 100%;
  height: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-position: bottom;
  background-position: 50% 90%;
  font-size: 100%;
  z-index: 2;
}

.abilityTitleText {
  position: relative;
  top: -1%;
  padding-left: 4%;
}

.abilityBorder1 {
  position: absolute;
  background-position: top;
  background-position: 50% 50%;
  width: 3%;
  top: 0;
  right: 0;
  height: 100%;
}

.abilityBorder2 {
  position: absolute;
  background-position: top;
  background-position: 50% 30%;
  width: 3%;
  top: 0;
  left: 0;
  height: 100%;
}

.abilityBorder3 {
  position: absolute;
  background-position: top;
  background-position: 50% 30%;
  height: 3%;
  left: 0;
  bottom: 0;
  width: 100%;
}

.abilityBorder4 {
  position: absolute;
  background-position: top;
  background-position: 50% 30%;
  height: 3%;
  left: 0;
  bottom: 0;
  width: 100%;
}

.abilityDescription {
  position: relative;
}

.abilityDescriptionLevel {
  position: absolute;
  top: -25%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.levelText {
  font-size: 70%;
  border-radius: 5%;
  background-position: center;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.377);
  padding: 3%;
}

.abilityDescriptionText {
  text-align: start;
  padding-left: 4%;
  padding-right: 4%;
}

.abilityTitlePlayer {
  position: relative;
  z-index: 12 !important;
  background-position: 50% 5%;
  height: 3%;
  font-size: 90%;
}

.paperBgPlayer1 {
  background-position: 50% 25%;
  background-size: cover;
  z-index: 11 !important;
}

.paperBgPlayer2 {
  background-position: 50% 25%;
  background-size: cover;
  z-index: 11 !important;
}

.paperBgPlayer3 {
  background-position: 50% 9%;
  z-index: 11 !important;
}

.centerHoverText {
  background: -webkit-linear-gradient(#ff0000, #ffffff);
  -webkit-text-stroke: 2px #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  // font-family: HeaderFont;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-weight: bold;
  font-size: 200%;
}

@keyframes cardFadeDown {
  0% {
    opacity: 0;
    width: 0%;
    transform: translate(0, -100%);
  }
  100% {
    opacity: 1;
    width: 12%;
    transform: translate(0, 0%);
  }
}

@keyframes cardFadeUp {
  0% {
    opacity: 0;
    width: 0%;
    transform: translate(0, 100%);
  }
  100% {
    opacity: 1;
    width: 12%;
    transform: translate(0, 0%);
  }
}

.floatingMessageInfo {
  color: white;
}

.activeEnemyCard {
  bottom: -2em !important;
}

.abilitySuitsBox {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 2%;
  padding-right: 4%;
}

.abilitySuit {
  width: 15%;
}

@media screen and (max-width: 800px) {
  .redrawText {
    font-size: 120%;
  }

  .redrawDetailText {
    font-size: 120%;
  }

  .attackButton {
    width: 50%;
  }

  .defendAttackTxt {
    margin-top: -70%;
  }

  .wildText {
    font-size: 50%;
    -webkit-text-stroke: 0.5px #000;
  }

  .redrawCardBox {
    width: 15%;
  }
}
