<div class="container">
  <div class="bgContainer">
    <div class="bgFilter"></div>
    <div
      class="bgContainerImage"
      [ngStyle]="{
        'background-image':
          'url(./assets/' +
          gameThemePath +
          '/backgrounds/' +
          randomBgImage +
          '.png)'
      }"
    ></div>
  </div>
  <!-- Attack Phase -->
  <div class="redrawPanel attackPanel" *ngIf="attackStarted">
    <div class="relativeRedrawPanel">
      <div
        class="panelBackground"
        [ngClass]="{
          fade: attackEnding,
          fadeHide: !attackStarted
        }"
        [@fadeEnter]="{
          value: '',
          params: { duration: 500, delay: 0, translate: '300px' }
        }"
      ></div>

      <div class="middleRightBox specialAttacKBoxPlayer2">
        <div
          class="middleCard middleRightCard middleLeftCard specialAttacKBoxPlayerCard2"
          [@fadeRightEnter]="{
            value: '',
            params: { duration: 800, delay: 0, translate: '200px' }
          }"
          [@fadeRightLeave]
          [ngClass]="{
            fade: attackEnding,
            fadeHide: !attackStarted,
            zoomOutDarken: enemyWinner,
            zoomIn: enemyLoser
          }"
        >
          <!-- Start of animations -->
          <div
            class="playerResultText redrawDetailText"
            [@zoomInEnter]="{
              value: '',
              params: {
                duration: 400,
                delay: enemyWinner ? 400 : 2000,
                translate: '100px'
              }
            }"
            [@fadeUpLeave]
            *ngIf="enemyWinner || playerWinner || tie"
            [ngClass]="{
              successText: enemyWinner,
              failText: enemyLoser,
              tieText: tie
            }"
          >
            {{
              enemyWinner
                ? "Winner!"
                : tie
                ? "Tie"
                : "-" + (selectedCards.length + currentExtraDmg)
            }}
          </div>
          <div
            class="redrawDetailTextInvisible"
            *ngIf="!playerWinner && !playerLoser && !tie"
          >
            .
          </div>
          <!-- End of animations -->
          <div
            class="cardBorder middleCardBorder playerCardBorder"
            [ngClass]="{
              deadEnemy: findEnemyPlayer().health < 1
            }"
          >
            <!-- Start of animations -->
            <div class="cardPlayerBorder">
              <img
                [src]="'./assets/' + gameThemePath + '/greenBorder.png'"
                class="cardIcon"
              />
              <img
                [src]="'./assets/' + gameThemePath + '/confetti.gif'"
                class="cardIcon confetti"
                *ngIf="enemyWinner"
                [@fadeDownEnter]="{
                  value: '',
                  params: { duration: 500, delay: 100, translate: '300px' }
                }"
                [@fadeDownLeave]
              />
              <div class="cardIcon darkenCard"></div>
              <img
                [src]="'./assets/' + gameThemePath + '/claws.png'"
                class="cardIcon confetti claws"
                *ngIf="enemyLoser"
                [@fadeEnter]="{
                  value: '',
                  params: { duration: 500, delay: 2000, translate: '300px' }
                }"
                [@fadeOutLeave]
              />
            </div>
            <!-- End of animations -->
            <div class="cardFooterIconBox swordBox">
              <img
                [src]="'./assets/' + gameThemePath + '/sword.png'"
                class="cardIcon"
              />
              <div class="cardIconValue">
                <div
                  class="attackDefenseText swordText"
                  [ngStyle]="{
                    'font-family': gameThemePath + '-HeaderFont'
                  }"
                >
                  {{ findEnemyPlayer().attack }}
                </div>
              </div>
            </div>
            <div class="cardFooterIconBox heartBox">
              <img
                [src]="'./assets/' + gameThemePath + '/playerHealth.png'"
                class="cardIcon"
              />
              <div class="cardIconValue">
                <div
                  class="attackDefenseText"
                  [ngStyle]="{
                    'font-family': gameThemePath + '-HeaderFont'
                  }"
                  [ngClass]="{
                    redHealthText:
                      findEnemyPlayer().health < findEnemyPlayer().baseHealth
                  }"
                >
                  {{ findEnemyPlayer().health }}
                </div>
              </div>
            </div>
            <img
              [src]="findEnemyPlayer().image"
              class="cardBackgroundImage playerBackground"
            />
          </div>
        </div>
      </div>

      <div class="middleRightBox specialAttacKBoxPlayer">
        <div
          class="middleCard middleRightCard middleLeftCard specialAttacKBoxPlayerCard"
          [@fadeLeftEnter]="{
            value: '',
            params: { duration: 800, delay: 100, translate: '200px' }
          }"
          [@fadeLeftLeave]
          [ngClass]="{
            fade: attackEnding,
            fadeHide: !attackStarted,
            zoomOutDarken: playerWinner,
            zoomIn: playerLoser
          }"
        >
          <!-- Start of animations -->
          <div
            class="playerResultText redrawDetailText"
            [@zoomInEnter]="{
              value: '',
              params: {
                duration: 400,
                delay: playerWinner ? 400 : 2000,
                translate: '100px'
              }
            }"
            [@fadeUpLeave]
            *ngIf="enemyWinner || playerWinner || tie"
            [ngClass]="{
              successText: playerWinner,
              failText: playerLoser,
              tieText: tie
            }"
          >
            {{
              playerWinner ? "Winner!" : tie ? "Tie" : "-" + enemyDefense.length
            }}
          </div>
          <div
            class="redrawDetailTextInvisible"
            *ngIf="!playerWinner && !playerLoser && !tie"
          >
            .
          </div>
          <!-- End of animations -->
          <div
            class="cardBorder middleCardBorder playerCardBorder"
            [ngClass]="{
              deadEnemy: player.health < 1
            }"
          >
            <!-- Start of animations -->
            <div class="cardPlayerBorder">
              <img
                [src]="'./assets/' + gameThemePath + '/greenBorder.png'"
                class="cardIcon"
              />
              <img
                [src]="'./assets/' + gameThemePath + '/confetti.gif'"
                class="cardIcon confetti"
                *ngIf="playerWinner"
                [@fadeDownEnter]="{
                  value: '',
                  params: { duration: 500, delay: 100, translate: '300px' }
                }"
                [@fadeDownLeave]
              />
              <img
                [src]="'./assets/' + gameThemePath + '/claws.png'"
                class="cardIcon confetti claws"
                *ngIf="playerLoser"
                [@fadeEnter]="{
                  value: '',
                  params: { duration: 500, delay: 2000, translate: '300px' }
                }"
                [@fadeOutLeave]
              />
            </div>
            <!-- End of animations -->
            <div class="cardFooterIconBox swordBox">
              <img
                [src]="'./assets/' + gameThemePath + '/sword.png'"
                class="cardIcon"
              />
              <div class="cardIconValue">
                <div
                  class="attackDefenseText swordText"
                  [ngStyle]="{
                    'font-family': gameThemePath + '-HeaderFont'
                  }"
                >
                  {{ player.attack }}
                </div>
              </div>
            </div>
            <div class="cardFooterIconBox heartBox">
              <img
                [src]="'./assets/' + gameThemePath + '/playerHealth.png'"
                class="cardIcon"
              />
              <div class="cardIconValue">
                <div
                  class="attackDefenseText"
                  [ngStyle]="{
                    'font-family': gameThemePath + '-HeaderFont'
                  }"
                  [ngClass]="{
                    redHealthText: player.health < player.baseHealth
                  }"
                >
                  {{ player.health }}
                </div>
              </div>
            </div>
            <img
              [src]="player.image"
              class="cardBackgroundImage playerBackground"
            />
          </div>
        </div>
      </div>

      <div
        class="attackContainer"
        [ngClass]="{
          fade: attackEnding,
          fadeHide: !attackStarted
        }"
      >
        <div class="topAttackContainer">
          <div
            class="redrawDetailTextInvisible"
            *ngIf="(enemyAttackHand?.name ?? '').length < 1"
          >
            .
          </div>
          <div
            class="redrawDetailText"
            [@zoomInEnter]="{
              value: '',
              params: { duration: 400, delay: 1000, translate: '30px' }
            }"
            [@fadeUpLeave]
            *ngIf="(enemyAttackHand?.name ?? '').length > 1"
            [ngClass]="{
              specialNameText: enemyAttackHand?.power === 5
            }"
            [ngStyle]="
              enemyAttackHand?.power === 5
                ? {
                    'font-family': gameThemePath + '-HeaderFont'
                  }
                : {}
            "
          >
            {{ enemyAttackHand?.name }}
          </div>
          <div class="attackCardFlexRow">
            <div
              *ngFor="let card of enemyDefense; index as i"
              class="attackCardBox"
              [@fadeDownEnter]="{
                value: '',
                params: { duration: 500, delay: 500, translate: '30px' }
              }"
              [@fadeDownLeave]
            >
              <div class="attackCard">
                <div class="cardBorder">
                  <img
                    [src]="'./assets/' + gameThemePath + '/cards/' + card.image"
                    class="cardBackgroundImage"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="bottomAttackContainer">
          <div
            class="redrawDetailTextInvisible"
            *ngIf="(playerAttackHand?.name ?? '').length < 1"
          >
            .
          </div>
          <div
            class="redrawDetailText"
            [@zoomInEnter]="{
              value: '',
              params: { duration: 400, delay: 1000, translate: '30px' }
            }"
            [@fadeUpLeave]
            *ngIf="(playerAttackHand?.name ?? '').length > 1"
            [ngClass]="{
              specialNameText: playerAttackHand?.power === 5
            }"
            [ngStyle]="
              playerAttackHand?.power === 5
                ? {
                    'font-family': gameThemePath + '-HeaderFont'
                  }
                : {}
            "
          >
            {{ playerAttackHand?.name }}
          </div>
          <div class="attackCardFlexRow">
            <div
              *ngFor="let card of selectedCards; index as i"
              class="attackCardBox"
              [@fadeUpEnter]="{
                value: '',
                params: { duration: 500, delay: 500, translate: '150px' }
              }"
              [@fadeUpLeave]
            >
              <div class="attackCard">
                <div class="cardBorder">
                  <img
                    [src]="'./assets/' + gameThemePath + '/cards/' + card.image"
                    class="cardBackgroundImage"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Attack Phase Bot turn -->
  <div class="redrawPanel attackPanel" *ngIf="enemyAttackStarted">
    <div class="relativeRedrawPanel">
      <div
        class="panelBackground"
        [ngClass]="{
          fade: attackEnding,
          fadeHide: !enemyAttackStarted
        }"
        [@fadeEnter]="{
          value: '',
          params: { duration: 500, delay: 0, translate: '300px' }
        }"
      >
        <div class="middleRightBox specialAttacKBoxPlayer2">
          <div
            class="middleCard middleRightCard middleLeftCard specialAttacKBoxPlayerCard2"
            [@fadeRightEnter]="{
              value: '',
              params: { duration: 800, delay: 0, translate: '200px' }
            }"
            [@fadeRightLeave]
            [ngClass]="{
              fade: attackEnding,
              fadeHide: !enemyAttackStarted,
              zoomOutDarken: enemyWinner,
              zoomIn: enemyLoser
            }"
          >
            <!-- Start of animations -->
            <div
              class="playerResultText redrawDetailText"
              [@zoomInEnter]="{
                value: '',
                params: {
                  duration: 400,
                  delay: enemyWinner ? 400 : 2000,
                  translate: '100px'
                }
              }"
              [@fadeUpLeave]
              *ngIf="enemyWinner || playerWinner || tie"
              [ngClass]="{
                successText: enemyWinner,
                failText: enemyLoser,
                tieText: tie
              }"
            >
              {{
                enemyWinner
                  ? "Winner!"
                  : tie
                  ? "Tie"
                  : "-" + (selectedCards.length + currentExtraDmg)
              }}
            </div>
            <div
              class="redrawDetailTextInvisible"
              *ngIf="!playerWinner && !playerLoser && !tie"
            >
              .
            </div>
            <!-- End of animations -->
            <div
              class="cardBorder middleCardBorder playerCardBorder"
              [ngClass]="{
                deadEnemy: findStaticEnemyPlayer().health < 1
              }"
            >
              <!-- Start of animations -->
              <div class="cardPlayerBorder">
                <img
                  [src]="'./assets/' + gameThemePath + '/greenBorder.png'"
                  class="cardIcon"
                />
                <img
                  [src]="'./assets/' + gameThemePath + '/confetti.gif'"
                  class="cardIcon confetti"
                  *ngIf="enemyWinner"
                  [@fadeDownEnter]="{
                    value: '',
                    params: { duration: 500, delay: 100, translate: '300px' }
                  }"
                  [@fadeDownLeave]
                />
                <div class="cardIcon darkenCard"></div>
                <img
                  [src]="'./assets/' + gameThemePath + '/claws.png'"
                  class="cardIcon confetti claws"
                  *ngIf="enemyLoser"
                  [@fadeEnter]="{
                    value: '',
                    params: { duration: 500, delay: 2000, translate: '300px' }
                  }"
                  [@fadeOutLeave]
                />
              </div>
              <!-- End of animations -->
              <div class="cardFooterIconBox swordBox">
                <img
                  [src]="'./assets/' + gameThemePath + '/sword.png'"
                  class="cardIcon"
                />
                <div class="cardIconValue">
                  <div
                    class="attackDefenseText swordText"
                    [ngStyle]="{
                      'font-family': gameThemePath + '-HeaderFont'
                    }"
                  >
                    {{ findStaticEnemyPlayer().attack }}
                  </div>
                </div>
              </div>

              <div class="cardFooterIconBox heartBox">
                <img
                  [src]="'./assets/' + gameThemePath + '/playerHealth.png'"
                  class="cardIcon"
                />
                <div class="cardIconValue">
                  <div
                    class="attackDefenseText"
                    [ngStyle]="{
                      'font-family': gameThemePath + '-HeaderFont'
                    }"
                    [ngClass]="{
                      redHealthText:
                        findStaticEnemyPlayer().health <
                        findStaticEnemyPlayer().baseHealth
                    }"
                  >
                    {{ findStaticEnemyPlayer().health }}
                  </div>
                </div>
              </div>
              <img
                [src]="findStaticEnemyPlayer().image"
                class="cardBackgroundImage playerBackground"
              />
            </div>
          </div>
        </div>

        <div class="middleRightBox specialAttacKBoxPlayer">
          <div
            class="middleCard middleRightCard middleLeftCard specialAttacKBoxPlayerCard"
            [@fadeLeftEnter]="{
              value: '',
              params: { duration: 800, delay: 100, translate: '200px' }
            }"
            [@fadeLeftLeave]
            [ngClass]="{
              fade: attackEnding,
              fadeHide: !enemyAttackStarted,
              zoomOutDarken: playerWinner,
              zoomIn: playerLoser
            }"
          >
            <!-- Start of animations -->
            <div
              class="playerResultText redrawDetailText"
              [@zoomInEnter]="{
                value: '',
                params: {
                  duration: 400,
                  delay: playerWinner ? 400 : 2000,
                  translate: '100px'
                }
              }"
              [@fadeUpLeave]
              *ngIf="enemyWinner || playerWinner || tie"
              [ngClass]="{
                successText: playerWinner,
                failText: playerLoser,
                tieText: tie
              }"
            >
              {{
                playerWinner
                  ? "Winner!"
                  : tie
                  ? "Tie"
                  : "-" + enemyDefense.length
              }}
            </div>
            <div
              class="redrawDetailTextInvisible"
              *ngIf="!playerWinner && !playerLoser && !tie"
            >
              .
            </div>
            <!-- End of animations -->
            <div
              class="cardBorder middleCardBorder playerCardBorder"
              [ngClass]="{
                deadEnemy: player.health < 1
              }"
            >
              <!-- Start of animations -->
              <div class="cardPlayerBorder">
                <img
                  [src]="'./assets/' + gameThemePath + '/greenBorder.png'"
                  class="cardIcon"
                />
                <img
                  [src]="'./assets/' + gameThemePath + '/confetti.gif'"
                  class="cardIcon confetti"
                  *ngIf="playerWinner"
                  [@fadeDownEnter]="{
                    value: '',
                    params: { duration: 500, delay: 100, translate: '300px' }
                  }"
                  [@fadeDownLeave]
                />
                <img
                  [src]="'./assets/' + gameThemePath + '/claws.png'"
                  class="cardIcon confetti claws"
                  *ngIf="playerLoser"
                  [@fadeEnter]="{
                    value: '',
                    params: { duration: 500, delay: 2000, translate: '300px' }
                  }"
                  [@fadeOutLeave]
                />
              </div>
              <!-- End of animations -->
              <div class="cardFooterIconBox swordBox">
                <img
                  [src]="'./assets/' + gameThemePath + '/sword.png'"
                  class="cardIcon"
                />
                <div class="cardIconValue">
                  <div
                    class="attackDefenseText swordText"
                    [ngStyle]="{
                      'font-family': gameThemePath + '-HeaderFont'
                    }"
                  >
                    {{ player.attack }}
                  </div>
                </div>
              </div>
              <div class="cardFooterIconBox heartBox">
                <img
                  [src]="'./assets/' + gameThemePath + '/playerHealth.png'"
                  class="cardIcon"
                />
                <div class="cardIconValue">
                  <div
                    class="attackDefenseText"
                    [ngStyle]="{
                      'font-family': gameThemePath + '-HeaderFont'
                    }"
                    [ngClass]="{
                      redHealthText: player.health < player.baseHealth
                    }"
                  >
                    {{ player.health }}
                  </div>
                </div>
              </div>
              <img
                [src]="player.image"
                class="cardBackgroundImage playerBackground"
              />
            </div>
          </div>
        </div>

        <div class="defendBtnContainer">
          <div
            class="wildText"
            [ngStyle]="{
              'font-family': gameThemePath + '-HeaderFont'
            }"
            *ngIf="canSelectCards"
          >
            Defend
          </div>
          <img
            [src]="'./assets/' + gameThemePath + '/defend.png'"
            class="goButton"
            (click)="chooseDefensePlayerCards()"
            *ngIf="canSelectCards"
          />
        </div>
      </div>
      <div
        class="attackContainer"
        [ngClass]="{
          fade: attackEnding,
          fadeHide: !enemyAttackStarted
        }"
      >
        <div class="topAttackContainer">
          <div
            class="redrawDetailTextInvisible"
            *ngIf="(enemyAttackHand?.name ?? '').length < 1"
          >
            .
          </div>
          <div
            class="redrawDetailText"
            [@zoomInEnter]="{
              value: '',
              params: { duration: 400, delay: 100, translate: '30px' }
            }"
            [@fadeUpLeave]
            *ngIf="(enemyAttackHand?.name ?? '').length > 1"
            [ngClass]="{
              specialNameText: enemyAttackHand?.power === 5
            }"
            [ngStyle]="
              enemyAttackHand?.power === 5
                ? {
                    'font-family': gameThemePath + '-HeaderFont'
                  }
                : {}
            "
          >
            {{ enemyAttackHand?.name }}
          </div>
          <div class="attackCardFlexRow" #enemyDefenseRef>
            <div
              *ngFor="let card of enemyDefense; index as i"
              class="attackCardBox"
              [@fadeUpEnter]="{
                value: '',
                params: { duration: 400, delay: 400, translate: '30px' }
              }"
              [@fadeUpLeave]
            >
              <div class="attackCard">
                <div class="cardBorder">
                  <img
                    [src]="'./assets/' + gameThemePath + '/cards/' + card.image"
                    class="cardBackgroundImage"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="bottomAttackContainer"
          *ngIf="finishedChoosingDefensePlayer"
        >
          <div
            class="redrawDetailTextInvisible"
            *ngIf="(playerAttackHand?.name ?? '').length < 1"
          >
            .
          </div>
          <div
            class="redrawDetailText"
            [@zoomInEnter]="{
              value: '',
              params: { duration: 400, delay: 500, translate: '30px' }
            }"
            [@fadeUpLeave]
            *ngIf="(playerAttackHand?.name ?? '').length > 1"
            [ngClass]="{
              specialNameText: playerAttackHand?.power === 5
            }"
            [ngStyle]="
              playerAttackHand?.power === 5
                ? {
                    'font-family': gameThemePath + '-HeaderFont'
                  }
                : {}
            "
          >
            {{ playerAttackHand?.name }}
          </div>
          <div class="attackCardFlexRow" *ngIf="chooseDefensePlayerCards">
            <div
              *ngFor="let card of selectedCards; index as i"
              class="attackCardBox"
              [@fadeUpEnter]="{
                value: '',
                params: { duration: 400, delay: 0, translate: '150px' }
              }"
              [@fadeUpLeave]
            >
              <div class="attackCard">
                <div class="cardBorder">
                  <img
                    [src]="'./assets/' + gameThemePath + '/cards/' + card.image"
                    class="cardBackgroundImage"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Discard cards panel -->
  <div class="redrawPanel discardPanel" *ngIf="!discardHide">
    <div class="relativeRedrawPanel">
      <div
        class="panelBackground"
        [ngClass]="{
          fade: !discarding,
          fadeHide: discardHide
        }"
        [@fadeEnter]="{
          value: '',
          params: { duration: 500, delay: 0, translate: '300px' }
        }"
      ></div>
      <div
        class="redrawBox"
        [ngClass]="{
          fade: !discarding,
          fadeHide: discardHide
        }"
      >
        <div class="redrawText">Hand Is Full</div>
        <div class="redrawDetailText">
          Discard
          {{ discardCards.length - 5 - discardSelectedCards.length }} cards
        </div>
      </div>
      <div
        class="redrawCardsContainer"
        [ngClass]="{
          fade: !discarding,
          fadeHide: discardHide
        }"
      >
        <div
          *ngFor="let card of discardCards; index as i"
          class="redrawCardBox"
          [@fadeUpEnter]="{
            value: '',
            params: { duration: 400, delay: (i + 1) * 100, translate: '30px' }
          }"
          [@fadeUpLeave]
        >
          <div
            class="discardCard"
            [ngClass]="{
              activeDiscardCard: discardCardIsSelected(card)
            }"
            (click)="selectDiscardCard(card)"
          >
            <div
              class="cardBorder redrawBorder"
              [ngClass]="{
                activeCardBorder: discardCardIsSelected(card)
              }"
            >
              <img
                [src]="'./assets/' + gameThemePath + '/cards/' + card.image"
                class="cardBackgroundImage"
              />
              <div class="wildCard" *ngIf="card.wild"></div>
              <div
                class="wildCardIcon"
                *ngIf="card.wild && card.wildRange && card.wildRange > 0"
                [ngClass]="{
                  specialWildRangeIcon: card.wildRange === 14
                }"
              >
                <div
                  class="wildText wildValueText"
                  [@fadeEnter]="{
                    value: '',
                    params: { duration: 400, delay: 1000, translate: '30px' }
                  }"
                  [ngClass]="{
                    specialWildRangeIconText: card.wildRange === 14
                  }"
                  [ngStyle]="
                    card.wildRange === 14
                      ? {
                          'font-family': gameThemePath + '-HeaderFont'
                        }
                      : {
                          'font-family': gameThemePath + '-HeaderFont'
                        }
                  "
                >
                  {{ card.wildRange === 14 ? "★" : "+" + card.wildRange }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="goBtnContainer"
          [@fadeUpEnter]="{
            value: '',
            params: { duration: 600, delay: 500, translate: '200px' }
          }"
          [@fadeUpLeave]
        >
          <img
            [src]="'./assets/' + gameThemePath + '/attack.png'"
            class="attackButton"
            (click)="finishedDiscarding()"
          />
          <div
            class="defendAttackTxt wildText"
            [ngStyle]="{
              'font-family': gameThemePath + '-HeaderFont'
            }"
          >
            Ok
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Redraw cards panel -->
  <div class="redrawPanel" *ngIf="!redrawHide">
    <div class="relativeRedrawPanel">
      <div
        class="panelBackground"
        [ngClass]="{
          fade: !redrawing,
          fadeHide: redrawHide
        }"
      ></div>
      <div
        class="redrawBox"
        [ngClass]="{
          fade: !redrawing,
          fadeHide: redrawHide
        }"
      >
        <div class="redrawText">Redraw Cards</div>
        <div class="redrawDetailText">
          Can select up to {{ 2 - redrawSelectedCards.length }} more cards to
          redraw
        </div>
      </div>
      <div
        class="redrawCardsContainer"
        [ngClass]="{
          fade: !redrawing,
          fadeHide: redrawHide
        }"
      >
        <div
          *ngFor="let card of redrawCards; index as i"
          class="redrawCardBox"
          [@fadeUpEnter]="{
            value: '',
            params: { duration: 400, delay: (i + 1) * 100, translate: '30px' }
          }"
          [@fadeUpLeave]
        >
          <div
            class="redrawCard"
            [ngClass]="{
              activeRedrawCard: redrawCardIsSelected(card)
            }"
            (click)="selectRedrawCard(card)"
          >
            <div
              class="cardBorder redrawBorder"
              [ngClass]="{
                activeCardBorder: redrawCardIsSelected(card)
              }"
            >
              <img
                [src]="'./assets/' + gameThemePath + '/cards/' + card.image"
                class="cardBackgroundImage"
              />
              <div class="wildCard" *ngIf="card.wild"></div>
              <div
                class="wildCardIcon"
                *ngIf="card.wild && card.wildRange && card.wildRange > 0"
                [ngClass]="{
                  specialWildRangeIcon: card.wildRange === 14
                }"
              >
                <div
                  class="wildText wildValueText"
                  [@fadeEnter]="{
                    value: '',
                    params: { duration: 400, delay: 1000, translate: '30px' }
                  }"
                  [ngClass]="{
                    specialWildRangeIconText: card.wildRange === 14
                  }"
                  [ngStyle]="
                    card.wildRange === 14
                      ? {
                          'font-family': gameThemePath + '-HeaderFont'
                        }
                      : {
                          'font-family': gameThemePath + '-HeaderFont'
                        }
                  "
                >
                  {{ card.wildRange === 14 ? "★" : "+" + card.wildRange }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="goBtnContainer"
          [@fadeUpEnter]="{
            value: '',
            params: { duration: 600, delay: 500, translate: '200px' }
          }"
          [@fadeUpLeave]
        >
          <img
            [src]="'./assets/' + gameThemePath + '/attack.png'"
            class="attackButton"
            (click)="finishedRedraw()"
          />
          <div
            class="defendAttackTxt wildText"
            [ngStyle]="{
              'font-family': gameThemePath + '-HeaderFont'
            }"
          >
            Ok
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Floating text -->
  <div class="floatingText">
    <div class="floatingRelative" *ngFor="let item of errorList">
      <div
        class="floatingTextMessage"
        [ngClass]="{
          fade: errorListInactive.includes(item.id)
        }"
        [@zoomInEnter]="{
          value: '',
          params: { duration: 1000, delay: 0, translate: '30px' }
        }"
        [@fadeOutLeave]
      >
        {{ item.message }}
      </div>
    </div>
  </div>

  <!-- Floating Ability Fade -->
  <div class="floatingText">
    <div class="floatingRelative" *ngFor="let item of specialAbilityList">
      <div
        class="floatingTextMessage"
        [ngClass]="{
          fade: specialAbilityListInactive.includes(item.id)
        }"
        [@zoomInEnter]="{
          value: '',
          params: { duration: 1000, delay: 0, translate: '30px' }
        }"
        [@fadeOutLeave]
      >
        {{ item.message }}
      </div>
    </div>
  </div>

  <!-- Floating Message Fade -->
  <div class="floatingText">
    <div class="floatingRelative" *ngFor="let item of messageList">
      <div
        class="floatingTextMessage floatingMessageInfo"
        [ngClass]="{
          fade: messageListInactive.includes(item.id)
        }"
        [@zoomInEnter]="{
          value: '',
          params: { duration: 1000, delay: 0, translate: '30px' }
        }"
        [@fadeOutLeave]
      >
        {{ item.message }}
      </div>
    </div>
  </div>

  <!-- Player 2 -->
  <div class="top">
    <div
      class="topLeft"
      *ngIf="redrawHide"
      [@fadeDownEnter]="{ value: '', params: { delay: 300 } }"
    >
      <div
        class="deck deckCard"
        [ngStyle]="{
          'background-image': 'url(./assets/' + gameThemePath + '/cardBack.png)'
        }"
      ></div>
      <div
        class="deck deck1 topdeck1"
        [ngStyle]="{
          'background-image': 'url(./assets/' + gameThemePath + '/cardBack.png)'
        }"
      ></div>
      <div
        class="deck deck2 topdeck2"
        [ngStyle]="{
          'background-image': 'url(./assets/' + gameThemePath + '/cardBack.png)'
        }"
      ></div>
      <div
        class="deck deck3 topdeck3"
        [ngStyle]="{
          'background-image': 'url(./assets/' + gameThemePath + '/cardBack.png)'
        }"
        *ngIf="!canSeeTopCard"
      ></div>
      <div
        [@flipInYonEnter]="{ value: '', params: { delay: 1000 } }"
        [@fadeDownLeave]
        [ngStyle]="{
          'background-image':
            'url(./assets/' +
            gameThemePath +
            '/cards/' +
            enemyDeck[0].image +
            ')'
        }"
        *ngIf="canSeeTopCard && topRedrawCardEnemy === enemyDeck[0].id"
        class="deck deckTopImage"
      ></div>
    </div>
    <div class="topMiddle" *ngIf="redrawHide">
      <div
        class="bottomCard topCard enemyTopCard"
        *ngFor="let card of enemyHand; index as i"
        [ngClass]="{
          activeEnemyCard: enemyCardIsSelected(card)
        }"
        #activeEnemyCards
        [ngStyle]="{
          'animation-delay': (i + 1) * 100 + 'ms'
        }"
        [@cardLeaving]
      >
        <div class="cardBorder">
          <img
            [src]="'./assets/' + gameThemePath + '/back.png'"
            class="cardBackgroundImage"
          />
        </div>
      </div>
    </div>
    <div
      class="topRight"
      *ngIf="redrawHide"
      [@fadeDownEnter]="{ value: '', params: { delay: 300 } }"
    >
      <div
        class="deck deckCard"
        [ngStyle]="{
          'background-image': 'url(./assets/' + gameThemePath + '/cardBack.png)'
        }"
      ></div>
      <div
        class="deck deck1 topdeck1"
        [ngStyle]="{
          'background-image': 'url(./assets/' + gameThemePath + '/cardBack.png)'
        }"
      ></div>
      <div
        class="deck deck2 topdeck2"
        [ngStyle]="{
          'background-image': 'url(./assets/' + gameThemePath + '/cardBack.png)'
        }"
      ></div>
      <div
        class="deck deck3 topdeck3"
        [ngStyle]="{
          'background-image': 'url(./assets/' + gameThemePath + '/cardBack.png)'
        }"
        *ngIf="!canSeeTopCard"
      ></div>
      <div
        [@flipInYonEnter]="{ value: '', params: { delay: 1000 } }"
        [@fadeDownLeave]
        [ngStyle]="{
          'background-image':
            'url(./assets/' +
            gameThemePath +
            '/cards/' +
            enemyDeck[0].image +
            ')'
        }"
        *ngIf="canSeeTopCard && topRedrawCardEnemy === enemyDeck[0].id"
        class="deck deckTopImage"
      ></div>
    </div>
  </div>

  <!-- Middle -->
  <div class="middle" id="testArrow">
    <div class="middleLeft">
      <div class="middleRightBox">
        <div
          *ngIf="player.health < 1"
          class="deathSkullBox deathSkullAnimation"
        >
          <img
            [src]="'./assets/' + gameThemePath + '/skull.png'"
            class="deathSkull"
          />
        </div>
        <div
          class="middleCard middleRightCard middleLeftCard playerMid"
          *ngIf="redrawHide"
          [@fadeUpEnter]="{
            value: '',
            params: { duration: 400, delay: 1000, translate: '30px' }
          }"
          [@fadeUpLeave]
          [ngClass]="{
            leavingFieldCard: player.health < 1
          }"
        >
          <div
            class="cardBorder middleCardBorder playerCardBorder"
            [ngClass]="{
              errorEnemyBorder: playerTarget === player.id && !wrappingTurn
            }"
            #playerRef
          >
            <div class="cardPlayerBorder">
              <img
                [src]="'./assets/' + gameThemePath + '/greenBorder.png'"
                class="cardIcon"
              />
            </div>
            <div class="cardFooterIconBox swordBox">
              <img
                [src]="'./assets/' + gameThemePath + '/sword.png'"
                class="cardIcon"
              />
              <div class="cardIconValue">
                <div
                  class="attackDefenseText swordText"
                  [ngStyle]="{
                    'font-family': gameThemePath + '-HeaderFont'
                  }"
                >
                  {{ player.attack }}
                </div>
              </div>
            </div>
            <div class="cardFooterIconBox heartBox">
              <img
                [src]="'./assets/' + gameThemePath + '/playerHealth.png'"
                class="cardIcon"
              />
              <div class="cardIconValue">
                <div
                  class="attackDefenseText"
                  [ngStyle]="{
                    'font-family': gameThemePath + '-HeaderFont'
                  }"
                  [ngClass]="{
                    redHealthText: player.health < player.baseHealth
                  }"
                >
                  {{ player.health }}
                </div>
              </div>
            </div>
            <img
              [src]="player.image"
              class="cardBackgroundImage playerBackground"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="middleRight">
      <div class="enemyCardsBox">
        <div
          class="middleRightBox"
          *ngFor="let item of enemyPlayers; index as i; trackBy: trackById"
        >
          <div
            *ngIf="item.health < 1"
            class="deathSkullBox deathSkullAnimation"
          >
            <img
              [src]="'./assets/' + gameThemePath + '/skull.png'"
              class="deathSkull"
            />
          </div>
          <div
            class="middleCard middleRightCard"
            *ngIf="redrawHide"
            [@fadeUpEnter]="{
              value: '',
              params: {
                duration: 400,
                delay: 1000,
                translate: '30px'
              }
            }"
            [@fadeUpLeave]
            [ngClass]="{
              leavingFieldCard: item.health < 1,
              turnIsOverCard: isFinishedWithTurn(item)
            }"
            (click)="setEnemyPlayerHoverTarget(item)"
          >
            <div
              class="cardBorder middleCardBorder playerCardBorder"
              [ngClass]="{
                errorEnemyBorder: enemyTarget === item.id && !wrappingTurn,
                enemyTargetActive: currentEnemyTurn.id === item.id
              }"
              #enemyPlayerRef
            >
              <div class="cardPlayerBorder">
                <img
                  [src]="'./assets/' + gameThemePath + '/greenBorder.png'"
                  class="cardIcon"
                />
              </div>
              <div class="cardFooterIconBox swordBox">
                <img
                  [src]="'./assets/' + gameThemePath + '/sword.png'"
                  class="cardIcon"
                />
                <div class="cardIconValue">
                  <div
                    class="attackDefenseText swordText"
                    [ngStyle]="{
                      'font-family': gameThemePath + '-HeaderFont'
                    }"
                  >
                    {{ item.attack }}
                  </div>
                </div>
              </div>
              <div class="cardFooterIconBox heartBox">
                <img
                  [src]="'./assets/' + gameThemePath + '/playerHealth.png'"
                  class="cardIcon"
                />
                <div class="cardIconValue">
                  <div
                    class="attackDefenseText"
                    [ngStyle]="{
                      'font-family': gameThemePath + '-HeaderFont'
                    }"
                    [ngClass]="{
                      redHealthText:
                        item.health < item.baseHealth ||
                        (enemyTarget === item.id &&
                          selectedCards.length > 0 &&
                          !attackEnding)
                    }"
                  >
                    {{
                      (enemyTarget === item.id &&
                        attackStarted &&
                        !attackEnding) ||
                      (canSelectCards && enemyTarget === item.id)
                        ? item.health - selectedCards.length - currentExtraDmg
                        : item.health
                    }}
                  </div>
                  <div
                    class="centerNumberValue failText"
                    [ngStyle]="{
                      'font-family': gameThemePath + '-HeaderFont'
                    }"
                    [ngClass]="{
                      showHitText: enemyTarget === item.id && canSelectCards
                    }"
                  >
                    {{
                      selectedCards.length > 0
                        ? "-" + (selectedCards.length + currentExtraDmg)
                        : ""
                    }}
                  </div>
                </div>
              </div>
              <img
                [src]="item.image"
                class="cardBackgroundImage playerBackground"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Player 1 -->
  <div class="bottom">
    <div
      class="bottomLeft"
      *ngIf="redrawHide"
      [@fadeUpEnter]="{ value: '', params: { delay: 300 } }"
    >
      <div
        class="deck deckCard"
        [ngStyle]="{
          'background-image': 'url(./assets/' + gameThemePath + '/cardBack.png)'
        }"
      ></div>
      <div
        class="deck deck1"
        [ngStyle]="{
          'background-image': 'url(./assets/' + gameThemePath + '/cardBack.png)'
        }"
      ></div>
      <div
        class="deck deck2"
        [ngStyle]="{
          'background-image': 'url(./assets/' + gameThemePath + '/cardBack.png)'
        }"
      ></div>
      <div
        [@flipInYonEnter]="{ value: '', params: { delay: 600 } }"
        [@fadeDownLeave]
        [ngStyle]="{
          'background-image':
            'url(./assets/' +
            gameThemePath +
            '/cards/' +
            playerDeck[0].image +
            ')'
        }"
        class="deck deckTopImage"
      ></div>
      <!-- <div
        class="deck specialAbilityCard"
        (click)="useSpecialAbilityCard()"
        [ngClass]="{
          disabledAbilityBtn: usedSpecialCardThisTurn
        }"
        [ngStyle]="{
          'background-image':
            'url(./assets/' + gameThemePath + '/abilitycard.png)'
        }"
      ></div> -->
    </div>
    <div
      class="bottomMiddle veryBottomMiddle"
      [ngClass]="{
        attackingBottomMiddle:
          !showBotCards && enemyAttackStarted && canSelectCards,
        disabledCards:
          !canSelectCards ||
          (showBotCards && !enemyAttackStarted && !canSelectCards)
      }"
      #myActiveCardsDefending
      [@fadeOutLeave]="{
        value: '',
        params: { duration: 400, delay: 0, translate: '30px' }
      }"
    >
      <div
        class="bottomCard playerBottomCard"
        *ngFor="let card of abilityCardsHand; index as i; trackBy: trackById"
        #activeAbilityCards
        (click)="selectAbilityCard(card)"
        (mouseover)="hoverAbilityEnter(card)"
        (mouseout)="hoverAbilityOut(card)"
        [ngStyle]="{
          'animation-delay': (i + 1) * 100 + 'ms'
        }"
        [@cardLeaving]
      >
        <div
          class="cardBorder"
          [ngClass]="{
            activeCardBorder: abilityCardIsSelected(card),
            validCardBorder: abilityCardIsValid(card)
          }"
        >
          <img
            [src]="'./assets/' + gameThemePath + '/abilitycard.png'"
            class="cardBackgroundImage"
          />
          <div class="wildCardSuites bottomWildCard bottomAbilityStuff">
            <div class="abilityTitle">
              <div class="abilityTitleText">test</div>
              <div class="abilitySuitsBox">
                <img
                  *ngFor="let cost of card.cost"
                  [src]="'./assets/' + gameThemePath + '/' + cost + '.png'"
                  class="abilitySuit"
                />
              </div>
            </div>
            <div class="abilityBorder1"></div>
            <div class="abilityBorder2"></div>
            <div class="abilityDescription">
              <div class="abilityDescriptionLevel"><div class="levelText">Level {{ card.level }}</div></div>
              <div class="abilityDescriptionText">
                test test test est est set sets etset tse
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="bottomCard playerBottomCard"
        *ngFor="let card of playerHand; index as i; trackBy: trackById"
        [ngClass]="{
          activeCard: cardIsSelected(card)
        }"
        #myActiveCards
        (click)="selectCard(card)"
        (wheel)="wildCardScrollChange($event, card)"
        [ngStyle]="{
          'animation-delay': (i + 3) * 100 + 'ms'
        }"
        [@cardLeaving]
      >
        <div
          class="cardBorder"
          [ngClass]="{
            activeCardBorder: cardIsSelected(card),
            validCardBorder: cardIsValid(card),
            errorCardBorder:
              !cardIsValid(card) && cardIsSelected(card) && !enemyAttackStarted
          }"
        >
          <img
            [src]="'./assets/' + gameThemePath + '/cards/' + card.image"
            class="cardBackgroundImage"
          />
          <div class="wildCard bottomWildCard" *ngIf="card.wild"></div>
          <div
            class="wildCardIcon"
            *ngIf="card.wild && card.wildRange && card.wildRange > 0"
            [ngClass]="{
              specialWildRangeIcon: card.wildRange === 14
            }"
          >
            <div
              class="wildText wildValueText"
              [@fadeEnter]="{
                value: '',
                params: { duration: 400, delay: 1000, translate: '30px' }
              }"
              [ngClass]="{
                specialWildRangeIconText: card.wildRange === 14
              }"
              [ngStyle]="
                card.wildRange === 14
                  ? {
                      'font-family': gameThemePath + '-HeaderFont'
                    }
                  : {
                      'font-family': gameThemePath + '-HeaderFont'
                    }
              "
            >
              {{ card.wildRange === 14 ? "★" : "+" + card.wildRange }}
            </div>
          </div>
          <div
            class="wildCardSuites bottomWildCard"
            *ngIf="card.wild && card.wildSuit"
          >
            <img
              [src]="'./assets/' + gameThemePath + '/heart.png'"
              class="suit"
              *ngIf="
                card.wildSuits && card.wildSuits[0] && card.wildSuits[0] === 1
              "
              (click)="chooseWildSuit($event, card, 'hearts')"
            />
            <img
              [src]="'./assets/' + gameThemePath + '/diamond.png'"
              class="suit"
              *ngIf="
                card.wildSuits && card.wildSuits[1] && card.wildSuits[1] === 1
              "
              (click)="chooseWildSuit($event, card, 'diamonds')"
            />
            <img
              [src]="'./assets/' + gameThemePath + '/club.png'"
              class="suit"
              *ngIf="
                card.wildSuits && card.wildSuits[2] && card.wildSuits[2] === 1
              "
              (click)="chooseWildSuit($event, card, 'clubs')"
            />
            <img
              [src]="'./assets/' + gameThemePath + '/spade.png'"
              class="suit suitLast"
              *ngIf="
                card.wildSuits && card.wildSuits[3] && card.wildSuits[3] === 1
              "
              (click)="chooseWildSuit($event, card, 'spades')"
            />
          </div>
        </div>
      </div>
    </div>
    <div
      class="bottomRight"
      *ngIf="redrawHide"
      [@fadeUpEnter]="{ value: '', params: { delay: 300 } }"
    >
      <div
        class="attackButtonBox"
        *ngIf="redrawHide"
        [ngClass]="{
          disabledButton: !canSelectCards || selectedCards.length < 1
        }"
        [@fadeEnter]="{
          value: '',
          params: { duration: 400, delay: 1000, translate: '30px' }
        }"
        [@fadeUpLeave]
      >
        <img
          [src]="'./assets/' + gameThemePath + '/attack.png'"
          class="attackButton"
          [ngClass]="{
            disabledButtonAnimation: !canSelectCards || selectedCards.length < 1
          }"
          (click)="attack()"
        />
        <div
          class="defendAttackTxt wildText attackTxt"
          [ngStyle]="{
            'font-family': gameThemePath + '-HeaderFont'
          }"
        >
          Attack
        </div>
      </div>
      <div
        class="deck deckCard"
        [ngStyle]="{
          'background-image': 'url(./assets/' + gameThemePath + '/cardBack.png)'
        }"
      ></div>
      <div
        class="deck deck1"
        [ngStyle]="{
          'background-image': 'url(./assets/' + gameThemePath + '/cardBack.png)'
        }"
      ></div>
      <div
        class="deck deck2"
        [ngStyle]="{
          'background-image': 'url(./assets/' + gameThemePath + '/cardBack.png)'
        }"
      ></div>
      <div
        class="deck deck3"
        [ngStyle]="{
          'background-image': 'url(./assets/' + gameThemePath + '/cardBack.png)'
        }"
        *ngIf="!canSeeTopCard"
      ></div>
      <div
        [@flipInYonEnter]="{ value: '', params: { delay: 600 } }"
        [@fadeDownLeave]
        [ngStyle]="{
          'background-image':
            'url(./assets/' +
            gameThemePath +
            '/cards/' +
            playerDeck[0].image +
            ')'
        }"
        *ngIf="canSeeTopCard && topRedrawCard === playerDeck[0].id"
        class="deck deckTopImage"
      ></div>
    </div>
  </div>
</div>
