<div class="container">
  <!-- Attack Phase -->
  <div class="redrawPanel attackPanel" *ngIf="attackStarted">
    <div class="relativeRedrawPanel">
      <div
        class="panelBackground"
        [ngClass]="{
          fade: attackEnding,
          fadeHide: !attackStarted
        }"
      ></div>

      <div
        class="attackContainer"
        [ngClass]="{
          fade: attackEnding,
          fadeHide: !attackStarted
        }"
      >
        <div class="topAttackContainer">
          <div
            class="redrawDetailTextInvisible"
            *ngIf="(enemyAttackHand?.name ?? '').length < 1"
          >
            .
          </div>
          <div
            class="redrawDetailText"
            [ngClass]="{
              successText: enemyWinner,
              failText: enemyLoser,
              tieText: tie
            }"
            [@zoomInEnter]="{
              value: '',
              params: { duration: 400, delay: 500, translate: '30px' }
            }"
            [@fadeUpLeave]
            *ngIf="(enemyAttackHand?.name ?? '').length > 1"
          >
            {{ enemyAttackHand?.name }}
            {{ enemyWinner ? " - Winner!" : tie ? " - Tie" : "" }}
          </div>
          <div class="attackCardFlexRow">
            <div
              *ngFor="let card of enemyDefense; index as i"
              class="attackCardBox"
              [@fadeUpEnter]="{
                value: '',
                params: { duration: 400, delay: 500, translate: '30px' }
              }"
              [@fadeUpLeave]
            >
              <div class="attackCard">
                <div class="cardBorder">
                  <img
                    [src]="'./assets/cards/' + card.image"
                    class="cardBackgroundImage"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="bottomAttackContainer">
          <div
            class="redrawDetailTextInvisible"
            *ngIf="(playerAttackHand?.name ?? '').length < 1"
          >
            .
          </div>
          <div
            class="redrawDetailText"
            [ngClass]="{
              successText: playerWinner,
              failText: playerLoser,
              tieText: tie
            }"
            [@zoomInEnter]="{
              value: '',
              params: { duration: 400, delay: 500, translate: '30px' }
            }"
            [@fadeUpLeave]
            *ngIf="(playerAttackHand?.name ?? '').length > 1"
          >
            {{ playerAttackHand?.name
            }}{{ playerWinner ? " - Winner!" : tie ? " - Tie" : "" }}
          </div>
          <div class="attackCardFlexRow">
            <div
              *ngFor="let card of selectedCards; index as i"
              class="attackCardBox"
              [@fadeUpEnter]="{
                value: '',
                params: { duration: 400, delay: 0, translate: '30px' }
              }"
              [@fadeUpLeave]
            >
              <div class="attackCard">
                <div class="cardBorder">
                  <img
                    [src]="'./assets/cards/' + card.image"
                    class="cardBackgroundImage"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Attack Phase Bot turn -->
  <div class="redrawPanel attackPanel" *ngIf="enemyAttackStarted">
    <div class="relativeRedrawPanel">
      <div
        class="panelBackground"
        [ngClass]="{
          fade: attackEnding,
          fadeHide: !enemyAttackStarted
        }"
      >
        <div class="defendBtnContainer">
          <div
            class="goButton"
            (click)="chooseDefensePlayerCards()"
            *ngIf="canSelectCards"
          >
            Defend
          </div>
        </div>
      </div>

      <div
        class="attackContainer"
        [ngClass]="{
          fade: attackEnding,
          fadeHide: !enemyAttackStarted
        }"
      >
        <div class="topAttackContainer">
          <div
            class="redrawDetailTextInvisible"
            *ngIf="(enemyAttackHand?.name ?? '').length < 1"
          >
            .
          </div>
          <div
            class="redrawDetailText"
            [ngClass]="{
              successText: enemyWinner,
              failText: enemyLoser,
              tieText: tie
            }"
            [@zoomInEnter]="{
              value: '',
              params: { duration: 400, delay: 500, translate: '30px' }
            }"
            [@fadeUpLeave]
            *ngIf="(enemyAttackHand?.name ?? '').length > 1"
          >
            {{ enemyAttackHand?.name }}
            {{ enemyWinner ? " - Winner!" : tie ? " - Tie" : "" }}
          </div>
          <div class="attackCardFlexRow">
            <div
              *ngFor="let card of enemyDefense; index as i"
              class="attackCardBox"
              [@fadeUpEnter]="{
                value: '',
                params: { duration: 400, delay: 500, translate: '30px' }
              }"
              [@fadeUpLeave]
            >
              <div class="attackCard">
                <div class="cardBorder">
                  <img
                    [src]="'./assets/cards/' + card.image"
                    class="cardBackgroundImage"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="bottomAttackContainer"
          *ngIf="finishedChoosingDefensePlayer"
        >
          <div
            class="redrawDetailTextInvisible"
            *ngIf="(playerAttackHand?.name ?? '').length < 1"
          >
            .
          </div>
          <div
            class="redrawDetailText"
            [ngClass]="{
              successText: playerWinner,
              failText: playerLoser,
              tieText: tie
            }"
            [@zoomInEnter]="{
              value: '',
              params: { duration: 400, delay: 500, translate: '30px' }
            }"
            [@fadeUpLeave]
            *ngIf="(playerAttackHand?.name ?? '').length > 1"
          >
            {{ playerAttackHand?.name
            }}{{ playerWinner ? " - Winner!" : tie ? " - Tie" : "" }}
          </div>
          <div class="attackCardFlexRow" *ngIf="chooseDefensePlayerCards">
            <div
              *ngFor="let card of selectedCards; index as i"
              class="attackCardBox"
              [@fadeUpEnter]="{
                value: '',
                params: { duration: 400, delay: 0, translate: '30px' }
              }"
              [@fadeUpLeave]
            >
              <div class="attackCard">
                <div class="cardBorder">
                  <img
                    [src]="'./assets/cards/' + card.image"
                    class="cardBackgroundImage"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Redraw cards panel -->
  <div class="redrawPanel" *ngIf="!redrawHide">
    <div class="relativeRedrawPanel">
      <div
        class="panelBackground"
        [ngClass]="{
          fade: !redrawing,
          fadeHide: redrawHide
        }"
      ></div>
      <div
        class="redrawBox"
        [ngClass]="{
          fade: !redrawing,
          fadeHide: redrawHide
        }"
      >
        <div class="redrawText">Redraw cards</div>
        <div class="redrawDetailText">
          Can select up to {{ 2 - redrawSelectedCards.length }} more cards to
          redraw
        </div>
      </div>
      <div
        class="redrawCardsContainer"
        [ngClass]="{
          fade: !redrawing,
          fadeHide: redrawHide
        }"
      >
        <div
          *ngFor="let card of redrawCards; index as i"
          class="redrawCardBox"
          [@fadeUpEnter]="{
            value: '',
            params: { duration: 400, delay: (i + 1) * 100, translate: '30px' }
          }"
          [@fadeUpLeave]
        >
          <div
            class="redrawCard"
            [ngClass]="{
              activeRedrawCard: redrawCardIsSelected(card)
            }"
            (click)="selectRedrawCard(card)"
          >
            <div
              class="cardBorder redrawBorder"
              [ngClass]="{
                activeCardBorder: redrawCardIsSelected(card)
              }"
            >
              <img
                [src]="'./assets/cards/' + card.image"
                class="cardBackgroundImage"
              />
              <div class="wildCard" *ngIf="card.wild"></div>
            </div>
          </div>
        </div>
        <div class="goBtnContainer">
          <div class="goButton" (click)="finishedRedraw()">Go!</div>
        </div>
      </div>
    </div>
  </div>

  <!-- Floating text -->
  <div class="floatingText">
    <div class="floatingRelative" *ngFor="let item of errorList">
      <div
        class="floatingTextMessage"
        [ngClass]="{
          fade: errorListInactive.includes(item.id)
        }"
        [@zoomInEnter]="{
          value: '',
          params: { duration: 1000, delay: 0, translate: '30px' }
        }"
        [@fadeOutLeave]
      >
        {{ item.message }}
      </div>
    </div>
  </div>

  <!-- Player 2 -->
  <div class="top" id="toptest">
    <div
      class="topLeft"
      *ngIf="redrawHide"
      [@fadeDownEnter]="{ value: '', params: { delay: 300 } }"
    >
      <div class="deck deckCard"></div>
      <div class="deck deck1 topdeck1"></div>
      <div class="deck deck2 topdeck2"></div>
      <div class="deck deck3 topdeck3" *ngIf="!canSeeTopCard"></div>
      <div class="deck deckTopImage"></div>
    </div>
    <div
      class="topMiddle"
      *ngIf="(redrawHide && canSelectCards) || (redrawHide && showBotCards)"
    >
      <div
        class="bottomCard topCard"
        *ngFor="let card of enemyHand; index as i"
        [ngClass]="{
          activeEnemyCard: enemyCardIsSelected(card)
        }"
        (click)="selectCard(card)"
        [@fadeUpEnter]="{
          value: '',
          params: { duration: 400, delay: (i + 1) * 100, translate: '30px' }
        }"
        [@fadeUpLeave]
      >
        <div class="cardBorder">
          <img [src]="'./assets/back.png'" class="cardBackgroundImage" />
        </div>
      </div>
    </div>
    <div class="topRight"><div class="decktest"></div></div>
  </div>

  <!-- Middle -->
  <div class="middle">
    <div class="middleLeft">
      <div
        class="attackButtonBox"
        *ngIf="redrawHide"
        [@fadeEnter]="{
          value: '',
          params: { duration: 400, delay: 1000, translate: '30px' }
        }"
        [@fadeUpLeave]
      >
        <div
          class="attackButton"
          (click)="attack()"
          [ngClass]="{ disabledButton: !canSelectCards }"
        >
          Attack
        </div>
      </div>
      <div class="middleRightBox">
        <div
          class="middleCard middleRightCard middleLeftCard"
          *ngIf="redrawHide"
          [@fadeUpEnter]="{
            value: '',
            params: { duration: 400, delay: 1400, translate: '30px' }
          }"
          [@fadeUpLeave]
          [ngClass]="{
            leavingFieldCard: player.health < 1
          }"
        >
          <div
            class="cardBorder middleCardBorder playerCardBorder"
            [ngClass]="{
              errorEnemyBorder: playerTarget === player.id
            }"
          >
            <div class="cardPlayerBorder">
              <img src="./assets/greenBorder.png" class="cardIcon" />
            </div>
            <div class="cardFooterIconBox swordBox">
              <img src="./assets/sword.png" class="cardIcon" />
              <div class="cardIconValue">
                <div class="attackDefenseText swordText">
                  {{ player.attack }}
                </div>
              </div>
            </div>
            <div class="cardFooterIconBox heartBox">
              <img src="./assets/heart.png" class="cardIcon" />
              <div class="cardIconValue">
                <div
                  class="attackDefenseText"
                  [ngClass]="{
                    redHealthText: player.health < player.baseHealth
                  }"
                >
                  {{ player.health }}
                </div>
              </div>
            </div>
            <img
              [src]="player.image"
              class="cardBackgroundImage playerBackground"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="middleRight">
      <div class="enemyCardsBox">
        <div
          class="middleRightBox"
          *ngFor="let item of enemyPlayers; index as i; trackBy: trackById"
        >
          <div
            class="middleCard middleRightCard"
            *ngIf="redrawHide"
            [@fadeUpEnter]="{
              value: '',
              params: {
                duration: 400,
                delay: 1400,
                translate: '30px'
              }
            }"
            [@fadeUpLeave]
            [ngClass]="{
              leavingFieldCard: item.health < 1
            }"
            (click)="setEnemyPlayerHover(item)"
          >
            <div
              class="cardBorder middleCardBorder playerCardBorder"
              [ngClass]="{
                errorEnemyBorder: enemyTarget === item.id
              }"
            >
              <div class="cardPlayerBorder">
                <img src="./assets/greenBorder.png" class="cardIcon" />
              </div>
              <div class="cardFooterIconBox swordBox">
                <img src="./assets/sword.png" class="cardIcon" />
                <div class="cardIconValue">
                  <div class="attackDefenseText swordText">
                    {{ item.attack }}
                  </div>
                </div>
              </div>
              <div class="cardFooterIconBox heartBox">
                <img src="./assets/heart.png" class="cardIcon" />
                <div class="cardIconValue">
                  <div
                    class="attackDefenseText"
                    [ngClass]="{
                      redHealthText: item.health < item.baseHealth
                    }"
                  >
                    {{ item.health }}
                  </div>
                </div>
              </div>
              <img
                [src]="item.image"
                class="cardBackgroundImage playerBackground"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Player 1 -->
  <div class="bottom">
    <div class="bottomLeft">
      <div class="decktest"></div>
    </div>
    <div
      class="bottomMiddle"
      [ngClass]="{
        attackingBottomMiddle:
          !showBotCards && enemyAttackStarted && canSelectCards
      }"
      *ngIf="
        canSelectCards ||
        (!showBotCards && enemyAttackStarted && canSelectCards)
      "
    >
      <div
        class="bottomCard playerBottomCard"
        *ngFor="let card of playerHand; index as i; trackBy: trackById"
        [ngClass]="{
          activeCard: cardIsSelected(card)
        }"
        (click)="selectCard(card)"
        (wheel)="wildCardChange($event, card)"
        [@fadeUpEnter]="{
          value: '',
          params: { duration: 400, delay: (i + 1) * 100, translate: '30px' }
        }"
        [@fadeUpLeave]
      >
        <div
          class="cardBorder"
          [ngClass]="{
            activeCardBorder: cardIsSelected(card),
            validCardBorder: cardIsValid(card) && !enemyAttackStarted,
            errorCardBorder:
              !cardIsValid(card) && cardIsSelected(card) && !enemyAttackStarted
          }"
        >
          <img
            [src]="'./assets/cards/' + card.image"
            class="cardBackgroundImage"
          />
          <div class="wildCard" *ngIf="card.wild"></div>
        </div>
      </div>
    </div>
    <div
      class="bottomRight"
      *ngIf="redrawHide"
      [@fadeUpEnter]="{ value: '', params: { delay: 300 } }"
    >
      <div class="deck deckCard"></div>
      <div class="deck deck1"></div>
      <div class="deck deck2"></div>
      <div class="deck deck3" *ngIf="!canSeeTopCard"></div>
      <div
        [@flipInYonEnter]
        [@fadeDownLeave]
        [ngStyle]="{
          'background-image': 'url(./assets/cards/' + playerDeck[0].image + ')'
        }"
        *ngIf="canSeeTopCard && topRedrawCard === playerDeck[0].id"
        class="deck deckTopImage"
      ></div>
    </div>
  </div>
</div>
