<div
  class="container"
  *ngIf="open"
  [@fadeEnter]="{
    value: '',
    params: { duration: 300, delay: 0 }
  }"
  [@fadeOutLeave]="{
    value: '',
    params: { duration: 300, delay: 0 }
  }"
>
  <div class="optionsMenuBackdrop"></div>
  <div class="overlayBox">
    <img class="overlayPanelBg" src="./assets/book.png" />
    <div class="overlalPanelTitle overlalPanelTitleLeft">Gallery</div>
    <div class="overlalPanelTitle overlalPanelTitleRight">Details</div>
    <!-- Left side -->
    <div class="leftBox">
      <div class="relativeBox">
        <div class="list">
          <h1 class="splitTitle">Heroes</h1>
          <div class="miniGrid">
            <div
              class="relativeCardBox"
              *ngFor="let item of heroes"
              (click)="setCurrentItem(item)"
            >
              <img
                [src]="'./assets/heroImages/' + item.image"
                class="heroImage"
              />
              <img
                src="./assets/galleryBorder.png"
                class="absoluteHeroBorder"
              />
            </div>
          </div>
          <h1 class="splitTitle extraSplitTitle">Bosses</h1>
          <div class="miniGrid">
            <div
              class="relativeCardBox"
              *ngFor="let item of bosses"
              (click)="currentImage = item"
            >
              <img
                [src]="'./assets/heroImages/' + item.image"
                class="heroImage"
              />
              <img
                src="./assets/galleryBorder.png"
                class="absoluteHeroBorder"
              />
            </div>
          </div>
          <h1 class="splitTitle extraSplitTitle">Enemies</h1>
          <div class="miniGrid">
            <div
              class="relativeCardBox"
              *ngFor="let item of enemies"
              (click)="currentImage = item"
            >
              <img
                [src]="'./assets/heroImages/' + item.image"
                class="heroImage"
              />
              <img
                src="./assets/galleryBorder.png"
                class="absoluteHeroBorder"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Right side -->
    <div class="rightBox">
      <div class="relativeBoxRight">
        <img
          src="./assets/players/link.png"
          [src]="'./assets/heroImages/' + currentImage?.image"
          class="detailImage"
        />
        <div class="attackBoxRight">
          <img
            [src]="'./assets/' + currentImage?.theme + '/sword.png'"
            class="iconImgDefense"
          />
        </div>
        <div class="healthBoxRight">
          <img
            [src]="'./assets/' + currentImage?.theme + '/playerHealth.png'"
            class="iconImgHealth"
          />
        </div>
      </div>
    </div>
    <div class="closeMenuButtonBox" (click)="closeMenu()">
      <img src="./assets/close.png" class="closeMenuButton" />
      <img src="./assets/closeActive.png" class="closeMenuButton activeBtn" />
    </div>
  </div>
</div>
