.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  z-index: 5001;
}

.optionsMenuBackdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.overlayBox {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlayPanelBg {
  filter: drop-shadow(0 0 0.5em rgba(0, 0, 0, 1));
  -webkit-user-drag: none;
  height: 100vh;
}

.overlalPanelTitle {
  position: absolute;
  top: 5.5%;
  margin-left: -3%;
  font-size: 1.5em;

  text-align: center;
  color: white;
  font-family: "headerFont";
  background: -webkit-linear-gradient(#f5f2e6, #a8a075);
  -webkit-text-stroke: 2px #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-weight: bold;
}

.overlalPanelTitleLeft {
  left: 29.9%;
  top: 11%;
}

.overlalPanelTitleRight {
  right: 22.2%;
  top: 11%;
}

.closeMenuButtonBox {
  position: absolute;
  top: 3.8%;
  right: 0.9%;
}

.closeMenuButton {
  -webkit-user-drag: none;
  position: relative;
  z-index: 1;
  transition: all 0.2s;
  --closeOpacity: 0;
  scale: 1.2;
}

.closeMenuButton:hover {
  --closeOpacity: 1;
}

.activeBtn {
  position: absolute;
  left: 0;
  opacity: var(--closeOpacity);
}

.leftBox {
  position: absolute;
}

.relativeBox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

// left side
.leftBox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 30%;
  top: 20%;
  height: 62%;
  left: 17.5%;
  z-index: 2;
}

.list {
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  padding-right: 1em;
}

.list::-webkit-scrollbar {
  width: 10px;
  color: #ecd27b;
  background-color: #ecd27b;
}

.list::-webkit-scrollbar-track {
  border-radius: 0;
}

.list::-webkit-scrollbar-thumb {
  color: #b29b58;
  background-color: #b29b58;
}

.miniGrid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  row-gap: 1em;
  column-gap: 0.1em;
}

.relativeCardBox {
  position: relative;
  display: flex;
  justify-content: center;
  width: 31.3%;
}

.relativeCardBox:active {
  scale: 0.97;
}

.heroImage {
  width: 87%;
  border-radius: 0.5em;
}

.absoluteHeroBorder {
  position: absolute;
  width: 90%;
  height: 100%;
}

// right side
.rightBox {
  position: absolute;
  width: 30%;
  top: 18%;
  height: 63%;
  right: 17.5%;
}

.relativeBoxRight {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  scale: 0.3;
}

.splitTitle {
  font-size: 1.1em;
  text-align: center;
  color: white;
  font-family: "headerFont";
  background: -webkit-linear-gradient(#f5f2e6, #a8a075);
  -webkit-text-stroke: 1.5px #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-weight: bold;
  width: 100%;
}

.extraSplitTitle {
  margin-top: 4em;
}
