<div
  class="container"
  *ngIf="open"
  [@fadeEnter]="{
    value: '',
    params: { duration: 300, delay: 0 }
  }"
  [@fadeOutLeave]="{
    value: '',
    params: { duration: 300, delay: 0 }
  }"
>
  <div class="optionsMenuBackdrop"></div>
  <div class="overlayBox">
    <img class="overlayPanelBg" src="./assets/book.png" />
    <div class="overlalPanelTitle overlalPanelTitleLeft">Gallery</div>
    <div class="overlalPanelTitle overlalPanelTitleRight">Details</div>
    <!-- Left side -->
    <div class="leftBox">
      <div class="relativeBox">
        <div class="list">
          <h1 class="splitTitle">Heroes</h1>
          <div class="miniGrid">
            <div
              class="relativeCardBox"
              *ngFor="let item of [0, 1, 2, 3, 4, 5, 6, 7]"
            >
              <img src="./assets/players/link.png" class="heroImage" />
              <img
                src="./assets/galleryBorder.png"
                class="absoluteHeroBorder"
              />
            </div>
          </div>
          <h1 class="splitTitle extraSplitTitle">Enemies</h1>
          <div class="miniGrid">
            <div
              class="relativeCardBox"
              *ngFor="let item of [0, 1, 2, 3, 4, 5, 6, 7]"
            >
              <img src="./assets/players/dummy.png" class="heroImage" />
              <img
                src="./assets/galleryBorder.png"
                class="absoluteHeroBorder"
              />
            </div>
          </div>
          <h1 class="splitTitle extraSplitTitle">Bosses</h1>
          <div class="miniGrid">
            <div
              class="relativeCardBox"
              *ngFor="let item of [0, 1, 2, 3, 4, 5, 6, 7]"
            >
              <img src="./assets/players/moblin.png" class="heroImage" />
              <img
                src="./assets/galleryBorder.png"
                class="absoluteHeroBorder"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Right side -->
    <div class="rightBox">
      <div class="relativeBoxRight">
        <img src="./assets/players/link.png" class="detailImage" />
        <div class="healthBoxRight">
          <img src="./assets/default/sword.png" class="iconImg" />
          <div class="iconTextRight">5</div>
        </div>
        <div class="attackBoxRight">
          <img src="./assets/default/playerHealth.png" class="iconImg" />
          <div class="iconTextRight">1</div>
        </div>
      </div>
    </div>
    <div class="closeMenuButtonBox" (click)="closeMenu()">
      <img src="./assets/close.png" class="closeMenuButton" />
      <img src="./assets/closeActive.png" class="closeMenuButton activeBtn" />
    </div>
  </div>
</div>
