@font-face {
  font-family: futureTime;
  src: url("~src/assets/fonts/vinque.otf") format("opentype");
}

@font-face {
  font-family: HeaderFont;
  src: url(~src/assets/fonts/bolder.ttf);
}

body,
html {
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden;
  font-family: futureTime;
  letter-spacing: 2px;
}
