// Default
@font-face {
  font-family: futureTime;
  src: url("~src/assets/a-fonts/vinque.otf") format("opentype");
}

@font-face {
  font-family: headerFont;
  src: url(~src/assets/a-fonts/bolder.ttf);
}

body,
html {
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden;
  letter-spacing: 2px;
}

// Default styles
.default-body {
  font-family: futureTime;
  cursor: url(~src/assets/cursor1.cur), auto;
}

.default-body:active {
  cursor: url(~src/assets/cursor2.cur), auto;
}
